<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="enterpriselibrary.configurationSettings" type="System.Configuration.IgnoreSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <appSettings file="Local.Config">
    <add key="Application.Name" value="AutoImport" />
    <add key="ProcessFolder.Name" value="Processed" />
    <add key="ErrorFolder.Name" value="Errored" />
    <add key="Profile.Name" value="outlook" />
    <add key="Profile.Password" value="donornet" />
    <add key="Email.UserName" value ="importoffer"/>
    <add key="Email.Password" value="importofferstatline" />
    <add key="ActiveDirectory.Domain" value="Doggy"/>
    <add key="WebService.URL" value="https://webmail.statline.org/EWS/Exchange.asmx"/>
    <add key="Timer.Setting" value="0.083" />
    <!-- minutes-->
    <add key="ImportCoordinator.EmployeeID" value="1408" />
    <add key="ImportCoordinator.PersonID" value="1148768" />
    <add key="AutoImportService.AutoLog" value="True" />
    <add key="AutoImportService.CanHandlePowerEvent" value="True" />
    <add key="AutoImportService.CanPauseAndContinue" value="True" />
    <add key="AutoImportService.CanShutdown" value="True" />
    <add key="AutoImportService.CanStop" value="True" />       
  </appSettings>
  <enterpriselibrary.configurationSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" applicationName="Statline.AutoImport.Windows" xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/configuration">
  <configurationSections>
    <configurationSection xsi:type="ReadOnlyConfigurationSectionData" name="dataConfiguration" encrypt="false">
      <storageProvider xsi:type="XmlFileStorageProviderData" name="XML File Storage Provider" path="dataConfiguration.config" />
      <dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer">
        <includeTypes />
      </dataTransformer>
    </configurationSection>
    <configurationSection xsi:type="ReadOnlyConfigurationSectionData" name="loggingConfiguration" encrypt="false">
      <storageProvider xsi:type="XmlFileStorageProviderData" name="XML File Storage Provider" path="loggingConfiguration.config" />
      <dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer">
        <includeTypes />
      </dataTransformer>
    </configurationSection>
    <configurationSection xsi:type="ReadOnlyConfigurationSectionData" name="loggingDistributorConfiguration" encrypt="false">
      <storageProvider xsi:type="XmlFileStorageProviderData" name="XML File Storage Provider" path="loggingDistributorConfiguration.config" />
      <dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer">
        <includeTypes>
          <includeType name="DatabaseSinkData" type="Microsoft.Practices.EnterpriseLibrary.Logging.Sinks.Database.Configuration.DatabaseSinkData, Microsoft.Practices.EnterpriseLibrary.Logging.Sinks.Database, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null" />
        </includeTypes>
      </dataTransformer>
    </configurationSection>
  </configurationSections>
  <keyAlgorithmStorageProvider xsi:nil="true" />
  <includeTypes />
</enterpriselibrary.configurationSettings>
</configuration>