.ng-invalid-feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

.unosIdExists {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #e4671f;
}

.ng-invalid:not(form) {
  border-left: 2px solid #e87b73;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

textarea.ng-invalid {
  border-left: 2px solid #e87b73;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.card {
  border-right: none !important;
  border-left: none !important;
  margin-top: 10px !important;
  border-top: none !important;
  border-bottom: none !important;
}
.card-header {
  font-size: 22px;
  background: rgba(93, 126, 151, 0.17) !important;
  border-left: 1px solid #d7dee5;
  border-right: 1px solid #d7dee5;
  border-top: 1px solid #d7dee5 !important;
  border-radius: 5px !important;
  padding: 6px 0 7px 10px !important;
}

.card-footer {
  text-align: right;
  border: none !important;
  background: #FFF !important;
  border-bottom: 1px solid #d7dee5 !important;
  padding-top: 0 !important;
}

.panel-body {
  background: rgba(0,0,0,.03);
}

.panel-heading.card-header {
  border: none;
  background: rgba(0,0,0,.03) !important;
}

.panel.card.panel-default {
  margin-bottom: 23px;
}
.accordion-toggle {
  padding: 8px 14px 0px 7px !important;
}
#lnkCopy {
  color: #4b93cf;
  font-size: 20px;
  cursor: pointer;
  display: inline-block;
  margin-top: 20px;
}
#lnkCopy:hover{
  text-decoration:underline;
}

.lblDetails{
  color:#9f9f9f;
}

.panel-collapse.collapse.in.show {
  border-left: 1px solid #d7dee5 !important;
  border-right: 1px solid #d7dee5 !important;
  border-bottom: 1px solid #d7dee5 !important;
}

.panel-heading.card-header {
  border-left: 1px solid #d7dee5 !important;
  border-right: 1px solid #d7dee5 !important;
  border-top: 1px solid #d7dee5 !important;
}

.form-check{
  padding-left:0 !important;
}

input[type='radio']{
  transform:scale(1.7);
}

.panel-body.card-block.card-body{
  padding-top:0 !important;
}
.panel-body.card-block.card-body:last-child {
  margin-bottom: 0;
}

.lblCounter {
  background: #cfeaf4;
  width: 35px;
  height: 33px;
  border-radius: 50%;
  text-align: center;
  color: #9a9a9a;
  border: 1px solid #bbdbe6;
  line-height:1.4;
}

.ng-option{
    min-height:35px !important;
}

label {
  margin-bottom:.18em !important;
}

#hr1 {
  border: 0;
  height: 1px;
  background: linear-gradient(to right, #e8e8e8, #b7b7b7, #e8e8e8);
  margin: 7px;
}

.radioParent {
  white-space: nowrap;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 4px;
  padding: 8px 10px 3px 10px;
  display: inline-block;
}

  .radioParent.required {
    border-left: 2px solid #e87b73;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
  }

  .radioParent.satisfactory {
    border-left: 2px solid #28a745;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
  }

input[type=checkbox] {
  transform: scale(1.3);
}

#timer {
  border: 1px solid #fdead1;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0;
  background-color: #fff477;
  padding: 3px 5px;
  color: slategray;
  font-weight: 600;
  text-align:left;
}

.loading {
  background: url('assets/loading.gif') no-repeat right center;
  padding-right:20px;
}
.info {
  background: url('assets/info.png') no-repeat center center;
  background-size: 18px;
  width: 18px;
  height: 18px;
  vertical-align: -2px;
  display: inline-block;
  margin-left: 4px;
  margin-bottom: -3px !important;
  border: none;
}
.info:focus{
    border:none !important;
    outline:none;
}
.tooltip-inner {
  background-color: #444141;
  color: #fff;
}
.tooltip.top .tooltip-arrow:before,
.tooltip.top .tooltip-arrow {
  border-top-color: #514e4e;
}

#validationList {
  color: #dc3545;
  padding-left: 25px;
}

.lblButtonInfo {
  display: inline-block;
  margin-left: 20px;
  color: #aeaeae;
  font-size: 14px;
  vertical-align: -7px;
}

#btnSubmit:disabled{
    cursor:not-allowed;
}
