.igdc_StatlineReportsEditWithButtons
{
	background-color:Transparent;
	border-style:solid;
	border-width:1px;
}


.igdc_StatlineReportsCalendar
{
}


.igdc_StatlineReportsEditInContainer
{
	border-width:0px;
}


.igdc_StatlineReportsButton
{
}


.igdc_StatlineReportsButtonHover
{
}


