<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configBuilders>
    <builders>
      <!-- Docs are here https://docs.microsoft.com/en-us/aspnet/config-builder -->
      <add name="KeyVaultStatRespondSecrets" vaultName="kv-StatTrac-Prod" xdt:Transform="SetAttributes(vaultName)" xdt:Locator="Match(name)" />
    </builders>
  </configBuilders>
  <appSettings file="Local.Config" configBuilders="KeyVaultStatRespondSecrets">
    <add key="ErrorFolder.Name" value="_AlphaPage_Errors" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key="ProcessFolder.Name" value="_AlphaPage_Processed" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key="Email.UserName" value ="pgrrspnse@mtf.org" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key="Email.Password" value="abimqgaz" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key="ApplicationInsights.ConnectionString" value="InstrumentationKey=43d0ffba-2fec-439f-a78b-9e61d6724a2e;IngestionEndpoint=https://centralus-0.in.applicationinsights.azure.com/;LiveEndpoint=https://centralus.livediagnostics.monitor.azure.com/" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings>
    <!--sqlrpt-->
    <add name="Logging" connectionString="Data Source=10.14.0.140;Initial Catalog=Logging;User ID=stReportlogUser;Password=P0voXGPoYAgXshcmteg3;" xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)" />
    <!--stsqloltp-->
    <add name="Transaction" connectionString="Data Source=10.14.0.139;Initial Catalog=_ReferralProd;User ID=StSqlRespondUser;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)" />
    <!--sqlrpt-->
    <add name="Reporting" connectionString="Data Source=10.14.0.140;Initial Catalog=_ReferralProdReport;User ID=StSqlRespondUser;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)" />
  </connectionStrings>
  <dataConfiguration defaultDatabase="Transaction" />
  <loggingConfiguration name="Logging Application Block" tracingEnabled="false" defaultCategory="StatTrac" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add name="ClientServicesEmail"
        toAddress="it_devoncall@mtf.org"
        xdt:Transform="SetAttributes(toAddress)" xdt:Locator="Match(name)" />
      <add name="EmailOPSListener"
        toAddress="TriageLeadershipTeam@statline.org;"
        xdt:Transform="SetAttributes(toAddress)" xdt:Locator="Match(name)" />
    </listeners>
  </loggingConfiguration>
</configuration>