.igdv_StatlineReportsControl
{
	border:solid 1px Silver;
}


.igdv_StatlineReportsCaptionHeader
{
	background-color:Silver;
	background-repeat:repeat-x;
	font-weight:bold;
	font-size:8pt;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 16px;
	height: 17px;
	color:Black;
	text-align:center;
}


.igdv_StatlineReportsDayHeader
{
	font-size:8pt;
	font-family: Arial, Helvetica, sans-serif;
	border:solid 1px #F4F4F4;
	border-right-color:#999999;
	padding-left:2px;
	height: 20px;
	white-space: nowrap;
	color:Black;
	text-align:center;
	vertical-align:middle;
}


.igdv_StatlineReportsNonWorkingTimeSlot
{
	background-color:Gainsboro;
	border-right:solid 1px Silver;
	border-bottom:solid 1px Silver;
	height: 20px;
}


.igdv_StatlineReportsWorkingTimeSlot
{
	background-color:White;
	border-right:solid 1px Silver;
	border-bottom:solid 1px Silver;
	height: 20px;
}


.igdv_StatlineReportsAllDayEventArea
{
	background-color:#FAFAFA;
}


.igdv_StatlineReportsAllDayEvent
{
	background-color:WhiteSmoke;
	font-size:8pt;
	font-family: Tahoma,Verdana;
	border-width:1px;
	border-color:Silver;
	padding-left:3px;
	height: 25px;
	white-space: nowrap;
	text-align:center;
}


.igdv_StatlineReportsAppointment
{
	background-color:Silver;
	font-size:8pt;
	font-family: Tahoma,Verdana;
	border:solid 1px #999999;
	line-height: 16px;
}


.igdv_StatlineReportsActivityEdge
{
	font-size:1px;
	height: 4px;
	cursor:n-resize;
}


.igdv_StatlineReportsActivityEdgeLeft
{
	font-size:2px;
	width: 6px;
	cursor:move;
}


.igdv_StatlineReportsTodayHeader
{
	background-color:Gainsboro;
	background-repeat:repeat-x;
	border-width:0px;
	height: 17px;
	color:Black;
}


.igdv_StatlineReportsTimeSlotLabel
{
	font-size:16pt;
	font-family: Arial, Helvetica, sans-serif;
	border-right:solid 1px Silver;
	border-bottom:solid 1px Silver;
	width: 60px;
	text-align:center;
	vertical-align:top;
}


.igdv_StatlineReportsTimeSlotLabelMinutes
{
	font-size:8pt;
	font-family: Arial, Helvetica, sans-serif;
}


.igdv_StatlineReportsAllDayEventSelected
{
	background-color:#D0D0D0;
	border-top-width:2px;
	border-bottom-width:2px;
}


.igdv_StatlineReportsAllDayEventAreaSelected
{
	background-color:White;
}


.igdv_StatlineReportsActivityHover
{
	z-index: 10000;
}


.igdv_StatlineReportsActivityEdgeBusy
{
	background-color:#E6EDF7;
}


.igdv_StatlineReportsActivityEdgeTentative
{
	background-color:#90C0FF;
}


.igdv_StatlineReportsActivityEdgeOutofOffice
{
	background-color:#900090;
}


.igdv_StatlineReportsActivityEdgeFree
{
	background-color:#F0F0F0;
}


.igdv_StatlineReportsNavigationButton
{
	background-color:Transparent;
	border-width:0px;
	width: 17px;
	vertical-align:middle;
}


.igdv_StatlineReportsSelectedAppointment
{
	z-index: 9999;
}


