<?xml version="1.0"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <dataConfiguration defaultDatabase="Production" xdt:Transform="Replace" />
  <connectionStrings>
    <add name="Logging" connectionString="Data Source=10.14.0.140;Initial Catalog=Logging;User ID=stLoggingUser;Password=HyjoZyyhiAY4p21mQfdE;" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="Backup" connectionString="Data Source=10.14.0.140;Initial Catalog=_ReferralProd;User ID=stSqlBackupUser;Password=8JbqErKH01k06wZUgHXx;" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="BackupProduction" connectionString="Data Source=10.14.0.140;Initial Catalog=_ReferralProd;User ID=stSqlBackupUser;Password=8JbqErKH01k06wZUgHXx;" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="Production" connectionString="Data Source=10.14.0.139;Initial Catalog=_ReferralProd;User ID=StSqlStatTracUser;Password=3avYaATknaFUOnlivN5x;" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="ProductionArchive" connectionString="Data Source=10.14.0.140;Initial Catalog=_ReferralProd;User ID=stArchiveUser;Password=Jptcb70IQGeiSo6Ycxmm;" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="Training" connectionString="Data Source=10.14.0.140;Initial Catalog=_ReferralTraining;User ID=StSqlTrainingUser;Password=EUcUzkOVpxQ3fDR5YJoX;" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="MailServerFrom" value="statservices@statline.org" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="MailServerTo" value="helpdesk@statline.org" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RegistryApiClient--ServerUrl" value="https://www.donoregistry.org/API/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ApplicationInsightsInstrumentationKey" value="e54797e4-8538-4734-8fec-cfceb0f28d92" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <loggingConfiguration name="Logging Application Block">
    <listeners>
      <add name="ClientServicesEmail" toAddress="serviceconsultant@statline.org" xdt:Transform="SetAttributes(toAddress)" xdt:Locator="Match(name)" />
    </listeners>
  </loggingConfiguration>
</configuration>