<?xml version="1.0"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Backup" connectionString="Data Source=10.14.0.140;Initial Catalog=_ReferralProd;User ID=stSqlBackupUser;Password=8JbqErKH01k06wZUgHXx;" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="BackupProduction" connectionString="Data Source=10.14.0.140;Initial Catalog=_ReferralProd;User ID=stSqlBackupUser;Password=8JbqErKH01k06wZUgHXx;" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="Production" connectionString="Data Source=10.14.0.139;Initial Catalog=_ReferralProd;User ID=StSqlStatTracUser;Password=3avYaATknaFUOnlivN5x;" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="ProductionArchive" connectionString="Data Source=10.14.0.140;Initial Catalog=_ReferralProd;User ID=stArchiveUser;Password=Jptcb70IQGeiSo6Ycxmm;" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="Training" connectionString="Data Source=10.14.0.140;Initial Catalog=_ReferralTraining;User ID=StSqlTrainingUser;Password=EUcUzkOVpxQ3fDR5YJoX;" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="RegistryApiClient--ServerUrl" value="https://test.donoregistry.org/API/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>