<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="securityConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Security.Configuration.SecuritySettings, Microsoft.Practices.EnterpriseLibrary.Security, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Statline.Stattrac.Windows.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <securityConfiguration defaultAuthorizationInstance="AuthorizationRuleProvider">
    <authorizationProviders>
      <add type="Statline.Stattrac.Security.AuthorizationRuleProvider, Statline.Stattrac.Security, Culture=neutral" name="AuthorizationRuleProvider"/>
    </authorizationProviders>
  </securityConfiguration>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="false" defaultCategory="StatTrac" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add name="Database Trace Listener" 
           type="Microsoft.Practices.EnterpriseLibrary.Logging.Database.FormattedDatabaseTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging.Database" 
           listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Database.Configuration.FormattedDatabaseTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging.Database" 
           databaseInstanceName="Logging" 
           writeLogStoredProcName="WriteLog" 
           addCategoryStoredProcName="AddCategory" 
           formatter="Database Formatter" 
           traceOutputOptions="Callstack" 
           filter="All"/>
      <add name="ClientServicesEmail" 
           type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.EmailTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" 
           listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.EmailTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" 
           toAddress="donortracdev@statline.org" 
           fromAddress="statservices@statline.org" 
           smtpServer="d253060.o.ess.barracudanetworks.com" 
           smtpPort="25"
           useSSL="false" 
           formatter="ClientServicesNotificationFormatter" 
           authenticationMode="None" 
           userName="statservices@statline.org" 
           password="" 
           traceOutputOptions="None"/>
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" 
           template="{dictionary(&lt;error key='{key}' value='{value}' /&gt;)}" 
           name="Database Formatter"/>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" 
           template="{timestamp(local)}&#xA;{message}&#xA;&#xA;" 
           name="ClientServicesNotificationFormatter"/>
    </formatters>
    <categorySources>
      <add switchValue="All" name="StatTrac">
        <listeners>
          <add name="Database Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="All" autoFlush="false" name="ClientServicesNotification">
        <listeners>
          <add name="ClientServicesEmail"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events"/>
      <notProcessed switchValue="All" name="Unprocessed Category"/>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Database Trace Listener"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <dataConfiguration defaultDatabase="Test"/>
  <connectionStrings>
    <add name="Logging" connectionString="Data Source=10.14.0.135;Initial Catalog=Logging;User ID=StSqlTestUser;Password=1al^K0@WA3sBE8;" providerName="System.Data.SqlClient"/>
    <add name="Test" connectionString="Data Source=10.14.0.135;Initial Catalog=_ReferralTest;User ID=StSqlTestUser;Password=1al^K0@WA3sBE8;" providerName="System.Data.SqlClient"/>
    <add name="Backup" connectionString="Data Source=10.14.0.140;Initial Catalog=_ReferralProd;User ID=stSqlBackupUser;Password=8JbqErKH01k06wZUgHXx;" providerName="System.Data.SqlClient"/>
    <add name="BackupProduction" connectionString="Data Source=10.14.0.140;Initial Catalog=_ReferralProd;User ID=stSqlBackupUser;Password=8JbqErKH01k06wZUgHXx;" providerName="System.Data.SqlClient"/>
    <add name="Production" connectionString="Data Source=10.14.0.139;Initial Catalog=_ReferralProd;User ID=StSqlStatTracUser;Password=3avYaATknaFUOnlivN5x;" providerName="System.Data.SqlClient"/>
    <add name="ProductionArchive" connectionString="Data Source=10.14.0.140;Initial Catalog=_ReferralProd;User ID=stArchiveUser;Password=Jptcb70IQGeiSo6Ycxmm;" providerName="System.Data.SqlClient"/>
    <add name="Training" connectionString="Data Source=10.14.0.140;Initial Catalog=_ReferralTraining;User ID=StSqlTrainingUser;Password=EUcUzkOVpxQ3fDR5YJoX;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="Statline.Stattrac.Constant.FrameworkCnst.AuthenticationType" value="WindowsAuthentication"/>
    <add key="Command.Timeout" value="25"/>
    <add key="QueryRetryIntervalInSeconds" value="1"/>
    <add key="QueryAttemptLimit" value="3"/>
    <add key="Database.Error" value="The application has experienced an error accessing the database."/>
    <add key="ApplicationName" value="Stattrac"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="DonorTracURLDefault" value="https://www.donortrac.org"/>
    <add key="CriteriaProcessorDefaultOrganizationType" value="1"/>
    <add key="CriteriaCallTypeGroup" value="Referral,OASIS"/>
    <add key="MailServer" value="d253060.o.ess.barracudanetworks.com"/>
    <add key="MailServerPort" value="25"/>
    <add key="MailServerUserName" value="statservices@statline.org"/>
    <add key="MailServerPassword" value=""/>
    <add key="MailServerFrom" value="teststatrespond@statline.org"/>
    <add key="MailServerTo" value="donortracdev@statline.org"/>
    <add key="RegistryApiClient--ServerUrl" value="http://192.168.71.116/" />
    <add key="RegistryApiClient--Credentials--UserName" value="ApiAdmin" />
    <add key="RegistryApiClient--Credentials--Password" value="{50ADAB2A-63C1-4919-B25F-87E213247FDD86DCB549-AE5A-45CC-B8C3-6C0124A21CC04AD9BC1D-ED75-4781-91F7-AD641112C1DB}" />
    <!-- More on this setting here: https://docs.microsoft.com/en-us/dotnet/api/system.net.servicepoint.connectionleasetimeout
    We use non-default value to force connections recreation to ensure
    DNS updates are not missed by the shared HTTP client.
    To set the lease to its system default value use "-00:00:00.001" (-1 milliseconds).
    Note here we use TimeSpan format.
    -->
    <add key="ApiConnectionLeaseTimeout" value="00:05:00"/>
    <add key="RegistryServiceTimeoutLimit" value="20000"/>
    <add key="RegistryServiceErrorMessage" value="The Registry service cannot be reached at this time.  If this problem persists, contact your system administrator."/>
    <add key="RegistryServiceErrorTitle" value="Donor Search Error - Registry"/>
    <add key="MinimumAvailableMemoryInKb" value="500000"/>
    <!-- MinimumAvailableMemoryInKb reflects the minimum number of available kilobytes the user's workstation needs to have or a low memory warning will appear. -->
    <add key="LongRunningQueryTimeLimit" value="8"/>
    <add key="LoadGridsMaxAttempts" value="3"/>
    
    <add key="ApplicationInsightsInstrumentationKey" value="f2293cc6-82c7-4b70-a05f-30c09a40c426"/>
  </appSettings>
  <configProtectedData>
    <providers>
      <add name="StatTracProtectedConfigurationProvider" type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0,                     
           Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a,processorArchitecture=MSIL" keyContainerName="StatTracKey" useMachineContainer="true"/>
    </providers>
  </configProtectedData>
  <applicationSettings>
    <Statline.Stattrac.Windows.UI.Properties.Settings>
      <setting name="UnosUrl" serializeAs="String">
        <value>https://portal.unos.org</value>
      </setting>
      <setting name="UnosUserId" serializeAs="String">
        <value>statlinesystem</value>
      </setting>
      <setting name="UnosPassword" serializeAs="String">
        <value>ohcc2011</value>
      </setting>
    </Statline.Stattrac.Windows.UI.Properties.Settings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>