if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Referral_CallCountSummary]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Referral_CallCountSummary]
GO

CREATE TABLE [dbo].[Referral_CallCountSummary] (
	[YearID] [int] NULL ,
	[MonthID] [int] NULL ,
	[DayID] [int] NULL ,
	[OrganizationID] [int] NULL ,
	[SourceCodeID] [int] NULL ,
	[UnknownOTE] [smallint] NULL ,
	[UnknownTissue] [smallint] NULL ,
	[UnknownTE] [smallint] NULL ,
	[UnknownEye] [smallint] NULL ,
	[UnknownAgeRO] [smallint] NULL ,
	[UnknownMedRO] [smallint] NULL ,
	[UnknownOther] [smallint] NULL ,
	[UnknownOtherEye] [smallint] NULL ,
	[ConsentedOTE] [smallint] NULL ,
	[ConsentedTissue] [smallint] NULL ,
	[ConsentedTE] [smallint] NULL ,
	[ConsentedEye] [smallint] NULL ,
	[ConsentedAgeRO] [smallint] NULL ,
	[ConsentedMedRO] [smallint] NULL ,
	[ConsentedOther] [smallint] NULL ,
	[ConsentedOtherEye] [smallint] NULL ,
	[DeniedOTE] [smallint] NULL ,
	[DeniedTissue] [smallint] NULL ,
	[DeniedTE] [smallint] NULL ,
	[DeniedEye] [smallint] NULL ,
	[DeniedAgeRO] [smallint] NULL ,
	[DeniedMedRO] [smallint] NULL ,
	[DeniedOther] [smallint] NULL ,
	[DeniedOtherEye] [smallint] NULL ,
	[NotApprchOTE] [smallint] NULL ,
	[NotApprchTissue] [smallint] NULL ,
	[NotApprchTE] [smallint] NULL ,
	[NotApprchEye] [smallint] NULL ,
	[NotApprchAgeRO] [smallint] NULL ,
	[NotApprchMedRO] [smallint] NULL ,
	[NotApprchOther] [smallint] NULL ,
	[NotApprchOtherEye] [smallint] NULL, 
	[TotOTE] [int] NULL,
	[TotTissue] [int] NULL,
	[TotTE] [int] NULL,
	[TotEye] [int] NULL,
	[TotAgeRO] [int] NULL,
	[TotMedRO] [int] NULL,
	[TotOther] [int] NULL,
	[TotOtherEye] [int] NULL,
	[TotRO] [int] NULL
) ON [PRIMARY]
GO


