if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Referral_ApproachCount]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Referral_ApproachCount]
GO

CREATE TABLE [dbo].[Referral_ApproachCount] (
	[YearID] [int] NOT NULL ,
	[MonthID] [int] NOT NULL ,
	[SourceCodeId] [int] NULL ,
	[OrganizationID] [int] NOT NULL ,
	[PreRefFamilyApproach] [int] NULL ,
	[PreRefFacilityApproach] [int] NULL ,
	[PostRefApproach] [int] NULL ,
	[NotApproached] [int] NULL ,
	[UnknownApproach] [int] NULL ,
	[RegistryApproach] [int] NULL ,
	[O_PreRef_Approached_DR] [int] NULL ,
	[O_PreRef_Approached_NonDR] [int] NULL ,
	[O_PreRef_Consented_Family] [int] NULL ,
	[O_PreRef_Consented_DR] [int] NULL ,
	[O_PreRef_Consented_NonDR] [int] NULL ,
	[O_PostRef_Approached_DR] [int] NULL ,
	[O_PostRef_Approached_NonDR] [int] NULL ,
	[O_PostRef_Consented_DR] [int] NULL ,
	[O_PostRef_Consented_NonDR] [int] NULL ,
	[T_PreRef_Approached_DR] [int] NULL ,
	[T_PreRef_Approached_NonDR] [int] NULL ,
	[T_PreRef_Consented_Family] [int] NULL ,
	[T_PreRef_Consented_DR] [int] NULL ,
	[T_PreRef_Consented_NonDR] [int] NULL ,
	[T_PostRef_Approached_DR] [int] NULL ,
	[T_PostRef_Approached_NonDR] [int] NULL ,
	[T_PostRef_Consented_DR] [int] NULL ,
	[T_PostRef_Consented_NonDR] [int] NULL ,
	[E_PreRef_Approached_DR] [int] NULL ,
	[E_PreRef_Approached_NonDR] [int] NULL ,
	[E_PreRef_Consented_Family] [int] NULL ,
	[E_PreRef_Consented_DR] [int] NULL ,
	[E_PreRef_Consented_NonDR] [int] NULL ,
	[E_PostRef_Approached_DR] [int] NULL ,
	[E_PostRef_Approached_NonDR] [int] NULL ,
	[E_PostRef_Consented_DR] [int] NULL ,
	[E_PostRef_Consented_NonDR] [int] NULL ,
	[A_PreRef_Approached_DR] [int] NULL ,
	[A_PreRef_Approached_NonDR] [int] NULL ,
	[A_PreRef_Consented_Family] [int] NULL ,
	[A_PreRef_Consented_DR] [int] NULL ,
	[A_PreRef_Consented_NonDR] [int] NULL ,
	[A_PostRef_Approached_DR] [int] NULL ,
	[A_PostRef_Approached_NonDR] [int] NULL ,
	[A_PostRef_Consented_DR] [int] NULL ,
	[A_PostRef_Consented_NonDR] [int] NULL ,
	[O_Registry_Approached] [int] NULL ,
	[O_Registry_Consented] [int] NULL ,
	[T_Registry_Approached] [int] NULL ,
	[T_Registry_Consented] [int] NULL ,
	[E_Registry_Approached] [int] NULL ,
	[E_Registry_Consented] [int] NULL ,
	[A_Registry_Approached] [int] NULL ,
	[A_Registry_Consented] [int] NULL ,
	[O_FamilyInitiated_Approached_DR] [int] NULL ,
	[O_FamilyInitiated_Approached_NonDR] [int] NULL ,
	[T_FamilyInitiated_Approached_DR] [int] NULL ,
	[T_FamilyInitiated_Approached_NonDR] [int] NULL ,
	[E_FamilyInitiated_Approached_DR] [int] NULL ,
	[E_FamilyInitiated_Approached_NonDR] [int] NULL ,
	[A_FamilyInitiated_Approached_DR] [int] NULL ,
	[A_FamilyInitiated_Approached_NonDR] [int] NULL 
) ON [PRIMARY]
GO


