if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Referral_AppropriateReasonCount]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Referral_AppropriateReasonCount]
GO

CREATE TABLE [dbo].[Referral_AppropriateReasonCount] (
	[YearID] [int] NULL ,
	[MonthID] [int] NULL ,
	[SourceCodeID] [int] NULL ,
	[OrganizationID] [int] NULL ,
	[AllTypes] [int] NULL ,
	[AppropriateOrgan] [int] NULL ,
	[AppropriateBone] [int] NULL ,
	[AppropriateTissue] [int] NULL ,
	[AppropriateSkin] [int] NULL ,
	[AppropriateValves] [int] NULL ,
	[AppropriateEyes] [int] NULL ,
	[AppropriateOther] [int] NULL ,
	[AppropriateAllTissue] [int] NULL ,
	[AppropriateOrganUnAppropriate] [int] NULL ,
	[AppropriateBoneUnAppropriate] [int] NULL ,
	[AppropriateTissueUnAppropriate] [int] NULL ,
	[AppropriateSkinUnAppropriate] [int] NULL ,
	[AppropriateValvesUnAppropriate] [int] NULL ,
	[AppropriateEyesUnAppropriate] [int] NULL ,
	[AppropriateOtherUnAppropriate] [int] NULL ,
	[AppropriateAllTissueUnAppropriate] [int] NULL ,
	[AppropriateOrganAge] [int] NULL ,
	[AppropriateBoneAge] [int] NULL ,
	[AppropriateTissueAge] [int] NULL ,
	[AppropriateSkinAge] [int] NULL ,
	[AppropriateValvesAge] [int] NULL ,
	[AppropriateEyesAge] [int] NULL ,
	[AppropriateOtherAge] [int] NULL ,
	[AppropriateAllTissueAge] [int] NULL ,
	[AppropriateOrganHighRisk] [int] NULL ,
	[AppropriateBoneHighRisk] [int] NULL ,
	[AppropriateTissueHighRisk] [int] NULL ,
	[AppropriateSkinHighRisk] [int] NULL ,
	[AppropriateValvesHighRisk] [int] NULL ,
	[AppropriateEyesHighRisk] [int] NULL ,
	[AppropriateOtherHighRisk] [int] NULL ,
	[AppropriateAllTissueHighRisk] [int] NULL ,
	[AppropriateOrganMedRO] [int] NULL ,
	[AppropriateBoneMedRO] [int] NULL ,
	[AppropriateTissueMedRO] [int] NULL ,
	[AppropriateSkinMedRO] [int] NULL ,
	[AppropriateValvesMedRO] [int] NULL ,
	[AppropriateEyesMedRO] [int] NULL ,
	[AppropriateOtherMedRO] [int] NULL ,
	[AppropriateAllTissueMedRO] [int] NULL ,
	[AppropriateOrganNotAppropriate] [int] NULL ,
	[AppropriateBoneNotAppropriate] [int] NULL ,
	[AppropriateTissueNotAppropriate] [int] NULL ,
	[AppropriateSkinNotAppropriate] [int] NULL ,
	[AppropriateValvesNotAppropriate] [int] NULL ,
	[AppropriateEyesNotAppropriate] [int] NULL ,
	[AppropriateOtherNotAppropriate] [int] NULL ,
	[AppropriateAllTissueNotAppropriate] [int] NULL ,
	[AppropriateOrganPreviousVent] [int] NULL ,
	[AppropriateBonePreviousVent] [int] NULL ,
	[AppropriateTissuePreviousVent] [int] NULL ,
	[AppropriateSkinPreviousVent] [int] NULL ,
	[AppropriateValvesPreviousVent] [int] NULL ,
	[AppropriateEyesPreviousVent] [int] NULL ,
	[AppropriateOtherPreviousVent] [int] NULL ,
	[AppropriateAllTissuePreviousVent] [int] NULL ,
	[AppropriateRO] [int] NULL ,
	[AppropriateOrganReg] [int] NULL ,
	[AppropriateBoneReg] [int] NULL ,
	[AppropriateTissueReg] [int] NULL ,
	[AppropriateSkinReg] [int] NULL ,
	[AppropriateValvesReg] [int] NULL ,
	[AppropriateEyesReg] [int] NULL ,
	[AppropriateOtherReg] [int] NULL ,
	[AppropriateAllTissueReg] [int] NULL ,
	[AppropriateOrganNReg] [int] NULL ,
	[AppropriateBoneNReg] [int] NULL ,
	[AppropriateTissueNReg] [int] NULL ,
	[AppropriateSkinNReg] [int] NULL ,
	[AppropriateValvesNReg] [int] NULL ,
	[AppropriateEyesNReg] [int] NULL ,
	[AppropriateOtherNReg] [int] NULL ,
	[AppropriateAllTissueNReg] [int] NULL ,
	[AppropriateOrganNoNeuroInjury] [int] NULL ,
	[AppropriateBoneNoNeuroInjury] [int] NULL ,
	[AppropriateTissueNoNeuroInjury] [int] NULL ,
	[AppropriateSkinNoNeuroInjury] [int] NULL ,
	[AppropriateValvesNoNeuroInjury] [int] NULL ,
	[AppropriateEyesNoNeuroInjury] [int] NULL ,
	[AppropriateOtherNoNeuroInjury] [int] NULL ,
	[AppropriateAllTissueNoNeuroInjury] [int] NULL 
) ON [PRIMARY]
GO


