if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Referral_TypeCount]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Referral_TypeCount]
GO

CREATE TABLE [dbo].[Referral_TypeCount] (
	[YearID] [int] NOT NULL ,
	[MonthID] [int] NOT NULL ,
	[SourceCodeID] [int] NULL ,
	[OrganizationID] [int] NOT NULL ,
	[AllTypes] [int] NULL ,
	[OTEType] [int] NULL ,
	[TEType] [int] NULL ,
	[EType] [int] NULL ,
	[ROType] [int] NULL ,
	[AgeROType] [int] NULL ,
	[MedROType] [int] NULL ,
	[RegistryType] [int] NULL ,
	[AppropriateOrgan] [int] NULL ,
	[AppropriateBone] [int] NULL ,
	[AppropriateTissue] [int] NULL ,
	[AppropriateSkin] [int] NULL ,
	[AppropriateValves] [int] NULL ,
	[AppropriateEyes] [int] NULL ,
	[AppropriateOther] [int] NULL ,
	[ApproachOrgan] [int] NULL ,
	[ApproachBone] [int] NULL ,
	[ApproachTissue] [int] NULL ,
	[ApproachSkin] [int] NULL ,
	[ApproachValves] [int] NULL ,
	[ApproachEyes] [int] NULL ,
	[ApproachOther] [int] NULL ,
	[ConsentOrgan] [int] NULL ,
	[ConsentBone] [int] NULL ,
	[ConsentTissue] [int] NULL ,
	[ConsentSkin] [int] NULL ,
	[ConsentValves] [int] NULL ,
	[ConsentEyes] [int] NULL ,
	[ConsentOther] [int] NULL ,
	[RecoveryOrgan] [int] NULL ,
	[RecoveryBone] [int] NULL ,
	[RecoveryTissue] [int] NULL ,
	[RecoverySkin] [int] NULL ,
	[RecoveryValves] [int] NULL ,
	[RecoveryEyes] [int] NULL ,
	[RecoveryOther] [int] NULL ,
	[AppropriateAllTissue] [int] NULL ,
	[ApproachAllTissue] [int] NULL ,
	[ConsentAllTissue] [int] NULL ,
	[RecoveryAllTissue] [int] NULL ,
	[AnyAppropriate] [int] NULL ,
	[Approach_Reg] [int] NULL 
) ON [PRIMARY]
GO


