if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Referral_ApproachReasonCount]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Referral_ApproachReasonCount]
GO

CREATE TABLE [dbo].[Referral_ApproachReasonCount] (
	[YearID] [int] NULL ,
	[MonthID] [int] NULL ,
	[SourceCodeID] [int] NULL ,
	[OrganizationID] [int] NULL ,
	[AllTypes] [int] NULL ,
	[ApproachOrgan] [int] NULL ,
	[ApproachBone] [int] NULL ,
	[ApproachTissue] [int] NULL ,
	[ApproachSkin] [int] NULL ,
	[ApproachValves] [int] NULL ,
	[ApproachEyes] [int] NULL ,
	[ApproachOther] [int] NULL ,
	[ApproachAllTissue] [int] NULL ,
	[ApproachOrganNotApproached] [int] NULL ,
	[ApproachBoneNotApproached] [int] NULL ,
	[ApproachTissueNotApproached] [int] NULL ,
	[ApproachSkinNotApproached] [int] NULL ,
	[ApproachValvesNotApproached] [int] NULL ,
	[ApproachEyesNotApproached] [int] NULL ,
	[ApproachOtherNotApproached] [int] NULL ,
	[ApproachAllTissueNotApproached] [int] NULL ,
	[ApproachOrganUnknown] [int] NULL ,
	[ApproachBoneUnknown] [int] NULL ,
	[ApproachTissueUnknown] [int] NULL ,
	[ApproachSkinUnknown] [int] NULL ,
	[ApproachValvesUnknown] [int] NULL ,
	[ApproachEyesUnknown] [int] NULL ,
	[ApproachOtherUnknown] [int] NULL ,
	[ApproachAllTissueUnknown] [int] NULL ,
	[ApproachOrganFamilyUnavailable] [int] NULL ,
	[ApproachBoneFamilyUnavailable] [int] NULL ,
	[ApproachTissueFamilyUnavailable] [int] NULL ,
	[ApproachSkinFamilyUnavailable] [int] NULL ,
	[ApproachValvesFamilyUnavailable] [int] NULL ,
	[ApproachEyesFamilyUnavailable] [int] NULL ,
	[ApproachOtherFamilyUnavailable] [int] NULL ,
	[ApproachAllTissueFamilyUnavailable] [int] NULL ,
	[ApproachOrganCoronerRuleout] [int] NULL ,
	[ApproachBoneCoronerRuleout] [int] NULL ,
	[ApproachTissueCoronerRuleout] [int] NULL ,
	[ApproachSkinCoronerRuleout] [int] NULL ,
	[ApproachValvesCoronerRuleout] [int] NULL ,
	[ApproachEyesCoronerRuleout] [int] NULL ,
	[ApproachOtherCoronerRuleout] [int] NULL ,
	[ApproachAllTissueCoronerRuleout] [int] NULL ,
	[ApproachOrganArrest] [int] NULL ,
	[ApproachBoneArrest] [int] NULL ,
	[ApproachTissueArrest] [int] NULL ,
	[ApproachSkinArrest] [int] NULL ,
	[ApproachValvesArrest] [int] NULL ,
	[ApproachEyesArrest] [int] NULL ,
	[ApproachOtherArrest] [int] NULL ,
	[ApproachAllTissueArrest] [int] NULL ,
	[ApproachOrganMedRO] [int] NULL ,
	[ApproachBoneMedRO] [int] NULL ,
	[ApproachTissueMedRO] [int] NULL ,
	[ApproachSkinMedRO] [int] NULL ,
	[ApproachValvesMedRO] [int] NULL ,
	[ApproachEyesMedRO] [int] NULL ,
	[ApproachOtherMedRO] [int] NULL ,
	[ApproachAllTissueMedRO] [int] NULL ,
	[ApproachOrganTimeLogistics] [int] NULL ,
	[ApproachBoneTimeLogistics] [int] NULL ,
	[ApproachTissueTimeLogistics] [int] NULL ,
	[ApproachSkinTimeLogistics] [int] NULL ,
	[ApproachValvesTimeLogistics] [int] NULL ,
	[ApproachEyesTimeLogistics] [int] NULL ,
	[ApproachOtherTimeLogistics] [int] NULL ,
	[ApproachAllTissueTimeLogistics] [int] NULL ,
	[ApproachOrganNeverBrainDead] [int] NULL ,
	[ApproachBoneNeverBrainDead] [int] NULL ,
	[ApproachTissueNeverBrainDead] [int] NULL ,
	[ApproachSkinNeverBrainDead] [int] NULL ,
	[ApproachValvesNeverBrainDead] [int] NULL ,
	[ApproachEyesNeverBrainDead] [int] NULL ,
	[ApproachOtherNeverBrainDead] [int] NULL ,
	[ApproachAllTissueNeverBrainDead] [int] NULL ,
	[ApproachOrganHighRisk] [int] NULL ,
	[ApproachBoneHighRisk] [int] NULL ,
	[ApproachTissueHighRisk] [int] NULL ,
	[ApproachSkinHighRisk] [int] NULL ,
	[ApproachValvesHighRisk] [int] NULL ,
	[ApproachEyesHighRisk] [int] NULL ,
	[ApproachOtherHighRisk] [int] NULL ,
	[ApproachAllTissueHighRisk] [int] NULL ,
	[ApproachOrganUnapproachable] [int] NULL ,
	[ApproachBoneUnapproachable] [int] NULL ,
	[ApproachTissueUnapproachable] [int] NULL ,
	[ApproachSkinUnapproachable] [int] NULL ,
	[ApproachValvesUnapproachable] [int] NULL ,
	[ApproachEyesUnapproachable] [int] NULL ,
	[ApproachOtherUnapproachable] [int] NULL ,
	[ApproachAllTissueUnapproachable] [int] NULL ,
	[AppropriateRO] [int] NULL ,
	[ApproachOrganReg] [int] NULL ,
	[ApproachBoneReg] [int] NULL ,
	[ApproachTissueReg] [int] NULL ,
	[ApproachSkinReg] [int] NULL ,
	[ApproachValvesReg] [int] NULL ,
	[ApproachEyesReg] [int] NULL ,
	[ApproachOtherReg] [int] NULL ,
	[ApproachAllTissueReg] [int] NULL ,
	[ApproachOrganDMVReg] [int] NULL ,
	[ApproachBoneDMVReg] [int] NULL ,
	[ApproachTissueDMVReg] [int] NULL ,
	[ApproachSkinDMVReg] [int] NULL ,
	[ApproachValvesDMVReg] [int] NULL ,
	[ApproachEyesDMVReg] [int] NULL ,
	[ApproachOtherDMVReg] [int] NULL ,
	[ApproachAllTissueDMVReg] [int] NULL ,
	[ApproachOrganDRReg] [int] NULL ,
	[ApproachBoneDRReg] [int] NULL ,
	[ApproachTissueDRReg] [int] NULL ,
	[ApproachSkinDRReg] [int] NULL ,
	[ApproachValvesDRReg] [int] NULL ,
	[ApproachEyesDRReg] [int] NULL ,
	[ApproachOtherDRReg] [int] NULL ,
	[ApproachAllTissueDRReg] [int] NULL ,
	[ApproachOrganSecondaryRO] [int] NULL ,
	[ApproachBoneSecondaryRO] [int] NULL ,
	[ApproachTissueSecondaryRO] [int] NULL ,
	[ApproachSkinSecondaryRO] [int] NULL ,
	[ApproachValvesSecondaryRO] [int] NULL ,
	[ApproachEyesSecondaryRO] [int] NULL ,
	[ApproachOtherSecondaryRO] [int] NULL ,
	[ApproachAllTissueSecondaryRO] [int] NULL ,
	[ApproachOrganPrevDiscussion] [int] NULL ,
	[ApproachBonePrevDiscussion] [int] NULL ,
	[ApproachTissuePrevDiscussion] [int] NULL ,
	[ApproachSkinPrevDiscussion] [int] NULL ,
	[ApproachValvesPrevDiscussion] [int] NULL ,
	[ApproachEyesPrevDiscussion] [int] NULL ,
	[ApproachOtherPrevDiscussion] [int] NULL ,
	[ApproachAllTissuePrevDiscussion] [int] NULL ,
	[ApproachOrganNotPronounced] [int] NULL ,
	[ApproachBoneNotPronounced] [int] NULL ,
	[ApproachTissueNotPronounced] [int] NULL ,
	[ApproachSkinNotPronounced] [int] NULL ,
	[ApproachValvesNotPronounced] [int] NULL ,
	[ApproachEyesNotPronounced] [int] NULL ,
	[ApproachOtherNotPronounced] [int] NULL ,
	[ApproachAllTissueNotPronounced] [int] NULL ,
	[ApproachOrganNoJurisdiction] [int] NULL ,
	[ApproachBoneNoJurisdiction] [int] NULL ,
	[ApproachTissueNoJurisdiction] [int] NULL ,
	[ApproachSkinNoJurisdiction] [int] NULL ,
	[ApproachValvesNoJurisdiction] [int] NULL ,
	[ApproachEyesNoJurisdiction] [int] NULL ,
	[ApproachOtherNoJurisdiction] [int] NULL ,
	[ApproachAllTissueNoJurisdiction] [int] NULL ,
	[ApproachOrganDidNotDie] [int] NULL ,
	[ApproachBoneDidNotDie] [int] NULL ,
	[ApproachTissueDidNotDie] [int] NULL ,
	[ApproachSkinDidNotDie] [int] NULL ,
	[ApproachValvesDidNotDie] [int] NULL ,
	[ApproachEyesDidNotDie] [int] NULL ,
	[ApproachOtherDidNotDie] [int] NULL ,
	[ApproachAllTissueDidNotDie] [int] NULL ,
	[ApproachOrganHemodiluted] [int] NULL ,
	[ApproachBoneHemodiluted] [int] NULL ,
	[ApproachTissueHemodiluted] [int] NULL ,
	[ApproachSkinHemodiluted] [int] NULL ,
	[ApproachValvesHemodiluted] [int] NULL ,
	[ApproachEyesHemodiluted] [int] NULL ,
	[ApproachOtherHemodiluted] [int] NULL ,
	[ApproachAllTissueHemodiluted] [int] NULL ,
	[ApproachOrganTeamLogistics] [int] NULL ,
	[ApproachBoneTeamLogistics] [int] NULL ,
	[ApproachTissueTeamLogistics] [int] NULL ,
	[ApproachSkinTeamLogistics] [int] NULL ,
	[ApproachValvesTeamLogistics] [int] NULL ,
	[ApproachEyesTeamLogistics] [int] NULL ,
	[ApproachOtherTeamLogistics] [int] NULL ,
	[ApproachAllTissueTeamLogistics] [int] NULL ,
	[ApproachOrganConsentRetracted] [int] NULL ,
	[ApproachBoneConsentRetracted] [int] NULL ,
	[ApproachTissueConsentRetracted] [int] NULL ,
	[ApproachSkinConsentRetracted] [int] NULL ,
	[ApproachValvesConsentRetracted] [int] NULL ,
	[ApproachEyesConsentRetracted] [int] NULL ,
	[ApproachOtherConsentRetracted] [int] NULL ,
	[ApproachAllTissueConsentRetracted] [int] NULL ,
	[ApproachOrganDeclinedByProcessors] [int] NULL ,
	[ApproachBoneDeclinedByProcessors] [int] NULL ,
	[ApproachTissueDeclinedByProcessors] [int] NULL ,
	[ApproachSkinDeclinedByProcessors] [int] NULL ,
	[ApproachValvesDeclinedByProcessors] [int] NULL ,
	[ApproachEyesDeclinedByProcessors] [int] NULL ,
	[ApproachOtherDeclinedByProcessors] [int] NULL ,
	[ApproachAllTissueDeclinedByProcessors] [int] NULL 
) ON [PRIMARY]
GO


