if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Referral_ApproachPersonReasonCount]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Referral_ApproachPersonReasonCount]
GO

CREATE TABLE [dbo].[Referral_ApproachPersonReasonCount] (
	[YearID] [int] NULL ,
	[MonthID] [int] NULL ,
	[SourceCodeID] [int] NULL ,
	[OrganizationID] [int] NULL ,
	[ApproachPersonID] [int] NULL ,
	[AllTypes] [int] NULL ,
	[ApproachOrgan] [int] NULL ,
	[ApproachBone] [int] NULL ,
	[ApproachTissue] [int] NULL ,
	[ApproachSkin] [int] NULL ,
	[ApproachValves] [int] NULL ,
	[ApproachEyes] [int] NULL ,
	[ApproachOther] [int] NULL ,
	[ApproachAllTissue] [int] NULL ,
	[ApproachOrganNotApproached] [int] NULL ,
	[ApproachBoneNotApproached] [int] NULL ,
	[ApproachTissueNotApproached] [int] NULL ,
	[ApproachSkinNotApproached] [int] NULL ,
	[ApproachValvesNotApproached] [int] NULL ,
	[ApproachEyesNotApproached] [int] NULL ,
	[ApproachOtherNotApproached] [int] NULL ,
	[ApproachAllTissueNotApproached] [int] NULL ,
	[ApproachOrganUnknown] [int] NULL ,
	[ApproachBoneUnknown] [int] NULL ,
	[ApproachTissueUnknown] [int] NULL ,
	[ApproachSkinUnknown] [int] NULL ,
	[ApproachValvesUnknown] [int] NULL ,
	[ApproachEyesUnknown] [int] NULL ,
	[ApproachOtherUnknown] [int] NULL ,
	[ApproachAllTissueUnknown] [int] NULL ,
	[ApproachOrganFamilyUnavailable] [int] NULL ,
	[ApproachBoneFamilyUnavailable] [int] NULL ,
	[ApproachTissueFamilyUnavailable] [int] NULL ,
	[ApproachSkinFamilyUnavailable] [int] NULL ,
	[ApproachValvesFamilyUnavailable] [int] NULL ,
	[ApproachEyesFamilyUnavailable] [int] NULL ,
	[ApproachOtherFamilyUnavailable] [int] NULL ,
	[ApproachAllTissueFamilyUnavailable] [int] NULL ,
	[ApproachOrganCoronerRuleout] [int] NULL ,
	[ApproachBoneCoronerRuleout] [int] NULL ,
	[ApproachTissueCoronerRuleout] [int] NULL ,
	[ApproachSkinCoronerRuleout] [int] NULL ,
	[ApproachValvesCoronerRuleout] [int] NULL ,
	[ApproachEyesCoronerRuleout] [int] NULL ,
	[ApproachOtherCoronerRuleout] [int] NULL ,
	[ApproachAllTissueCoronerRuleout] [int] NULL ,
	[ApproachOrganArrest] [int] NULL ,
	[ApproachBoneArrest] [int] NULL ,
	[ApproachTissueArrest] [int] NULL ,
	[ApproachSkinArrest] [int] NULL ,
	[ApproachValvesArrest] [int] NULL ,
	[ApproachEyesArrest] [int] NULL ,
	[ApproachOtherArrest] [int] NULL ,
	[ApproachAllTissueArrest] [int] NULL ,
	[ApproachOrganMedRO] [int] NULL ,
	[ApproachBoneMedRO] [int] NULL ,
	[ApproachTissueMedRO] [int] NULL ,
	[ApproachSkinMedRO] [int] NULL ,
	[ApproachValvesMedRO] [int] NULL ,
	[ApproachEyesMedRO] [int] NULL ,
	[ApproachOtherMedRO] [int] NULL ,
	[ApproachAllTissueMedRO] [int] NULL ,
	[ApproachOrganTimeLogistics] [int] NULL ,
	[ApproachBoneTimeLogistics] [int] NULL ,
	[ApproachTissueTimeLogistics] [int] NULL ,
	[ApproachSkinTimeLogistics] [int] NULL ,
	[ApproachValvesTimeLogistics] [int] NULL ,
	[ApproachEyesTimeLogistics] [int] NULL ,
	[ApproachOtherTimeLogistics] [int] NULL ,
	[ApproachAllTissueTimeLogistics] [int] NULL ,
	[ApproachOrganNeverBrainDead] [int] NULL ,
	[ApproachBoneNeverBrainDead] [int] NULL ,
	[ApproachTissueNeverBrainDead] [int] NULL ,
	[ApproachSkinNeverBrainDead] [int] NULL ,
	[ApproachValvesNeverBrainDead] [int] NULL ,
	[ApproachEyesNeverBrainDead] [int] NULL ,
	[ApproachOtherNeverBrainDead] [int] NULL ,
	[ApproachAllTissueNeverBrainDead] [int] NULL ,
	[ApproachOrganHighRisk] [int] NULL ,
	[ApproachBoneHighRisk] [int] NULL ,
	[ApproachTissueHighRisk] [int] NULL ,
	[ApproachSkinHighRisk] [int] NULL ,
	[ApproachValvesHighRisk] [int] NULL ,
	[ApproachEyesHighRisk] [int] NULL ,
	[ApproachOtherHighRisk] [int] NULL ,
	[ApproachAllTissueHighRisk] [int] NULL ,
	[ApproachOrganUnapproachable] [int] NULL ,
	[ApproachBoneUnapproachable] [int] NULL ,
	[ApproachTissueUnapproachable] [int] NULL ,
	[ApproachSkinUnapproachable] [int] NULL ,
	[ApproachValvesUnapproachable] [int] NULL ,
	[ApproachEyesUnapproachable] [int] NULL ,
	[ApproachOtherUnapproachable] [int] NULL ,
	[ApproachAllTissueUnapproachable] [int] NULL ,
	[AppropriateRO] [int] NULL ,
	[ApproachOrganReg] [int] NULL ,
	[ApproachBoneReg] [int] NULL ,
	[ApproachTissueReg] [int] NULL ,
	[ApproachSkinReg] [int] NULL ,
	[ApproachValvesReg] [int] NULL ,
	[ApproachEyesReg] [int] NULL ,
	[ApproachOtherReg] [int] NULL ,
	[ApproachAllTissueReg] [int] NULL ,
	[ApproachOrganDMVReg] [int] NULL ,
	[ApproachBoneDMVReg] [int] NULL ,
	[ApproachTissueDMVReg] [int] NULL ,
	[ApproachSkinDMVReg] [int] NULL ,
	[ApproachValvesDMVReg] [int] NULL ,
	[ApproachEyesDMVReg] [int] NULL ,
	[ApproachOtherDMVReg] [int] NULL ,
	[ApproachAllTissueDMVReg] [int] NULL ,
	[ApproachOrganDRReg] [int] NULL ,
	[ApproachBoneDRReg] [int] NULL ,
	[ApproachTissueDRReg] [int] NULL ,
	[ApproachSkinDRReg] [int] NULL ,
	[ApproachValvesDRReg] [int] NULL ,
	[ApproachEyesDRReg] [int] NULL ,
	[ApproachOtherDRReg] [int] NULL ,
	[ApproachAllTissueDRReg] [int] NULL ,
	[SecondaryScreening] [int] NULL 
) ON [PRIMARY]
GO


