if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Referral_FSCallCountSummary]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Referral_FSCallCountSummary]
GO

CREATE TABLE [dbo].[Referral_FSCallCountSummary] (
	[YearID] [int] NULL ,
	[MonthID] [int] NULL ,
	[DayID] [int] NULL ,
	[OrganizationID] [int] NULL ,
	[SourceCodeID] [int] NULL ,
	[NoSecondaryOTE] [smallint] NULL ,
	[NoSecondaryTissue] [smallint] NULL ,
	[NoSecondaryTE] [smallint] NULL ,
	[NoSecondaryEye] [smallint] NULL ,
	[NoSecondaryAgeRO] [smallint] NULL ,
	[NoSecondaryMedRO] [smallint] NULL ,
	[NoSecondaryOther] [smallint] NULL ,
	[NoSecondaryOtherEye] [smallint] NULL ,
	[SecondaryOTE] [smallint] NULL ,
	[SecondaryTissue] [smallint] NULL ,
	[SecondaryTE] [smallint] NULL ,
	[SecondaryEye] [smallint] NULL ,
	[SecondaryAgeRO] [smallint] NULL ,
	[SecondaryMedRO] [smallint] NULL ,
	[SecondaryOther] [smallint] NULL ,
	[SecondaryOtherEye] [smallint] NULL ,
	[SecondaryROTotal] [smallint] NULL ,
	[FamilyApproachOTE] [smallint] NULL ,
	[FamilyApproachTissue] [smallint] NULL ,
	[FamilyApproachTE] [smallint] NULL ,
	[FamilyApproachEye] [smallint] NULL ,
	[FamilyApproachAgeRO] [smallint] NULL ,
	[FamilyApproachMedRO] [smallint] NULL ,
	[FamilyApproachOther] [smallint] NULL ,
	[FamilyApproachOtherEye] [smallint] NULL ,
	[FamilyApproachROTotal] [smallint] NULL ,
	[MedSocOTE] [smallint] NULL ,
	[MedSocTissue] [smallint] NULL ,
	[MedSocTE] [smallint] NULL ,
	[MedSocEye] [smallint] NULL ,
	[MedSocAgeRO] [smallint] NULL ,
	[MedSocMedRO] [smallint] NULL ,
	[MedSocOther] [smallint] NULL ,
	[MedSocOtherEye] [smallint] NULL ,
	[MedSocROTotal] [smallint] NULL ,
	[FamilyUnavailableOTE] [smallint] NULL ,
	[FamilyUnavailableTissue] [smallint] NULL ,
	[FamilyUnavailableTE] [smallint] NULL ,
	[FamilyUnavailableEye] [smallint] NULL ,
	[FamilyUnavailableAgeRO] [smallint] NULL ,
	[FamilyUnavailableMedRO] [smallint] NULL ,
	[FamilyUnavailableOther] [smallint] NULL ,
	[FamilyUnavailableOtherEye] [smallint] NULL ,
	[FamilyUnavailableROTotal] [smallint] NULL ,
	[CryolifeFormOTE] [smallint] NULL ,
	[CryolifeFormTissue] [smallint] NULL ,
	[CryolifeFormTE] [smallint] NULL ,
	[CryolifeFormEye] [smallint] NULL ,
	[CryolifeFormAgeRO] [smallint] NULL ,
	[CryolifeFormMedRO] [smallint] NULL ,
	[CryolifeFormOther] [smallint] NULL ,
	[CryolifeFormOtherEye] [smallint] NULL ,
	[CryolifeFormROTotal] [smallint] NULL ,
	[FamilyApproachOTECount] [smallint] NULL ,
	[FamilyApproachTissueCount] [smallint] NULL ,
	[FamilyApproachTECount] [smallint] NULL ,
	[FamilyApproachEyeCount] [smallint] NULL ,
	[FamilyApproachAgeROCount] [smallint] NULL ,
	[FamilyApproachMedROCount] [smallint] NULL ,
	[FamilyApproachOtherCount] [smallint] NULL ,
	[FamilyApproachOtherEyeCount] [smallint] NULL ,
	[FamilyApproachROCountTotal] [smallint] NULL ,
	[MedSocOTECount] [smallint] NULL ,
	[MedSocTissueCount] [smallint] NULL ,
	[MedSocTECount] [smallint] NULL ,
	[MedSocEyeCount] [smallint] NULL ,
	[MedSocAgeROCount] [smallint] NULL ,
	[MedSocMedROCount] [smallint] NULL ,
	[MedSocOtherCount] [smallint] NULL ,
	[MedSocOtherEyeCount] [smallint] NULL ,
	[MedSocROCountTotal] [smallint] NULL ,
	[CryolifeFormOTECount] [smallint] NULL ,
	[CryolifeFormTissueCount] [smallint] NULL ,
	[CryolifeFormTECount] [smallint] NULL ,
	[CryolifeFormEyeCount] [smallint] NULL ,
	[CryolifeFormAgeROCount] [smallint] NULL ,
	[CryolifeFormMedROCount] [smallint] NULL ,
	[CryolifeFormOtherCount] [smallint] NULL ,
	[CryolifeFormOtherEyeCount] [smallint] NULL ,
	[CryolifeFormROCountTotal] [smallint] NULL ,
	[SecondaryApproachOTE] [smallint] NULL ,
	[SecondaryApproachTissue] [smallint] NULL ,
	[SecondaryApproachTE] [smallint] NULL ,
	[SecondaryApproachEye] [smallint] NULL ,
	[SecondaryApproachAgeRO] [smallint] NULL ,
	[SecondaryApproachMedRO] [smallint] NULL ,
	[SecondaryApproachOther] [smallint] NULL ,
	[SecondaryApproachOtherEye] [smallint] NULL ,
	[SecondaryNoApproachOTE] [smallint] NULL ,
	[SecondaryNoApproachTissue] [smallint] NULL ,
	[SecondaryNoApproachTE] [smallint] NULL ,
	[SecondaryNoApproachEye] [smallint] NULL ,
	[SecondaryNoApproachAgeRO] [smallint] NULL ,
	[SecondaryNoApproachMedRO] [smallint] NULL ,
	[SecondaryNoApproachOther] [smallint] NULL ,
	[SecondaryNoApproachOtherEye] [smallint] NULL ,
	[NoSecondaryApproachOTE] [smallint] NULL ,
	[NoSecondaryApproachTissue] [smallint] NULL ,
	[NoSecondaryApproachTE] [smallint] NULL ,
	[NoSecondaryApproachEye] [smallint] NULL ,
	[NoSecondaryApproachAgeRO] [smallint] NULL ,
	[NoSecondaryApproachMedRO] [smallint] NULL ,
	[NoSecondaryApproachOther] [smallint] NULL ,
	[NoSecondaryApproachOtherEye] [smallint] NULL ,
	[FSCaseBillOTE] [smallint] NULL 
) ON [PRIMARY]
GO


