SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ArchiveStatus]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ArchiveStatus](
	[ArchiveStatusID] [smallint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TableDate] [smalldatetime] NOT NULL,
	[Status] [varchar](15) NOT NULL,
 CONSTRAINT [PK_ArchiveStatus] PRIMARY KEY NONCLUSTERED 
(
	[ArchiveStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 95) ON [PRIMARY]
) ON [PRIMARY]
END
GO
