SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BloodProduct]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[BloodProduct](
	[BloodProductId] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[BloodProductName] [varchar](50) NULL,
	[BloodProductType] [varchar](50) NULL,
 CONSTRAINT [PK_BloodProduct] PRIMARY KEY CLUSTERED 
(
	[BloodProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
