SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Button]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Button](
	[BUTTONID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[BUTTONNAME] [varchar](500) NULL,
	[BUTTONSTRING] [varchar](1000) NULL,
	[BUTTONDESCRIPTION] [varchar](1000) NULL,
 CONSTRAINT [PK_Button] PRIMARY KEY CLUSTERED 
(
	[BUTTONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
