SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CheckCloseCaseQueue]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CheckCloseCaseQueue](
	[CheckCloseCaseQueueID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CallID] [int] NULL,
	[LastModified] [datetime] NULL,
	[ExportFileID] [int] NULL,
 CONSTRAINT [PK_CheckCloseCaseQueue] PRIMARY KEY NONCLUSTERED 
(
	[CheckCloseCaseQueueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[CheckCloseCaseQueue]') AND name = N'IDX_CheckCloseCaseQueue_ExportID')
CREATE CLUSTERED INDEX [IDX_CheckCloseCaseQueue_ExportID] ON [dbo].[CheckCloseCaseQueue]
(
	[ExportFileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 95) ON [PRIMARY]
GO
