SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Country]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Country](
	[COUNTRYID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[COUNTRYNAME] [varchar](50) NULL,
	[UserID] [int] NULL,
	[LastModified] [datetime] NULL,
 CONSTRAINT [PK_COUNTRY] PRIMARY KEY NONCLUSTERED 
(
	[COUNTRYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
END
GO
