SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[customeraddress]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[customeraddress](
	[!CUST] [varchar](255) NULL,
	[NAME] [varchar](255) NULL,
	[REFNUM] [varchar](255) NULL,
	[TIMESTAMP] [varchar](255) NULL,
	[BADDR1] [varchar](255) NULL,
	[BADDR2] [varchar](255) NULL,
	[BADDR3] [varchar](255) NULL,
	[BADDR4] [varchar](255) NULL,
	[BADDR5] [varchar](255) NULL,
	[SADDR1] [varchar](255) NULL,
	[SADDR2] [varchar](255) NULL,
	[SADDR3] [varchar](255) NULL,
	[SADDR4] [varchar](255) NULL,
	[SADDR5] [varchar](255) NULL,
	[PHONE1] [varchar](255) NULL,
	[PHONE2] [varchar](255) NULL,
	[FAXNUM] [varchar](255) NULL,
	[EMAIL] [varchar](255) NULL,
	[NOTE] [varchar](255) NULL,
	[CONT1] [varchar](255) NULL,
	[CONT2] [varchar](255) NULL,
	[CTYPE] [varchar](255) NULL,
	[TERMS] [varchar](255) NULL,
	[TAXABLE] [varchar](255) NULL,
	[SALESTAXCODE] [varchar](255) NULL,
	[LIMIT] [varchar](255) NULL,
	[RESALENUM] [varchar](255) NULL,
	[REP] [varchar](255) NULL,
	[TAXITEM] [varchar](255) NULL,
	[NOTEPAD] [varchar](255) NULL,
	[SALUTATION] [varchar](255) NULL,
	[COMPANYNAME] [varchar](255) NULL,
	[FIRSTNAME] [varchar](255) NULL,
	[MIDINIT] [varchar](255) NULL,
	[LASTNAME] [varchar](255) NULL,
	[CUSTFLD1] [varchar](255) NULL,
	[CUSTFLD2] [varchar](255) NULL,
	[CUSTFLD3] [varchar](255) NULL,
	[CUSTFLD4] [varchar](255) NULL,
	[CUSTFLD5] [varchar](255) NULL,
	[CUSTFLD6] [varchar](255) NULL,
	[CUSTFLD7] [varchar](255) NULL,
	[CUSTFLD8] [varchar](255) NULL,
	[CUSTFLD9] [varchar](255) NULL,
	[CUSTFLD10] [varchar](255) NULL,
	[CUSTFLD11] [varchar](255) NULL,
	[CUSTFLD12] [varchar](255) NULL,
	[CUSTFLD13] [varchar](255) NULL,
	[CUSTFLD14] [varchar](255) NULL,
	[CUSTFLD15] [varchar](255) NULL,
	[JOBDESC] [varchar](255) NULL,
	[JOBTYPE] [varchar](255) NULL,
	[JOBSTATUS] [varchar](255) NULL,
	[JOBSTART] [varchar](255) NULL,
	[JOBPROJEND] [varchar](255) NULL,
	[JOBEND] [varchar](255) NULL,
	[HIDDEN] [varchar](255) NULL,
	[DELCOUNT] [varchar](255) NULL,
	[PRICELEVEL] [varchar](255) NULL
) ON [PRIMARY]
END
GO
