SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FSBCaseType]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[FSBCaseType](
	[FSBCaseTypeId] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[FSBCaseTypeName] [nvarchar](50) NOT NULL,
	[InsertedBy] [nvarchar](50) NOT NULL,
	[UpdatedBy] [nvarchar](50) NOT NULL,
	[DateInserted] [datetime] NOT NULL,
	[DateUpdated] [datetime] NOT NULL,
 CONSTRAINT [FSBCaseType_PK] PRIMARY KEY NONCLUSTERED 
(
	[FSBCaseTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 95) ON [PRIMARY],
 CONSTRAINT [FSBCaseType_UC_FSBCaseTypeName] UNIQUE NONCLUSTERED 
(
	[FSBCaseTypeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__FSBCaseTy__DateI__37F28C9B]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[FSBCaseType] ADD  DEFAULT (getdate()) FOR [DateInserted]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__FSBCaseTy__DateU__38E6B0D4]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[FSBCaseType] ADD  DEFAULT (getdate()) FOR [DateUpdated]
END
GO
