SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[KeyCode]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[KeyCode](
	[KeyCodeID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[KeyCodeName] [varchar](10) NULL,
	[KeyCodeNote] [varchar](255) NULL,
	[LastModified] [smalldatetime] NULL,
	[UpdatedFlag] [smallint] NULL,
 CONSTRAINT [PK___1__26] PRIMARY KEY CLUSTERED 
(
	[KeyCodeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 95) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[KeyCode]') AND name = N'KeyCodeName')
CREATE NONCLUSTERED INDEX [KeyCodeName] ON [dbo].[KeyCode]
(
	[KeyCodeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [IDX]
GO
