SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LEASEORGANIZATION]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LEASEORGANIZATION](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[LEASEORGANIZATIONID] [int] NOT NULL,
	[LEASEORGANIZATIONAME] [char](255) NULL,
	[LEASEORGANIZATIONType] [int] NOT NULL,
	[LastModified] [datetime] NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_LEASEORGANIZATION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
