SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LEASETYPE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LEASETYPE](
	[ID] [int] NOT NULL,
	[Code] [varchar](50) NULL,
	[Description] [varchar](255) NULL,
 CONSTRAINT [PK_LEASETYPE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
