SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LineItemDescriptionHistory]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LineItemDescriptionHistory](
	[LineItemDescriptionHistoryID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[LineItemDescriptionHistoryName] [varchar](250) NOT NULL,
	[LineItemDescriptionHistoryProductID] [varchar](50) NULL,
	[LineItemDescriptionPrice] [decimal](9, 2) NOT NULL,
 CONSTRAINT [PK_LineItemDescriptionHistory] PRIMARY KEY NONCLUSTERED 
(
	[LineItemDescriptionHistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[LineItemDescriptionHistory]') AND name = N'IDX_LineItemDescriptionHistory_LineItemDescriptionHistoryName_LineItemDescriptionPrice')
CREATE NONCLUSTERED INDEX [IDX_LineItemDescriptionHistory_LineItemDescriptionHistoryName_LineItemDescriptionPrice] ON [dbo].[LineItemDescriptionHistory]
(
	[LineItemDescriptionHistoryName] ASC,
	[LineItemDescriptionPrice] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [IDX]
GO
