SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LOCall]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LOCall](
	[LOCallID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CallID] [int] NOT NULL,
	[StatEmployeeID] [smallint] NULL,
	[LOCallTotalTime] [varchar](15) NULL,
	[LastModified] [datetime] NULL,
 CONSTRAINT [PK_LOCall_1__13] PRIMARY KEY NONCLUSTERED 
(
	[LOCallID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 95) ON [IDX]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[LOCall]') AND name = N'IDX_LoCall_CallId')
CREATE CLUSTERED INDEX [IDX_LoCall_CallId] ON [dbo].[LOCall]
(
	[CallID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 95) ON [PRIMARY]
GO
