SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NavigationType]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[NavigationType](
	[NAVIGATIONTYPEID] [int] IDENTITY(3,1) NOT FOR REPLICATION NOT NULL,
	[NAVIGATIONTYPENAME] [varchar](500) NULL,
 CONSTRAINT [PK_NavigationType] PRIMARY KEY CLUSTERED 
(
	[NAVIGATIONTYPEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
