SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Navigation]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Navigation](
	[NAVID] [int] IDENTITY(20,1) NOT FOR REPLICATION NOT NULL,
	[NAVTYPEID] [int] NULL,
	[HREF] [varchar](1000) NULL,
	[HREFTEXT] [varchar](1000) NULL,
	[TARGET] [varchar](50) NULL,
	[IMAGE] [varchar](1000) NULL,
	[IMAGEOVER] [varchar](1000) NULL,
	[SEQ] [int] NULL,
	[ACTIVE] [bit] NULL,
 CONSTRAINT [PK_Navigation] PRIMARY KEY CLUSTERED 
(
	[NAVID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
