SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PagerType]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PagerType](
	[PagerTypeID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PagerType] [varchar](50) NULL,
	[LastModified] [datetime] NULL,
	[LastStatEmployeeID] [int] NULL,
	[AuditLogTypeID] [int] NULL,
 CONSTRAINT [PK_PagerType] PRIMARY KEY CLUSTERED 
(
	[PagerTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_PagerType_LastModified]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[PagerType] ADD  CONSTRAINT [DF_PagerType_LastModified]  DEFAULT (getdate()) FOR [LastModified]
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo_PagerType_AuditLogTypeID_dbo_AuditLogType_AuditLogTypeId]') AND parent_object_id = OBJECT_ID(N'[dbo].[PagerType]'))
ALTER TABLE [dbo].[PagerType]  WITH NOCHECK ADD  CONSTRAINT [FK_dbo_PagerType_AuditLogTypeID_dbo_AuditLogType_AuditLogTypeId] FOREIGN KEY([AuditLogTypeID])
REFERENCES [dbo].[AuditLogType] ([AuditLogTypeId])
NOT FOR REPLICATION 
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo_PagerType_AuditLogTypeID_dbo_AuditLogType_AuditLogTypeId]') AND parent_object_id = OBJECT_ID(N'[dbo].[PagerType]'))
ALTER TABLE [dbo].[PagerType] CHECK CONSTRAINT [FK_dbo_PagerType_AuditLogTypeID_dbo_AuditLogType_AuditLogTypeId]
GO
