SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Reference]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Reference](
	[ReferenceID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ReferenceText] [varchar](255) NULL,
	[ReferenceTypeID] [int] NULL,
	[Verified] [tinyint] NULL,
	[LastModified] [datetime] NULL,
	[Unused1] [numeric](7, 0) NULL,
	[Unused2] [numeric](7, 0) NULL,
	[UpdatedFlag] [smallint] NULL,
 CONSTRAINT [PK_Reference_1__13] PRIMARY KEY CLUSTERED 
(
	[ReferenceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 95) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Reference]') AND name = N'ReferenceText')
CREATE NONCLUSTERED INDEX [ReferenceText] ON [dbo].[Reference]
(
	[ReferenceText] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [IDX]
GO
