SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RegistryStatusType]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[RegistryStatusType](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[RegistryType] [varchar](50) NULL,
 CONSTRAINT [PK_RegistryStatusType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
