SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Secondary2]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Secondary2](
	[CallID] [int] NOT NULL,
	[SecondaryAntibiotic1Name] [int] NULL,
	[SecondaryAntibiotic1Dose] [varchar](25) NULL,
	[SecondaryAntibiotic1StartDate] [datetime] NULL,
	[SecondaryAntibiotic1EndDate] [datetime] NULL,
	[SecondaryAntibiotic2Name] [int] NULL,
	[SecondaryAntibiotic2Dose] [varchar](25) NULL,
	[SecondaryAntibiotic2StartDate] [datetime] NULL,
	[SecondaryAntibiotic2EndDate] [datetime] NULL,
	[SecondaryAntibiotic3Name] [int] NULL,
	[SecondaryAntibiotic3Dose] [varchar](25) NULL,
	[SecondaryAntibiotic3StartDate] [datetime] NULL,
	[SecondaryAntibiotic3EndDate] [datetime] NULL,
	[SecondaryAntibiotic4Name] [int] NULL,
	[SecondaryAntibiotic4Dose] [varchar](25) NULL,
	[SecondaryAntibiotic4StartDate] [datetime] NULL,
	[SecondaryAntibiotic4EndDate] [datetime] NULL,
	[SecondaryAntibiotic5Name] [int] NULL,
	[SecondaryAntibiotic5Dose] [varchar](25) NULL,
	[SecondaryAntibiotic5StartDate] [datetime] NULL,
	[SecondaryAntibiotic5EndDate] [datetime] NULL,
	[SecondaryBloodProductsReceived1Type] [int] NULL,
	[SecondaryBloodProductsReceived1Units] [varchar](25) NULL,
	[SecondaryBloodProductsReceived1TypeCC] [varchar](25) NULL,
	[SecondaryBloodProductsReceived1TypeUnitGiven] [varchar](25) NULL,
	[SecondaryBloodProductsReceived2Type] [int] NULL,
	[SecondaryBloodProductsReceived2Units] [varchar](25) NULL,
	[SecondaryBloodProductsReceived2TypeCC] [varchar](25) NULL,
	[SecondaryBloodProductsReceived2TypeUnitGiven] [varchar](25) NULL,
	[SecondaryBloodProductsReceived3Type] [int] NULL,
	[SecondaryBloodProductsReceived3Units] [varchar](25) NULL,
	[SecondaryBloodProductsReceived3TypeCC] [varchar](25) NULL,
	[SecondaryBloodProductsReceived3TypeUnitGiven] [varchar](25) NULL,
	[SecondaryColloidsInfused1Type] [int] NULL,
	[SecondaryColloidsInfused1Units] [varchar](25) NULL,
	[SecondaryColloidsInfused1CC] [varchar](25) NULL,
	[SecondaryColloidsInfused1UnitGiven] [varchar](25) NULL,
	[SecondaryColloidsInfused2Type] [int] NULL,
	[SecondaryColloidsInfused2Units] [varchar](25) NULL,
	[SecondaryColloidsInfused2CC] [varchar](25) NULL,
	[SecondaryColloidsInfused2UnitGiven] [varchar](25) NULL,
	[SecondaryColloidsInfused3Type] [int] NULL,
	[SecondaryColloidsInfused3Units] [varchar](25) NULL,
	[SecondaryColloidsInfused3CC] [varchar](25) NULL,
	[SecondaryColloidsInfused3UnitGiven] [varchar](25) NULL,
	[SecondaryCrystalloids1Type] [int] NULL,
	[SecondaryCrystalloids1Units] [varchar](25) NULL,
	[SecondaryCrystalloids1CC] [varchar](25) NULL,
	[SecondaryCrystalloids1UnitGiven] [varchar](25) NULL,
	[SecondaryCrystalloids2Type] [int] NULL,
	[SecondaryCrystalloids2Units] [varchar](25) NULL,
	[SecondaryCrystalloids2CC] [varchar](25) NULL,
	[SecondaryCrystalloids2UnitGiven] [varchar](25) NULL,
	[SecondaryCrystalloids3Type] [int] NULL,
	[SecondaryCrystalloids3Units] [varchar](25) NULL,
	[SecondaryCrystalloids3CC] [varchar](25) NULL,
	[SecondaryCrystalloids3UnitGiven] [varchar](25) NULL,
	[SecondaryWBC1Date] [smalldatetime] NULL,
	[SecondaryWBC1] [varchar](25) NULL,
	[SecondaryWBC1Bands] [varchar](25) NULL,
	[SecondaryWBC2Date] [smalldatetime] NULL,
	[SecondaryWBC2] [varchar](25) NULL,
	[SecondaryWBC2Bands] [varchar](25) NULL,
	[SecondaryWBC3Date] [smalldatetime] NULL,
	[SecondaryWBC3] [varchar](25) NULL,
	[SecondaryWBC3Bands] [varchar](25) NULL,
	[SecondaryLabTemp1] [varchar](25) NULL,
	[SecondaryLabTemp1Date] [smalldatetime] NULL,
	[SecondaryLabTemp1Time] [varchar](10) NULL,
	[SecondaryLabTemp2] [varchar](25) NULL,
	[SecondaryLabTemp2Date] [smalldatetime] NULL,
	[SecondaryLabTemp2Time] [varchar](10) NULL,
	[SecondaryLabTemp3] [varchar](25) NULL,
	[SecondaryLabTemp3Date] [smalldatetime] NULL,
	[SecondaryLabTemp3Time] [varchar](10) NULL,
	[SecondaryCulture1Type] [int] NULL,
	[SecondaryCulture1Other] [varchar](50) NULL,
	[SecondaryCulture1DrawnDate] [smalldatetime] NULL,
	[SecondaryCulture1Growth] [varchar](25) NULL,
	[SecondaryCulture2Type] [int] NULL,
	[SecondaryCulture2Other] [varchar](50) NULL,
	[SecondaryCulture2DrawnDate] [smalldatetime] NULL,
	[SecondaryCulture2Growth] [varchar](25) NULL,
	[SecondaryCulture3Type] [int] NULL,
	[SecondaryCulture3Other] [varchar](50) NULL,
	[SecondaryCulture3DrawnDate] [smalldatetime] NULL,
	[SecondaryCulture3Growth] [varchar](25) NULL,
	[SecondaryCXRAvailable] [int] NULL,
	[SecondaryCXR1Date] [smalldatetime] NULL,
	[SecondaryCXR1Finding] [varchar](255) NULL,
	[SecondaryCXR2Date] [smalldatetime] NULL,
	[SecondaryCXR2Finding] [varchar](255) NULL,
	[SecondaryCXR3Date] [smalldatetime] NULL,
	[SecondaryCXR3Finding] [varchar](255) NULL,
	[SecondaryAntibiotic1NameOther] [varchar](25) NULL,
	[SecondaryAntibiotic2NameOther] [varchar](25) NULL,
	[SecondaryAntibiotic3NameOther] [varchar](25) NULL,
	[SecondaryAntibiotic4NameOther] [varchar](25) NULL,
	[SecondaryAntibiotic5NameOther] [varchar](25) NULL,
	[SecondaryBloodProductsReceived1TypeOther] [varchar](25) NULL,
	[SecondaryBloodProductsReceived2TypeOther] [varchar](25) NULL,
	[SecondaryBloodProductsReceived3TypeOther] [varchar](25) NULL,
	[SecondaryColloidsInfused1TypeOther] [varchar](25) NULL,
	[SecondaryColloidsInfused2TypeOther] [varchar](25) NULL,
	[SecondaryColloidsInfused3TypeOther] [varchar](25) NULL,
	[SecondaryCrystalloids1TypeOther] [varchar](25) NULL,
	[SecondaryCrystalloids2TypeOther] [varchar](25) NULL,
	[SecondaryCrystalloids3TypeOther] [varchar](25) NULL,
	[LastStatEmployeeID] [int] NULL,
	[AuditLogTypeID] [int] NULL,
	[LastModified] [smalldatetime] NULL,
 CONSTRAINT [PK_Secondary2] PRIMARY KEY CLUSTERED 
(
	[CallID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo_Secondary2_AuditLogTypeID_dbo_AuditLogType_AuditLogTypeId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Secondary2]'))
ALTER TABLE [dbo].[Secondary2]  WITH NOCHECK ADD  CONSTRAINT [FK_dbo_Secondary2_AuditLogTypeID_dbo_AuditLogType_AuditLogTypeId] FOREIGN KEY([AuditLogTypeID])
REFERENCES [dbo].[AuditLogType] ([AuditLogTypeId])
NOT FOR REPLICATION 
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo_Secondary2_AuditLogTypeID_dbo_AuditLogType_AuditLogTypeId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Secondary2]'))
ALTER TABLE [dbo].[Secondary2] CHECK CONSTRAINT [FK_dbo_Secondary2_AuditLogTypeID_dbo_AuditLogType_AuditLogTypeId]
GO
