SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Secondary]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Secondary](
	[CallID] [int] NOT NULL,
	[SecondaryWhoAreWe] [varchar](25) NULL,
	[SecondaryNOKaware] [smallint] NULL,
	[SecondaryFamilyConsent] [smallint] NULL,
	[SecondaryFamilyInterested] [smallint] NULL,
	[SecondaryNOKatHospital] [smallint] NULL,
	[SecondaryEstTimeSinceLeft] [varchar](10) NULL,
	[SecondaryTimeLeftInMT] [varchar](10) NULL,
	[SecondaryNOKNextDest] [varchar](25) NULL,
	[SecondaryNOKETA] [varchar](10) NULL,
	[SecondaryPatientMiddleName] [varchar](25) NULL,
	[SecondaryPatientHeightFeet] [varchar](2) NULL,
	[SecondaryPatientHeightInches] [varchar](2) NULL,
	[SecondaryPatientBMICalc] [varchar](10) NULL,
	[SecondaryPatientTOD1] [varchar](10) NULL,
	[SecondaryPatientTOD2] [varchar](10) NULL,
	[SecondaryPatientDeathType1] [smalldatetime] NULL,
	[SecondaryPatientDeathType2] [smalldatetime] NULL,
	[SecondaryTriageHX] [varchar](255) NULL,
	[SecondaryCircumstanceOfDeath] [varchar](1000) NULL,
	[SecondaryMedicalHistory] [varchar](1000) NULL,
	[SecondaryAdmissionDiagnosis] [varchar](100) NULL,
	[SecondaryCOD] [int] NULL,
	[SecondaryCODSignatory] [varchar](50) NULL,
	[SecondaryCODTime] [varchar](10) NULL,
	[SecondaryCODSignedBy] [varchar](25) NULL,
	[SecondaryPatientVent] [smallint] NULL,
	[SecondaryIntubationDate] [smalldatetime] NULL,
	[SecondaryIntubationTime] [varchar](10) NULL,
	[SecondaryBrainDeathDate] [smalldatetime] NULL,
	[SecondaryBrainDeathTime] [varchar](10) NULL,
	[SecondaryDNRDate] [smalldatetime] NULL,
	[SecondaryERORDeath] [smallint] NULL,
	[SecondaryEMSArrivalToPatientDate] [smalldatetime] NULL,
	[SecondaryEMSArrivalToPatientTime] [varchar](10) NULL,
	[SecondaryEMSArrivalToHospitalDate] [smalldatetime] NULL,
	[SecondaryEMSArrivalToHospitalTime] [varchar](10) NULL,
	[SecondaryPatientTerminal] [smallint] NULL,
	[SecondaryDeathWitnessed] [smallint] NULL,
	[SecondaryDeathWitnessedBy] [varchar](50) NULL,
	[SecondaryLSADate] [smalldatetime] NULL,
	[SecondaryLSATime] [varchar](10) NULL,
	[SecondaryLSABy] [varchar](25) NULL,
	[SecondaryACLSProvided] [smallint] NULL,
	[SecondaryACLSProvidedTime] [varchar](10) NULL,
	[SecondaryGestationalAge] [varchar](10) NULL,
	[SecondaryParentName1] [varchar](25) NULL,
	[SecondaryParentName2] [varchar](25) NULL,
	[SecondaryBirthCBO] [varchar](10) NULL,
	[SecondaryActiveInfection] [smallint] NULL,
	[SecondaryActiveInfectionType] [varchar](25) NULL,
	[SecondaryFluidsGiven] [smallint] NULL,
	[SecondaryBloodLoss] [smallint] NULL,
	[SecondarySignOfInfection] [smallint] NULL,
	[SecondaryMedication] [smallint] NULL,
	[SecondaryAntibiotic] [smallint] NULL,
	[SecondaryPCPName] [varchar](50) NULL,
	[SecondaryPCPPhone] [varchar](14) NULL,
	[SecondaryMDAttending] [varchar](50) NULL,
	[SecondaryMDAttendingPhone] [varchar](14) NULL,
	[SecondaryPhysicalAppearance] [varchar](1000) NULL,
	[SecondaryInternalBloodLossCC] [varchar](10) NULL,
	[SecondaryExternalBloodLossCC] [varchar](10) NULL,
	[SecondaryBloodProducts] [smallint] NULL,
	[SecondaryColloidsInfused] [smallint] NULL,
	[SecondaryCrystalloids] [smallint] NULL,
	[SecondaryPreTransfusionSampleRequired] [smallint] NULL,
	[SecondaryPreTransfusionSampleAvailable] [smallint] NULL,
	[SecondaryPreTransfusionSampleDrawnDate] [smalldatetime] NULL,
	[SecondaryPreTransfusionSampleDrawnTime] [varchar](10) NULL,
	[SecondaryPreTransfusionSampleQuantity] [varchar](10) NULL,
	[SecondaryPreTransfusionSampleHeldAt] [varchar](25) NULL,
	[SecondaryPreTransfusionSampleHeldDate] [smalldatetime] NULL,
	[SecondaryPreTransfusionSampleHeldTime] [varchar](10) NULL,
	[SecondaryPreTransfusionSampleHeldTechnician] [varchar](25) NULL,
	[SecondaryPostMordemSampleTestSuitable] [smallint] NULL,
	[SecondaryPostMordemSampleLocation] [varchar](25) NULL,
	[SecondaryPostMordemSampleContact] [varchar](25) NULL,
	[SecondaryPostMordemSampleCollectionDate] [smalldatetime] NULL,
	[SecondaryPostMordemSampleCollectionTime] [varchar](10) NULL,
	[SecondarySputumCharacteristics] [varchar](255) NULL,
	[SecondaryNOKAltPhone] [varchar](14) NULL,
	[SecondaryNOKLegal] [smallint] NULL,
	[SecondaryNOKAltContact] [varchar](25) NULL,
	[SecondaryNOKAltContactPhone] [varchar](14) NULL,
	[SecondaryNOKPostMortemAuthorization] [smallint] NULL,
	[SecondaryNOKPostMortemAuthorizationReminder] [varchar](25) NULL,
	[SecondaryCoronerCaseNumber] [varchar](25) NULL,
	[SecondaryCoronerCounty] [varchar](25) NULL,
	[SecondaryCoronerReleased] [varchar](25) NULL,
	[SecondaryCoronerReleasedStipulations] [varchar](255) NULL,
	[SecondaryAutopsy] [smallint] NULL,
	[SecondaryAutopsyDate] [smalldatetime] NULL,
	[SecondaryAutopsyTime] [varchar](10) NULL,
	[SecondaryAutopsyLocation] [int] NULL,
	[SecondaryAutopsyBloodRequested] [smallint] NULL,
	[SecondaryAutopsyCopyRequested] [smallint] NULL,
	[SecondaryFuneralHomeSelected] [smallint] NULL,
	[SecondaryFuneralHomeName] [varchar](100) NULL,
	[SecondaryFuneralHomePhone] [varchar](14) NULL,
	[SecondaryFuneralHomeAddress] [varchar](100) NULL,
	[SecondaryFuneralHomeContact] [varchar](25) NULL,
	[SecondaryFuneralHomeNotified] [varchar](2) NULL,
	[SecondaryFuneralHomeMorgueCooled] [varchar](2) NULL,
	[SecondaryHoldOnBody] [smallint] NULL,
	[SecondaryHoldOnBodyTag] [varchar](25) NULL,
	[SecondaryBodyRefrigerationDate] [smalldatetime] NULL,
	[SecondaryBodyRefrigerationTime] [varchar](10) NULL,
	[SecondaryBodyLocation] [varchar](25) NULL,
	[SecondaryBodyMedicalChartLocation] [varchar](25) NULL,
	[SecondaryBodyIDTagLocation] [varchar](25) NULL,
	[SecondaryBodyCoolingMethod] [varchar](50) NULL,
	[SecondaryUNOSNumber] [varchar](25) NULL,
	[SecondaryClientNumber] [varchar](25) NULL,
	[SecondaryCryolifeNumber] [varchar](25) NULL,
	[SecondaryMTFNumber] [varchar](25) NULL,
	[SecondaryLifeNetNumber] [varchar](25) NULL,
	[SecondaryFreeText] [varchar](255) NULL,
	[SecondaryHistorySubstanceAbuse] [smallint] NULL,
	[SecondarySubstanceAbuseDetail] [varchar](255) NULL,
	[SecondaryExtubationDate] [smalldatetime] NULL,
	[SecondaryExtubationTime] [varchar](10) NULL,
	[SecondaryAutopsyReminderYN] [smallint] NULL,
	[SecondaryFHReminderYN] [smallint] NULL,
	[SecondaryBodyCareReminderYN] [smallint] NULL,
	[SecondaryWrapUpReminderYN] [smallint] NULL,
	[SecondaryNOKNotifiedBy] [varchar](50) NULL,
	[SecondaryNOKNotifiedDate] [smalldatetime] NULL,
	[SecondaryNOKNotifiedTime] [varchar](10) NULL,
	[SecondaryNOKGender] [varchar](50) NULL,
	[SecondaryCODOther] [varchar](200) NULL,
	[SecondaryAutopsyLocationOther] [varchar](100) NULL,
	[SecondaryPatientHospitalPhone] [varchar](14) NULL,
	[SecondaryCoronerCase] [smallint] NULL,
	[SecondaryPatientABO] [int] NULL,
	[SecondaryPatientSuffix] [varchar](10) NULL,
	[SecondaryMDAttendingId] [int] NULL,
	[SecondaryAdditionalComments] [varchar](255) NULL,
	[SecondaryRhythm] [int] NULL,
	[SecondaryAdditionalMedications] [varchar](150) NULL,
	[SecondaryBodyHoldPlaced] [smalldatetime] NULL,
	[SecondaryBodyHoldPlacedWith] [varchar](25) NULL,
	[SecondaryBodyFutureContact] [varchar](25) NULL,
	[SecondaryBodyHoldPhone] [varchar](14) NULL,
	[SecondaryBodyHoldInstructionsGiven] [smallint] NULL,
	[SecondarySteroid] [smallint] NULL,
	[SecondaryBodyHoldPlacedTime] [varchar](10) NULL,
	[LastStatEmployeeID] [int] NULL,
	[AuditLogTypeID] [int] NULL,
	[LastModified] [smalldatetime] NULL,
 CONSTRAINT [PK_Secondary] PRIMARY KEY CLUSTERED 
(
	[CallID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo_Secondary_AuditLogTypeID_dbo_AuditLogType_AuditLogTypeId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Secondary]'))
ALTER TABLE [dbo].[Secondary]  WITH NOCHECK ADD  CONSTRAINT [FK_dbo_Secondary_AuditLogTypeID_dbo_AuditLogType_AuditLogTypeId] FOREIGN KEY([AuditLogTypeID])
REFERENCES [dbo].[AuditLogType] ([AuditLogTypeId])
NOT FOR REPLICATION 
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo_Secondary_AuditLogTypeID_dbo_AuditLogType_AuditLogTypeId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Secondary]'))
ALTER TABLE [dbo].[Secondary] CHECK CONSTRAINT [FK_dbo_Secondary_AuditLogTypeID_dbo_AuditLogType_AuditLogTypeId]
GO
