SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SecurityPermissions]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[SecurityPermissions](
	[SecurityPermissionsValue] [int] NOT NULL,
	[SecurityPermissionsName] [varchar](255) NULL,
	[SecurityPermissionsDescription] [varchar](255) NULL,
 CONSTRAINT [PK_SecurityPermissions] PRIMARY KEY NONCLUSTERED 
(
	[SecurityPermissionsValue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
END
GO
