SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[YesNoNa_Ref]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[YesNoNa_Ref](
	[YesNoNa_RefId] [int] IDENTITY(0,1) NOT FOR REPLICATION NOT NULL,
	[YesNoNa_RefName] [varchar](7) NULL,
 CONSTRAINT [PK_YesNoNa_Ref] PRIMARY KEY NONCLUSTERED 
(
	[YesNoNa_RefId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
END
GO
