<?xml version="1.0" encoding="utf-8"?>
<securityConfiguration>
  <xmlSerializerSection type="Microsoft.Practices.EnterpriseLibrary.Security.Configuration.SecuritySettings, Microsoft.Practices.EnterpriseLibrary.Security, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null">
    <enterpriseLibrary.securitySettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" defaultAuthorizationInstance="RuleProvider" defaultAuthenticationInstance="Database Provider" defaultRolesInstance="Custom Roles Provider" defaultProfileInstance="" defaultSecurityCacheInstance="" xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/security">
      <rolesProviders>
        <rolesProvider xsi:type="CustomRolesProviderData" name="Custom Roles Provider" type="Statline.StatTrac.Web.Security.DBRolesProvider, Statline.StatTrac.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
          <extensions>
            <extension name="Database" value="Reporting" />
          </extensions>
        </rolesProvider>
      </rolesProviders>
      <authorizationProviders>
        <authorizationProvider xsi:type="AuthorizationRuleProviderData" name="RuleProvider">
          <rules>
            <rule name="Administration" expression="R:Administrator" />
            <rule name="Enrollment" expression="R:Administrator OR R:&quot;NEOB: Read-Only Registry Site - Permission&quot; OR R:&quot;NEOB: Update/Delete Registry Site - Permission&quot;" />
            <rule name="DynamicEnrollment" expression="R:Administrator OR R:&quot;Dynamic: Read-Only Registry Site - Permission&quot;OR R:&quot;Dynamic: Update/Delete Registry Site - Permission&quot;" />
            <rule name="Search" expression="R:Administrator OR R:&quot;NEOB: Read-Only Registry Site - Permission&quot; OR R:&quot;NEOB: Update/Delete Registry Site - Permission&quot; OR R:&quot;Dynamic: Read-Only Registry Site - Permission&quot;OR R:&quot;Dynamic: Update/Delete Registry Site - Permission&quot;" />
            <rule name="RegistryUpdate" expression="R:Administrator OR R:&quot;NEOB: Update/Delete Registry Site - Permission&quot; OR R:&quot;Dynamic: Update/Delete Registry Site - Permission&quot;" />
            <rule name="MaintainCategory" expression="R:Administrator OR R:&quot;NEOB: Update/Delete Registry Site - Permission&quot; OR R:&quot;Dynamic: Update/Delete Registry Site - Permission&quot;" />
          </rules>
        </authorizationProvider>
      </authorizationProviders>
      <authenticationProviders>
        <authenticationProvider xsi:type="DbAuthenticationProviderData" name="Database Provider" database="Reporting" hashProvider="Custom Hash Provider" />
      </authenticationProviders>
      <profileProviders />
      <securityCacheProviders />
    </enterpriseLibrary.securitySettings>
  </xmlSerializerSection>
</securityConfiguration>