SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[SPS_AlertProcessingReferrals]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[SPS_AlertProcessingReferrals]
GO






CREATE PROCEDURE SPS_AlertProcessingReferrals
--T.T 12/21/2004 This stored proc will process the Alerts Type 1(Referrals) for autoRotation
		@RotationGroupID as int,
		@RotationID as int

 AS

Declare
	
	@OrganizationID as int,
	@OrganizationName as varchar(255),
	@AlertID as int,
	@AlertGroupName as varchar(255),
	@ID as int

--select @RotationGroupID = RotationGroupID, @RotationID = RotationID  from Rotation where RotationNextRun < current_timestamp and currentRotation = -1

print @RotationGroupID
print @RotationID


declare aRef cursor for
Select ID from RotationOrganization where RotationGroupID = @RotationGroupID 
open aRef
 fetch next from aRef into @ID
 while @@fetch_Status = 0
	begin
		Select @AlertID = AlertID,@AlertGroupName = AlertGroupName from RotationAlerts Where RotationGroupID = @RotationGroupID and RotationID = @RotationID and AlertType = 1
		if @AlertGroupName <> NULL
			Begin
				--Get RotationOrganizations
				select  @OrganizationID=OrganizationID,@OrganizationName=OrganizationName from RotationOrganization where ID = @ID
				Print @OrganizationID
				Print @OrganizationName
				--Get AlertID
		
		
				Print @AlertID
				Print @AlertGroupName
		 		insert into RotationTasks (RotationGroupID,RotationID,Type,TypeID,TypeName,OrganizationID,OrganizationName,StoredProc) values (@RotationGroupID,@RotationID,'AlertReferrals',@AlertID,@AlertGroupName,@OrganizationID,@OrganizationName,'SPI_AddAlert')
			end
		fetch next from aRef into @ID
	end
close aref 
deallocate aref





GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

