SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[sps_OnlineHospitalSourceCodeChange]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[sps_OnlineHospitalSourceCodeChange]
GO

CREATE PROCEDURE sps_OnlineHospitalSourceCodeChange


 AS

insert into onlinehospitalsourcecodewebperson (webpersonID,sourceCodeID,SourceCodeName) values (1,40,'codaOnline2')
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

