<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" requirePermission="false" />
  </configSections>
  <dataConfiguration defaultDatabase="Logging" />
  <appSettings file="Local.Config">    
    <add key="Application.Name" value="StatFax" />
    <!-- Service.Timer is in minues 
        1 is 1 minute 
        .50 is every half minute
        .016 is roughly every minute
    -->
    <add key="Service.Timer" value="1" />
    <add key="Service.CanHandlePowerEvent" value="True" />
    <add key="Service.CanPauseAndContinue" value="True" />
    <add key="Service.CanShutdown" value="True" />
    <add key="Service.CanStop" value="True" />
    <add key="DataBase.CommandTimeOut" value="30"/>
	  <add key="ArchiveFolder.Name" value="C:\Program Files (x86)\Statline\StatFax\Archive\" />
    <add key="TemplateFolder.Name" value="C:\Program Files (x86)\Statline\StatFax\Templates\" />
    <add key="FaxDocFolder.Name" value="C:\Program Files (x86)\Statline\StatFax\FaxDoc\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--KeyVault -->
    <add key="keyVaultBaseUrl" value="https://streport-keyvault.vault.azure.net/" />
    <add key="keyVaultRetryCount" value="35" />
    <add key="keyVaultRetryDelay" value="5" />
    <add key="keyVaultClientId" value="9e6ad4ae-0073-4022-a066-f9b4e49eeb6b" />
    <add key="keyVaultCertThumbprint" value="7E2A1824ADBFA02D5D7136AE971983E7D0223DDC" />
  </appSettings>
  <connectionStrings>
    <add name="Logging" connectionString="Data Source=ST-PRODSQL-2;Initial Catalog=Logging;User ID=reglogadmin;Password=9j3111nGxBOJ2dQiHdho;"
      providerName="System.Data.SqlClient" />
    <add name="Reporting" connectionString="Data Source=ST-PRODSQL-2;Initial Catalog=_ReferralProdReport;User ID=streportadmin;Password=;"
      providerName="System.Data.SqlClient" />
    <add name="Transaction" connectionString="Data Source=ST-PRODSQL-1;Initial Catalog=_ReferralProd;User ID=streportadmin;Password=;"
      providerName="System.Data.SqlClient" />
    <add name="CO" connectionString="Data Source=ST-PRODREGSQL;Initial Catalog=DMV_CO;User ID=streportadmin;Password=;"
      providerName="System.Data.SqlClient" />
    <add name="CA" connectionString="Data Source=ST-PRODREGSQL;Initial Catalog=DMV_CA;User ID=streportadmin;Password=;"
      providerName="System.Data.SqlClient" />
    <add name="WY" connectionString="Data Source=ST-PRODREGSQL;Initial Catalog=DMV_WY;User ID=streportadmin;Password=;"
      providerName="System.Data.SqlClient" />
    <add name="CT" connectionString="Data Source=ST-PRODREGSQL;Initial Catalog=DMV_CT;User ID=streportadmin;Password=;"
      providerName="System.Data.SqlClient" />
    <add name="MA" connectionString="Data Source=ST-PRODREGSQL;Initial Catalog=DMV_MA;User ID=streportadmin;Password=;"
      providerName="System.Data.SqlClient" />
    <add name="ME" connectionString="Data Source=ST-PRODREGSQL;Initial Catalog=DMV_ME;User ID=streportadmin;Password=;"
      providerName="System.Data.SqlClient" />
    <add name="NH" connectionString="Data Source=ST-PRODREGSQL;Initial Catalog=DMV_NH;User ID=streportadmin;Password=;"
      providerName="System.Data.SqlClient" />
    <add name="RI" connectionString="Data Source=ST-PRODREGSQL;Initial Catalog=DMV_RI;User ID=streportadmin;Password=;"
      providerName="System.Data.SqlClient" />
    <add name="VT" connectionString="Data Source=ST-PRODREGSQL;Initial Catalog=DMV_VT;User ID=streportadmin;Password=;"
      providerName="System.Data.SqlClient" />
    <add name="NV" connectionString="Data Source=ST-PRODREGSQL;Initial Catalog=DMV_NV;User ID=streportadmin;Password=;"
      providerName="System.Data.SqlClient" />
    <add name="MI" connectionString="Data Source=ST-PRODREGSQL;Initial Catalog=DMV_MI;User ID=streportadmin;Password=;"
      providerName="System.Data.SqlClient" />
    <add name="MI_SOS" connectionString="Data Source=ST-PRODREGSQL;Initial Catalog=DMV_MI_SOS;User ID=streportadmin;Password=;"
      providerName="System.Data.SqlClient" />
    <add name="NE" connectionString="Data Source=ST-PRODREGSQL;Initial Catalog=DMV_NE;User ID=streportadmin;Password=;"
      providerName="System.Data.SqlClient" />
    <add name="WA" connectionString="Data Source=ST-PRODREGSQL;Initial Catalog=DMV_WA;User ID=streportadmin;Password=;"
      providerName="System.Data.SqlClient" />
    <add name="HI" connectionString="Data Source=ST-PRODREGSQL;Initial Catalog=DMV_HI;User ID=streportadmin;Password=;"
      providerName="System.Data.SqlClient" />
    <add name="TX" connectionString="Data Source=ST-PRODREGSQL;Initial Catalog=DMV_TX;User ID=streportadmin;Password=;"
      providerName="System.Data.SqlClient" />
    <add name="DMV_Common" connectionString="Data Source=ST-PRODREGSQL;Initial Catalog=DMV_Common;User ID=streportadmin;Password=;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="false" defaultCategory="Application" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add name="Database Log Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.Database.FormattedDatabaseTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Database.Configuration.FormattedDatabaseTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" databaseInstanceName="Logging" writeLogStoredProcName="WriteLog" addCategoryStoredProcName="AddCategory" formatter="Text Formatter" traceOutputOptions="None" />
      <add name="Database Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.Database.FormattedDatabaseTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Database.Configuration.FormattedDatabaseTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" databaseInstanceName="Logging" writeLogStoredProcName="WriteLog" addCategoryStoredProcName="AddCategory" formatter="Text Formatter" traceOutputOptions="None" />
      <add name="EventLogData" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" source="Enterprise Library Logging" log="Application" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="{timestamp(local)} {message}  " name="ClientServicesNotificationFormatter" />
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp}{newline} Message: {message}{newline} Category: {category}{newline} Priority: {priority}{newline} EventId: {eventid}{newline} Severity: {severity}{newline} Title:{title}{newline} Machine: {localMachine}{newline} App Domain: {localAppDomain}{newline} ProcessId: {localProcessId}{newline} Process Name: {localProcessName}{newline} Thread Name: {threadName}{newline} Win32 ThreadId:{win32ThreadId}{newline} Extended Properties: {dictionary({key} - {value}{newline})}" name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="Application">
        <listeners>
          <add name="Database Trace Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="DBTrace">
        <listeners>
          <add name="Database Trace Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Database Log Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="Error">
        <listeners>
          <add name="Database Log Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="Information">
        <listeners>
          <add name="Database Log Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="ImportMailError">
      </add>
      <add switchValue="All" name="Notify">
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Database Trace Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.505.0" newVersion="5.0.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Interception" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Configuration" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>  
</configuration>