<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
	    <add key="DonorServicesAgilePackageFeed" value="https://pkgs.dev.azure.com/Statline/bd87882d-d5e1-413b-8406-980648182e7a/_packaging/DonorServicesAgilePackageFeed/nuget/v3/index.json" />
	  <!-- also get packages from the NuGet Gallery -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>  