if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Country]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Country]
GO

CREATE TABLE [dbo].[Country] (
	[COUNTRYID] [int] IDENTITY (1, 1) NOT NULL ,
	[COUNTRYNAME] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[UserID] [int] NULL ,
	[LastModified] [datetime] NULL 
) ON [PRIMARY]
GO


