if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FSCondition]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[FSCondition]
GO

CREATE TABLE [dbo].[FSCondition] (
	[FSConditionID] [int] IDENTITY (1, 1) NOT NULL ,
	[FSConditionName] [varchar] (500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL 
) ON [PRIMARY]
GO


