if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[ServiceLevel]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[ServiceLevel]
GO

CREATE TABLE [dbo].[ServiceLevel] (
	[ServiceLevelID] [int] IDENTITY (1, 1) NOT NULL ,
	[ServiceLevelGroupName] [varchar] (80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ServiceLevelTriageLevel] [smallint] NULL ,
	[ServiceLevelOTEMROLevel] [smallint] NULL ,
	[ServiceLevelTEMROLevel] [smallint] NULL ,
	[ServiceLevelEMROLevel] [smallint] NULL ,
	[ServiceLevelLastName] [smallint] NULL ,
	[ServiceLevelFirstName] [smallint] NULL ,
	[ServiceLevelRecNum] [smallint] NULL ,
	[ServiceLevelSSN] [smallint] NULL ,
	[ServiceLevelGender] [smallint] NULL ,
	[ServiceLevelAge] [smallint] NULL ,
	[ServiceLevelWeight] [smallint] NULL ,
	[ServiceLevelWeightAgeLimit] [numeric](3, 0) NULL ,
	[ServiceLevelRace] [smallint] NULL ,
	[ServiceLevelVent] [smallint] NULL ,
	[ServiceLevelPrevVentClass] [smallint] NULL ,
	[ServiceLevelDead] [smallint] NULL ,
	[ServiceLevelDeathDate] [smallint] NULL ,
	[ServiceLevelDeathTime] [smallint] NULL ,
	[ServiceLevelAdmitDate] [smallint] NULL ,
	[ServiceLevelAdmitTime] [smallint] NULL ,
	[ServiceLevelCOD] [smallint] NULL ,
	[ServiceLevelDOB] [smallint] NULL ,
	[ServiceLevelDOA] [smallint] NULL ,
	[ServiceLevelCoroner] [smallint] NULL ,
	[ServiceLevelAttendingMD] [smallint] NULL ,
	[ServiceLevelPronouncingMD] [smallint] NULL ,
	[ServiceLevelApproachMethod] [smallint] NULL ,
	[ServiceLevelApproachBy] [smallint] NULL ,
	[ServiceLevelApproachOTEPrompt] [smallint] NULL ,
	[ServiceLevelApproachTEPrompt] [smallint] NULL ,
	[ServiceLevelApproachEPrompt] [smallint] NULL ,
	[ServiceLevelApproachROPrompt] [smallint] NULL ,
	[ServiceLevelNOK] [smallint] NULL ,
	[ServiceLevelRelation] [smallint] NULL ,
	[ServiceLevelNOKPhone] [smallint] NULL ,
	[ServiceLevelNOKAddress] [smallint] NULL ,
	[ServiceLevelAppropriateOrgan] [smallint] NULL ,
	[ServiceLevelAppropriateBone] [smallint] NULL ,
	[ServiceLevelAppropriateTissue] [smallint] NULL ,
	[ServiceLevelAppropriateSkin] [smallint] NULL ,
	[ServiceLevelAppropriateValves] [smallint] NULL ,
	[ServiceLevelAppropriateEyes] [smallint] NULL ,
	[ServiceLevelAppropriateRsch] [smallint] NULL ,
	[ServiceLevelApproachOrgan] [smallint] NULL ,
	[ServiceLevelApproachBone] [smallint] NULL ,
	[ServiceLevelApproachTissue] [smallint] NULL ,
	[ServiceLevelApproachSkin] [smallint] NULL ,
	[ServiceLevelApproachValves] [smallint] NULL ,
	[ServiceLevelApproachEyes] [smallint] NULL ,
	[ServiceLevelApproachRsch] [smallint] NULL ,
	[ServiceLevelConsentOrgan] [smallint] NULL ,
	[ServiceLevelConsentBone] [smallint] NULL ,
	[ServiceLevelConsentTissue] [smallint] NULL ,
	[ServiceLevelConsentSkin] [smallint] NULL ,
	[ServiceLevelConsentValves] [smallint] NULL ,
	[ServiceLevelConsentEyes] [smallint] NULL ,
	[ServiceLevelConsentRsch] [smallint] NULL ,
	[ServiceLevelRecoveryOrgan] [smallint] NULL ,
	[ServiceLevelRecoveryBone] [smallint] NULL ,
	[ServiceLevelRecoveryTissue] [smallint] NULL ,
	[ServiceLevelRecoverySkin] [smallint] NULL ,
	[ServiceLevelRecoveryValves] [smallint] NULL ,
	[ServiceLevelRecoveryEyes] [smallint] NULL ,
	[ServiceLevelRecoveryRsch] [smallint] NULL ,
	[LastModified] [datetime] NULL ,
	[ServiceLevelExcludePrevVent] [smallint] NULL ,
	[ServiceLevelCheckRegistry] [smallint] NULL ,
	[ServiceLevelDonorIntentFaxYN] [smallint] NULL ,
	[ServiceLevelDonorIntentNurseScript] [varchar] (255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ServiceLevelDonorIntentOrganizationId] [int] NULL ,
	[ServiceLevelDonorIntentFaxId] [int] NULL ,
	[ServiceLevelDonorIntentPersonId] [int] NULL ,
	[ServiceLevelDonorIntentRetries] [int] NULL ,
	[ServiceLevelDonorIntentDocumentName] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ServiceLevelRegCheckRegistry] [smallint] NULL ,
	[ServiceLevelStatus] [smallint] NULL ,
	[WorkingStatusUpdatedFlag] [smallint] NULL ,
	[WorkingServiceLevelId] [int] NULL ,
	[ServiceLevelEyeCareReminder] [varchar] (255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ServiceLevelHeartBeat] [smallint] NULL ,
	[ServiceLevelNOKConsent] [smallint] NULL ,
	[ServiceLevelNOKRegistration] [smallint] NULL ,
	[ServiceLevelEmailDisposition] [smallint] NULL ,
	[ServiceLevelDonorBrainDeathDate] [smallint] NULL ,
	[ServiceLevelDonorBrainDeathTime] [smallint] NULL ,
	[ServiceLevelPronouncingMDPhone] [smallint] NULL ,
	[ServiceLevelAttendingMDPhone] [smallint] NULL ,
	[ServiceLevelDOB_ILB] [smallint] NULL ,
	[ServiceLevelDonorNameMI] [smallint] NULL ,
	[ServiceLevelDonorSpecificCOD] [smallint] NULL ,
	[ServiceLevelApproachLevel] [int] NULL ,
	[ServiceLevelDisableASPSave] [int] NULL 
) ON [PRIMARY]
GO


