<div class="card" style="text-align:center">
  <div class='card-header'>An Error Occured</div>
  <div class="card-body">
    <form class='card-block' style="font-size:1.2em">
      <img style="width:100px;height:100px;align-self:center;opacity:0.6;margin:15px 0 20px 0;" src="assets/error.png" />
      <div class="form-group">
        <p>The address you are using is not correct. Please contact your system administrator.</p>
        <p>We apologize for any inconvenience.</p>
      </div>
    </form>
  </div>
</div>
