<?xml version="1.0" encoding="utf-8" ?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configBuilders>
    <builders>
      <!-- Docs are here https://docs.microsoft.com/en-us/aspnet/config-builder -->
      <add name="KeyVaultStatFileSecrets" vaultName="kv-StatTrac-Prod" xdt:Transform="SetAttributes(vaultName)" xdt:Locator="Match(name)" />
      <add name="KeyVaultCommonSecrets" vaultName="kv-StatTrac-Prod" xdt:Transform="SetAttributes(vaultName)" xdt:Locator="Match(name)" />
    </builders>
  </configBuilders>
  <appSettings file="Local.Config" configBuilders="KeyVaultCommonSecrets, KeyVaultStatFileSecrets">
    <add key="ApplicationInsights.ConnectionString" value="InstrumentationKey=43d0ffba-2fec-439f-a78b-9e61d6724a2e;IngestionEndpoint=https://centralus-0.in.applicationinsights.azure.com/;LiveEndpoint=https://centralus.livediagnostics.monitor.azure.com/" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key="SftpServer.Credentials.UserName" value="statfileserviceuser" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
  </appSettings>

  <connectionStrings>
    <add name="Logging" connectionString="Data Source=10.14.0.139;Initial Catalog=Logging;User ID=stEmailLoggingUser" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)" />
    <add name="Reporting" connectionString="Data Source=10.14.0.140;Initial Catalog=_ReferralProdReport;User ID=StSqlStatFileUser;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)" />
    <add name="Transaction" connectionString="Data Source=10.14.0.139;Initial Catalog=_ReferralProd;User ID=StSqlStatFileUser;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)" />
  </connectionStrings>

  <loggingConfiguration name="Logging Application Block" tracingEnabled="false" defaultCategory="Application" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add name="EmailListener"
           toAddress="it_devoncall@mtf.org;statline.org@gmail.com"
           xdt:Transform="SetAttributes(toAddress)"
           xdt:Locator="Match(name)" />
      <add name="EmailOPSListener"
           xdt:Transform="Remove"
           xdt:Locator="Match(name)" />
    </listeners>
    <formatters>
      <add name="Text Formatter" template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}" xdt:Transform="SetAttributes(template)" xdt:Locator="Match(name)" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="ImportMailError" xdt:Transform="Remove" xdt:Locator="Match(name)" />
    </categorySources>
  </loggingConfiguration>
</configuration>