<?xml version="1.0" encoding="utf-8"?>
<securityConfiguration>
  <xmlSerializerSection type="Microsoft.Practices.EnterpriseLibrary.Security.Configuration.SecuritySettings, Microsoft.Practices.EnterpriseLibrary.Security, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null">
    <enterpriseLibrary.securitySettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" defaultAuthorizationInstance="RuleProvider" defaultAuthenticationInstance="Database Provider" defaultRolesInstance="Custom Roles Provider" defaultProfileInstance="" defaultSecurityCacheInstance="" xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/security">
      <rolesProviders>
        <rolesProvider xsi:type="CustomRolesProviderData" name="Custom Roles Provider" type="Statline.StatTrac.Web.Security.DBRolesProvider, Statline.StatTrac.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
          <extensions>
            <extension name="Database" value="Reporting" />
          </extensions>
        </rolesProvider>
      </rolesProviders>
      <authorizationProviders>
        <authorizationProvider xsi:type="AuthorizationRuleProviderData" name="RuleProvider">
          <rules>
            <rule name="Administrator" expression="R:Administrator" />
            <rule name="GeneralAdministration" expression="R:Administrator OR R:ClientAdmin " />
            <rule name="ReportAccessGroup" expression="R:Administrator OR R:ClientAdmin " />
            <rule name="ReportAccessGroupConfigure" expression="R:Administrator " />
            <rule name="Role" expression="R:Administrator OR R:ClientAdmin " />
            <rule name="RoleConfigure" expression="R:Administrator OR R:ClientAdmin " />
            <rule name="UserConfigure" expression="R:Administrator OR R:ClientAdmin " />
            <rule name="User" expression="R:*"  />
            <rule name="BlockEventLog" expression="R:BlockEventLog AND (NOT R:Administrator) AND (NOT R:ClientAdmin) AND (NOT R:&quot;SL: Client Administrator- Permission&quot;)" />
            <rule name="Update" expression="R:Administrator OR R:&quot;SL: Update Referral- Permission&quot; OR R:&quot;SL: Update Event Log- Permission&quot; OR R:&quot;SL: Edit Schedule Shift- Permission&quot; OR R:&quot;SL: Create Schedule Shift- Permission&quot; OR R:&quot;SL: Delete Schedule Shift- Permission&quot; OR R:&quot;SL: Update Ref Facility Compliance- Permission&quot; " />
            <rule name="ReferralUpdate" expression="R:Administrator OR R:&quot;SL: Update Referral- Permission&quot;" />
            <rule name="EventLogUpdate" expression="R:Administrator OR R:&quot;SL: Update Event Log- Permission&quot;" />
            <rule name="ScheduleSearch" expression="R:Administrator OR R:&quot;SL: Create Schedule Shift- Permission&quot; OR R:&quot;SL: Edit Schedule Shift- Permission&quot; OR R:&quot;SL: Delete Schedule Shift- Permission&quot;" />
            <rule name="ScheduleShiftUpdate" expression="R:Administrator OR R:&quot;SL: Edit Schedule Shift- Permission&quot; OR R:&quot;SL: Delete Schedule Shift- Permission&quot;" />
            <rule name="ScheduleShiftDelete" expression="R:Administrator OR R:&quot;SL: Delete Schedule Shift- Permission&quot;" />
            <rule name="ScheduleShiftCreate" expression="R:Administrator OR R:&quot;SL: Create Schedule Shift- Permission&quot;" />
            <rule name="ReferralFacilityCompliance" expression="R:Administrator OR R:&quot;SL: Update Ref Facility Compliance- Permission&quot;" />
            <rule name="QA" expression="R:Administrator OR R:&quot;SL: QA Pending Review - Permission&quot; OR R:&quot;SL: QA QM Form - Permission&quot; OR R:&quot;SL: QA Review - Permission&quot; OR R:&quot;SL: QA Configuration - Permission&quot;" />
            <rule name="QAQMForm" expression="R:Administrator OR R:&quot;SL: QA QM Form - Permission&quot;" />
            <rule name="QAReview" expression="R:Administrator OR R:&quot;SL: QA Review - Permission&quot;" />
            <rule name="QAPendingReview" expression="R:Administrator OR R:&quot;SL: QA Pending Review - Permission&quot;" />
            <rule name="QAConfig" expression="R:Administrator OR R:&quot;SL: QA Configuration - Permission&quot;" />
            <rule name="QACreate" expression="R:Administrator"/>
            <rule name="QAUpdate" expression="R:Administrator OR R:&quot;SL: QA Update/Delete - Permission&quot;" />
            <rule name="QAViewOtherOrgs" expression="R:Administrator OR R:&quot;SL: QA View Other Orgs - Permission&quot;" />
            <rule name="QAAddEdit" expression="R:Administrator OR R:&quot;SL: QA Add/Edit Quality Monitoring Form - Permission&quot;" />
          </rules>
        </authorizationProvider>
      </authorizationProviders>
      <authenticationProviders>
        <authenticationProvider xsi:type="DbAuthenticationProviderData" name="Database Provider" database="Reporting" hashProvider="Custom Hash Provider" />
      </authenticationProviders>
      <profileProviders />
      <securityCacheProviders />
    </enterpriseLibrary.securitySettings>
  </xmlSerializerSection>
</securityConfiguration>