<?xml version="1.0" encoding="UTF-8"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <!--sqlrpt-->
    <add name="Logging" connectionString="Data Source=10.30.2.70;Initial Catalog=Logging;User ID=stReportlogUser;Password=P0voXGPoYAgXshcmteg3;"
      providerName="System.Data.SqlClient" xdt:Transform="SetAttributes(connectionString)"  xdt:Locator="Match(name)" />
    <!--sqlrpt-->
    <add name="Reporting" connectionString="Data Source=10.30.2.70;Initial Catalog=_ReferralProdReport;User ID=stReportUser;"
      providerName="System.Data.SqlClient" xdt:Transform="SetAttributes(connectionString)"  xdt:Locator="Match(name)" />
    <!--stsqloltp-->
    <add name="Transaction" connectionString="Data Source=10.30.2.68;Initial Catalog=_ReferralProd;User ID=stReportTransactionalUser;"
      providerName="System.Data.SqlClient" xdt:Transform="SetAttributes(connectionString)"  xdt:Locator="Match(name)" />
    <!--sqlrpt-->
    <add name="DataWarehouse" connectionString="Data Source=10.30.2.70;Initial Catalog=_ReferralProd_DataWarehouse;User ID=stReportDwUser;"
         providerName="System.Data.SqlClient" xdt:Transform="SetAttributes(connectionString)"  xdt:Locator="Match(name)" />
    <add name="ReportingServicesConnection" connectionString="Data Source=DOGGY;Initial Catalog=NoDatabase;User ID=stReportRSUser;"
         providerName="System.Data.SqlClient" xdt:Transform="SetAttributes(connectionString)"  xdt:Locator="Match(name)" />
    <add name="DMV_Common" connectionString="Data Source=registry-prod-mi.e48cb6c771de.database.windows.net;Initial Catalog=DMV_Common;User ID=streportRegistryUser;Password=;"
         providerName="System.Data.SqlClient" xdt:Transform="SetAttributes(connectionString)"  xdt:Locator="Match(name)" />
    <add name="CO" connectionString="Data Source=registry-prod-mi.e48cb6c771de.database.windows.net;Initial Catalog=DMV_CO;User ID=streportRegistryUser;Password=;"
         providerName="System.Data.SqlClient" xdt:Transform="SetAttributes(connectionString)"  xdt:Locator="Match(name)" />
    <add name="HI" connectionString="Data Source=registry-prod-mi.e48cb6c771de.database.windows.net;Initial Catalog=DMV_HI;User ID=streportRegistryUser;Password=;"
         providerName="System.Data.SqlClient" xdt:Transform="SetAttributes(connectionString)"  xdt:Locator="Match(name)" />
    <add name="NV" connectionString="Data Source=registry-prod-mi.e48cb6c771de.database.windows.net;Initial Catalog=DMV_NV;User ID=streportRegistryUser;Password=;"
         providerName="System.Data.SqlClient" xdt:Transform="SetAttributes(connectionString)"  xdt:Locator="Match(name)" />
    <add name="WY" connectionString="Data Source=registry-prod-mi.e48cb6c771de.database.windows.net;Initial Catalog=DMV_WY;User ID=streportRegistryUser;Password=;"
         providerName="System.Data.SqlClient" xdt:Transform="SetAttributes(connectionString)"  xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="Developer.Emails" value="itops@statline.com;" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key="ReportingServices.Url" value="https://reports.statline.org/ReportServer" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key="Statline.StatTrac.Web.UI.ReportService.ReportingService" value="https://reports.statline.org/ReportServer/ReportService.asmx" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <!--KeyVault -->
    <add key="keyVaultBaseUrl" value="https://stprodcentral-reportkv.vault.azure.net/" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key="keyVaultClientId" value="9e6ad4ae-0073-4022-a066-f9b4e49eeb6b" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key="keyVaultCertThumbprint" value="7E2A1824ADBFA02D5D7136AE971983E7D0223DDC" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>