<?xml version="1.0" encoding="UTF-8"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Reporting" connectionString="Data Source=ST-DRSQL-1;Initial Catalog=_ReferralProdReport;User ID=streportadmin;Password=report4dmin!;"
      providerName="System.Data.SqlClient" Transform="SetAttributes(connectionString)" Locator="Match(name)" />
    <add name="Transaction" connectionString="Data Source=ST-DRSQL-1;Initial Catalog=_ReferralProd;User ID=streportadmin;Password=report4dmin!;"
      providerName="System.Data.SqlClient" Transform="SetAttributes(connectionString)" Locator="Match(name)" />
    <add name="DataWarehouse" connectionString="Data Source=ST-DRSQL-1;Initial Catalog=_ReferralProd_DataWarehouse;User ID=streportadmin;Password=report4dmin!;"
      providerName="System.Data.SqlClient" Transform="SetAttributes(connectionString)" Locator="Match(name)" />
    <add name="ReportingServicesConnection" connectionString="Data Source=DOGGY;Initial Catalog=NoDatabase;User ID=stReportRSUser;Password=;"
      providerName="System.Data.SqlClient" xdt:Transform="SetAttributes(connectionString)"  xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="Email.UserName" value="statservices@statline.org" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key="Email.Password" value="Stat0615Mail" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key="Email.Port" value="587" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key="Allow.OnlineReviewPendingEvents" value="true" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key="MasterPages.Policy" value="~/Framework/Templates/BasicView.ascx" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key="Navigation.MenuFileName" value="~/Framework/Navigation/Data/BasicMenuData.xml" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key="ErrorDBConnectionString" value="ZltYIVJDrm1rWCrlLU8Qfkrpg5x7Krza2ySWQMvDgskup92vHHKoLHiT8tOuErPgpHtVsLIAtaiVsQhADLqlwnb5aC9k/OjbivTd2oeiZVk=//////d57VWZQ7XE819xyoqnbW2A==" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key="PK" value="AQIDBAUGBwgJEBESExQVFg==" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key="Developer.Emails" value="itops@statline.com;" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key="ReportingServices.Url" value="https://reports.statline.org/ReportServer" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key="Statline.StatTrac.Web.UI.ReportService.ReportingService" value="https://reports.statline.org/ReportServer/ReportService.asmx" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <!--KeyVault -->
    <add key="keyVaultBaseUrl" value="https://stprodcentral-reportkv.vault.azure.net/" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key="keyVaultClientId" value="9e6ad4ae-0073-4022-a066-f9b4e49eeb6b" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key="keyvaultCertThumbprint" value="7E2A1824ADBFA02D5D7136AE971983E7D0223DDC" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
  </appSettings>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="false" defaultCategory="Application" logWarningsWhenNoCategoriesMatch="true" Transform="SetAttributes(tracingEnabled, defaultCategory, logWarningsWhenNoCategoriesMatch)" Locator="Match(name)">
  </loggingConfiguration>
  <system.web>
    <trace enabled="false" requestLimit="100" pageOutput="true" traceMode="SortByTime" localOnly="true" xdt:Transform="Replace" />
    <httpRuntime executionTimeout="600" xdt:Transform="Replace" />
  </system.web>
</configuration>