@model EditSecretsViewModel

<partial name="Partial/SecretList" />

@* TODO: Consider placing add secret UI inline *@
<a asp-action="AddSecret" asp-route-id="@Model.Id" class="btn btn-primary"
   asp-authorize="@AuthorizationPolicies.ConfigurationEditingPolicy">
    Add secret
</a>
