<div style="width:100%;margin-top:75px;">
  <div [hidden]="message == null || message == ''" class="timeOutMessage">{{message}}</div>
  <div class="card resetPasswordCard">
    <h2 style="text-align:center">{{title}}</h2>
    <form>
      <div class="form-error" style="font-size:1.1em" [hidden]="error=='' || passwordHasChanged">{{error}}</div>
      <div class="form-error" style="font-size:1.1em" [hidden]="requestNotValid=='' || passwordHasChanged">{{requestNotValid}}</div>
      <div style="text-align:center" [hidden]="!passwordHasChanged">
        <label class="passwordResetSent">
          Your password has changed sucessfully.<br />
          You can now login with your new credentials.<br />
        </label>
      </div>
      <div [hidden]="requestNotValid != ''">
        <div class="form-group" [hidden]="changeRequested==''" style="margin-top:25px;" [style.text-align]="passwordHasChanged ? 'center' : 'left'">
          <label [hidden]="passwordHasChanged">Enter your current password</label>
          <input [hidden]="passwordHasChanged" type="password" class="form-control" [(ngModel)]="passwordOld"
                 [ngModelOptions]="{standalone: true}" id="passwordOld" name="passwordOld" aria-describedby="passwordOld"
                 placeholder="Current password" required>
          <div class="invalid-feedback">Please enter current password.</div>
        </div>

        <div class="form-group" style="margin-top:25px;" [style.text-align]="passwordHasChanged ? 'center' : 'left'">
          <label [hidden]="passwordHasChanged">Enter your new password</label>
          <input [hidden]="passwordHasChanged" type="password" class="form-control" [(ngModel)]="password"
                 [ngModelOptions]="{standalone: true}" id="password" name="password" aria-describedby="password"
                 placeholder="Your new password" [maxlength]="25" required>
          <div class="invalid-feedback">Please enter your current password.</div>
        </div>
        <div class="form-group" style="margin-top:25px;" [style.text-align]="passwordHasChanged ? 'center' : 'left'">
          <label [hidden]="passwordHasChanged">Confirm your new password</label>
          <input [hidden]="passwordHasChanged" type="password" class="form-control" [(ngModel)]="passwordConfirm"
                 [ngModelOptions]="{standalone: true}" id="passwordConfirm" name="passwordConfirm" aria-describedby="passwordConfirm"
                 placeholder="Confirm password" [maxlength]="25" required>
          <div class="invalid-feedback">Please enter an email.</div>
        </div>
        <div class="generalErrors" [hidden]="isPasswordValid()=='ok' || error!=''" [innerHTML]="isPasswordValid()"></div>

        <div style="width:100%;text-align:center">
          <button [hidden]="passwordHasChanged" type="submit"
                  class="btn btn-primary loginButton" [disabled]="isPasswordValid() != 'ok' || (passwordOld =='' && changeRequested=='1')" (click)="setPassword();">
            Update Password
          </button>
        </div>
        <div style="text-align:center">
          <button [hidden]="!passwordHasChanged" type="submit" class="btn btn-primary loginButton" (click)="gotoLogin();">Go to Login Page</button>
        </div>
        </div>
    </form>
  </div>
</div>
