<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div style="font-family:Calibri">
        <p>Attached is the Confidential Donor Registry Verification Form.</p>
        <p>
            If you need further information or have updates to this referral, please call Statline at 800.494.7828.
        </p>
        <p style="font-style:italic">
            This is an automated e-mail. Please do not reply directly to this message.
        </p>
        <p>
            <div style="text-align:center">***IMPORTANT NOTICE***</div>
            The content of this memo is for the sole use of the intended recipient(s) and may contain confidential and privileged information.  Any unauthorized review, use, disclosure or distribution is prohibited.  If you are not the appropriate recipient, please contact the sender by phone and destroy all copies of the original message.
        <p>
    </div>
</body>
</html>