<?xml version="1.0" encoding="utf-8"?>
<dataConfiguration>
  <xmlSerializerSection type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null">
    <enterpriseLibrary.databaseSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" defaultInstance="Reporting" xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/data">
      <databaseTypes>
        <databaseType name="Sql Server" type="Microsoft.Practices.EnterpriseLibrary.Data.Sql.SqlDatabase, Microsoft.Practices.EnterpriseLibrary.Data, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null" />
      </databaseTypes>
      <instances>
        <instance name="Error" type="Sql Server" connectionString="Error Connection String" />
        <instance name="Reporting" type="Sql Server" connectionString="Report Connection String" />
        <instance name="Transaction" type="Sql Server" connectionString="Transaction Connection String" />
      </instances>
      <connectionStrings>
        <connectionString name="Error Connection String">
          <parameters>
            <parameter name="database" value="_ErrorProd" isSensitive="false" />
            <parameter name="Integrated Security" value="False" isSensitive="false" />
            <parameter name="password" value="report4dmin!" isSensitive="true" />
            <parameter name="server" value="st-prodsql-1" isSensitive="false" />
            <parameter name="user" value="streportadmin" isSensitive="false" />
          </parameters>
        </connectionString>
        <connectionString name="Report Connection String">
          <parameters>
            <parameter name="database" value="_ReferralTest" isSensitive="false" />
            <parameter name="Integrated Security" value="false" isSensitive="false" />
            <parameter name="password" value="report4dmin!" isSensitive="true" />
            <parameter name="server" value="st-statrepsql" isSensitive="false" />
            <parameter name="user" value="streportadmin" isSensitive="false" />
          </parameters>
        </connectionString>
        <connectionString name="Transaction Connection String">
          <parameters>
            <parameter name="database" value="_ReferralTest" isSensitive="false" />
            <parameter name="Integrated Security" value="False" isSensitive="false" />
            <parameter name="password" value="report4dmin!" isSensitive="true" />
            <parameter name="server" value="st-statrepsql" isSensitive="false" />
            <parameter name="user" value="streportadmin" isSensitive="false" />
          </parameters>
        </connectionString>
      </connectionStrings>
    </enterpriseLibrary.databaseSettings>
  </xmlSerializerSection>
</dataConfiguration>