<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" requirePermission="true" />
    <section name="configBuilders" type="System.Configuration.ConfigurationBuildersSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" restartOnExternalChanges="false" requirePermission="false" />
  </configSections>
  <configBuilders>
    <builders>
      <!-- Docs are here https://docs.microsoft.com/en-us/aspnet/config-builder -->
      <add name="KeyVaultStatFaxSecrets" mode="Greedy" vaultName="kv-StatTrac-Test" prefix="StatFax--" stripPrefix="true" type="Microsoft.Configuration.ConfigurationBuilders.AzureKeyVaultConfigBuilder, Microsoft.Configuration.ConfigurationBuilders.Azure, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="KeyVaultCommonSecrets" mode="Greedy" vaultName="kv-StatTrac-Test" prefix="Common--" stripPrefix="true" type="Microsoft.Configuration.ConfigurationBuilders.AzureKeyVaultConfigBuilder, Microsoft.Configuration.ConfigurationBuilders.Azure, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </builders>
  </configBuilders>
  <appSettings configBuilders="KeyVaultCommonSecrets, KeyVaultStatFaxSecrets">
    <add key="Application.Name" value="StatFax" />
    <add key="DataBase.CommandTimeOut" value="240" />
    <add key="ApplicationInsights.ConnectionString" value="InstrumentationKey=8b4b3cdc-4363-49dc-889e-4528bb43ccdc;IngestionEndpoint=https://centralus-0.in.applicationinsights.azure.com/;LiveEndpoint=https://centralus.livediagnostics.monitor.azure.com/" />

    <!-- 
    Below settings are in the format of .Net Core's configuration system.
    That is, they are hierarchical and can be easily converted to JSON format. 
    NOTE: The double-dash delimiter is used for merging with KeyVault configuration builder,
    which can't use ":" as a delimiter. .Net Core's Azure KeyVault provider has built-in
    conversion of delimiters to "canonical" form, while configuration builder doesn't do this.
    -->
    <add key="Application--TemplateFolderName" value="Templates" />
    <add key="Application--EmailBodyTemplateFileName" value="RegistryConsentFormEmailTemplate.html" />

    <add key="WordToPdfConverter--GemBoxLicense" value="in key vault" />

    <add key="FaxSender--RingCentral--ClientId" value="FYxA3bmcTLm0lSjk-RBOCQ"/>
    <add key="FaxSender--RingCentral--ClientSecret" value="in key vault"/>
    <add key="FaxSender--RingCentral--UserName" value="+13035699948"/>
    <add key="FaxSender--RingCentral--Password" value="in key vault"/>
    <add key="FaxSender--RingCentral--Extension" value="101"/>
    <add key="FaxSender--RingCentral--PauseFax" value="00:00:12"/>
	
    <add key="EmailSender--FromEmail" value="testStatRespond@statline.org" />
    <add key="EmailSender--EmailSubject" value="Confidential Donor Registry Verification"/>

	<add key="DonorTracApiClient--ServerUrl" value="https://testapi.donortracplus.org" />
	<add key="DonorTracApiClient--Authentication--Address" value="https://testid.statline.org/connect/token" />
	<add key="DonorTracApiClient--Authentication--ClientId" value="StatTracDtApiClient" />
	<add key="DonorTracApiClient--Authentication--ClientSecret" value="in key vault" />
	<add key="DonorTracApiClient--Authentication--Scope" value="statline.donortrac.api" />

    <add key="RegistryApiClient--ServerUrl" value="https://test.donoregistry.org/API/" />
    <add key="RegistryApiClient--Credentials--UserName" value="ApiAdmin" />
    <add key="RegistryApiClient--Credentials--Password" value="{50ADAB2A-63C1-4919-B25F-87E213247FDD86DCB549-AE5A-45CC-B8C3-6C0124A21CC04AD9BC1D-ED75-4781-91F7-AD641112C1DB}" />
  </appSettings>

  <connectionStrings>
    <add name="Logging" connectionString="Data Source=10.14.0.135;Initial Catalog=Logging;User ID=StSqlTestUser;" providerName="System.Data.SqlClient" />
    <add name="Transaction" connectionString="Data Source=10.14.0.135;Initial Catalog=_ReferralTest;User ID=StSqlTestUser;" providerName="System.Data.SqlClient" />
    <add name="CO" connectionString="Data Source=mi-registry-test.05a703f0f761.database.windows.net;Initial Catalog=DMV_CO;User ID=faxRegUser;Password=;" providerName="System.Data.SqlClient" />
    <add name="WY" connectionString="Data Source=mi-registry-test.05a703f0f761.database.windows.net;Initial Catalog=DMV_WY;User ID=faxRegUser;Password=;" providerName="System.Data.SqlClient" />
    <add name="NV" connectionString="Data Source=mi-registry-test.05a703f0f761.database.windows.net;Initial Catalog=DMV_NV;User ID=faxRegUser;Password=;" providerName="System.Data.SqlClient" />
    <add name="HI" connectionString="Data Source=mi-registry-test.05a703f0f761.database.windows.net;Initial Catalog=DMV_HI;User ID=faxRegUser;Password=;" providerName="System.Data.SqlClient" />
    <add name="DMV_Common" connectionString="Data Source=mi-registry-test.05a703f0f761.database.windows.net;Initial Catalog=DMV_Common;User ID=faxRegUser;Password=;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <dataConfiguration defaultDatabase="Transaction" />
</configuration>