<?xml version="1.0" encoding="utf-8" ?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configBuilders>
    <builders>
      <!-- Docs are here https://docs.microsoft.com/en-us/aspnet/config-builder -->
      <add name="KeyVaultStatFaxSecrets" vaultName="kv-StatTrac-Prod" xdt:Transform="SetAttributes(vaultName)" xdt:Locator="Match(name)" />
      <add name="KeyVaultCommonSecrets" vaultName="kv-StatTrac-Prod" xdt:Transform="SetAttributes(vaultName)" xdt:Locator="Match(name)" />
    </builders>
  </configBuilders>
  <appSettings configBuilders="KeyVaultCommonSecrets, KeyVaultStatFaxSecrets">
    <add key="ApplicationInsights.ConnectionString" value="InstrumentationKey=43d0ffba-2fec-439f-a78b-9e61d6724a2e;IngestionEndpoint=https://centralus-0.in.applicationinsights.azure.com/;LiveEndpoint=https://centralus.livediagnostics.monitor.azure.com/" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key="EmailSender--FromEmail" value="statservices@statline.org" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
	<add key="DonorTracApiClient--ServerUrl" value="https://api.donortracplus.org" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="DonorTracApiClient--Authentication--Address" value="https://idsrv.statline.org/connect/token" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="RegistryApiClient--ServerUrl" value="https://www.donoregistry.org/API/" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
  </appSettings>

  <connectionStrings>
    <add name="Logging" connectionString="Data Source=10.14.0.140;Initial Catalog=Logging;User ID=stReportlogUser;Password=;" xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)" />
    <add name="Transaction" connectionString="Data Source=10.14.0.139;Initial Catalog=_ReferralProd;User ID=StSqlFaxUser;Password=;" xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)" />
    <add name="CO" connectionString="Data Source=mi-registry-prod.05a703f0f761.database.windows.net;Initial Catalog=DMV_CO;User ID=faxRegUser;Password=;" xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)" />
    <add name="WY" connectionString="Data Source=mi-registry-prod.05a703f0f761.database.windows.net;Initial Catalog=DMV_WY;User ID=faxRegUser;Password=;" xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)" />
    <add name="NV" connectionString="Data Source=mi-registry-prod.05a703f0f761.database.windows.net;Initial Catalog=DMV_NV;User ID=faxRegUser;Password=;" xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)" />
    <add name="HI" connectionString="Data Source=mi-registry-prod.05a703f0f761.database.windows.net;Initial Catalog=DMV_HI;User ID=faxRegUser;Password=;" xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)" />
    <add name="DMV_Common" connectionString="Data Source=mi-registry-prod.05a703f0f761.database.windows.net;Initial Catalog=DMV_Common;User ID=faxRegUser;Password=;" xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)" />
  </connectionStrings>
</configuration>