@model EditPropertiesViewModel

<form asp-action="EditProperties" asp-route-id="@Model.IdentityResourceId" method="post">
    <div class="form-group row">
        <div class="col-xs-12 col-sm-4">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-12 col-sm-4">
            <label asp-for="DisplayName"></label>
            <input asp-for="DisplayName" class="form-control">
            <span asp-validation-for="DisplayName"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-12 col-sm-4">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control" rows="5"></textarea>
            <span asp-validation-for="Description"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-xs-12 col-sm-12">
            <label>Flags</label>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div>
                        @Html.EditorFor(m => m.Required)
                        <span class="help-block">
                            Specifies whether the user can de-select the scope on the 
                            consent screen (if the consent screen wants to implement 
                            such a feature). 
                            <br>
                            Default is unchecked.
                        </span>
                    </div>

                    <div>
                        @Html.EditorFor(m => m.Emphasize)
                        <span class="help-block">
                            Specifies whether the consent screen will emphasize
                            this scope (if the consent screen wants to implement
                            such a feature).
                            Use this setting for sensitive or important scopes.
                            <br>
                            Default is unchecked.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>