A
{
	color: #003399;
	text-decoration: underline;
}
A:link
{
	color: #003399;
}
A:visited
{
	color: #003399;
}
A:active
{
	color: #003399;
}
A:hover
{
	color: #ff0000;
}
A.href:link
{
	color: #ff9500;
}
A.href:visited
{
	color: #ff9500;
}
A.href:active
{
	color: #ff9500;
}
A.href:hover
{
	color: #ff9500;
}
BODY
{
	padding-right: 0px;
	padding-left: 0px;
	font-size: small;
	background: url(images/bgLeft.jpg) #ffffff fixed repeat-y left 50%;
	padding-bottom: 0px;
	margin: 0px 0px 0px 23px;
	color: #115e94;
	padding-top: 0px;
	font-family: Tahoma;
}
PRE
{
	font-size: small;
}
CODE
{
	font-size: small;
}
TABLE
{
	border-top-width: 0px;
	border-left-width: 0px;
	border-bottom-width: 0px;
	border-collapse: collapse;
	border-right-width: 0px;
	border-spacing: 0px;
}
TABLE.fullWidth
{
	width: 100%;
}
TABLE.fW
{
	width: 100%;
}
TD
{
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
}
TD.fullWidth
{
	width: 100%;
}
IMG
{
	border-top-width: 0px;
	display: block;
	border-left-width: 0px;
	border-bottom-width: 0px;
	border-right-width: 0px;
}
FORM
{
	margin: 0px;
}
INPUT
{
	border-right: #7eb0c9 1px solid;
	border-top: #7eb0c9 1px solid;
	font-size: small;
	border-left: #7eb0c9 1px solid;
	color: #115e94;
	border-bottom: #7eb0c9 1px solid;
	font-family: Tahoma;
}
SELECT
{
	border-right: #7eb0c9 1px solid;
	border-top: #7eb0c9 1px solid;
	font-size: small;
	border-left: #7eb0c9 1px solid;
	color: #115e94;
	border-bottom: #7eb0c9 1px solid;
	font-family: Tahoma;
}
TEXTAREA
{
	border-right: #7eb0c9 1px solid;
	border-top: #7eb0c9 1px solid;
	font-size: small;
	border-left: #7eb0c9 1px solid;
	color: #115e94;
	border-bottom: #7eb0c9 1px solid;
	font-family: Tahoma;
}
INPUT.fullWidth
{
	width: 95%;
}
TEXTAREA.fullWidth
{
	width: 95%;
}
SELECT.fullWidth
{
	width: 95%;
}
INPUT.checkbox
{
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	border-bottom-style: none;
}
INPUT.radio
{
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	border-bottom-style: none;
}
INPUT.image
{
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	border-bottom-style: none;
}
INPUT.submit
{
	border-right: #387199 1px solid;
	border-top: #ffffff 1px solid;
	border-left: #ffffff 1px solid;
	border-bottom: #387199 1px solid;
	background-color: #e5eef3;
}
TABLE.bgIndex
{
	background-color: #e5eef3;
}
TD.bgIndexLogo
{
	background-image: url(images/bgIndexLogo.gif);
	background-color: #2182bd;
}
TD.bgIndexMenuTop
{
	width: 100%;
}
TD.bgIndexGetStartedTop
{
	font-weight: bold;
	font-size: small;
	background-image: url(images/bgIndexGetStartedTop.gif);
	padding-bottom: 10px;
	color: #ffffff;
}
TD.bgIndexGetStartedBottom
{
	font-weight: bold;
	background-image: url(images/bgIndexGetStartedBottom.gif);
}
TD.bgIndexUsingEETop
{
	font-weight: bold;
	font-size: small;
	background-image: url(images/bgIndexUsingEETop.gif);
	padding-bottom: 10px;
	color: #ffffff;
}
TD.bgTechnologySponsor
{
	background-image: url(images/bgTechnologySponsor.jpg);
	width: 100%;
}
TD.bgIndexOptionsTop
{
	font-weight: bold;
	font-size: small;
	background-image: url(images/bgIndexOptionsTop.gif);
	color: #ff9500;
}
TD.bgIndexSolutions
{
	font-weight: bold;
	font-size: small;
	background-image: url(images/bgIndexSolutions.gif);
	color: #ff9500;
}
TD.bgIndexMembers
{
	font-weight: bold;
	font-size: small;
	background-image: url(images/bgIndexMembers.gif);
	color: #ff9500;
}
TD.bgIndexWebcasts
{
	font-weight: bold;
	font-size: small;
	background-image: url(images/bgIndexWebcasts.gif);
	color: #ff9500;
}
TD.bgIndexWhitePapers
{
	font-weight: bold;
	font-size: small;
	background-image: url(images/bgIndexWhitePapers.gif);
	color: #ff9500;
}
TD.bgAskExpert
{
	background-image: url(images/bgAskExpert.gif);
	vertical-align: top;
}
TD.bgLeft
{
	width: 23px;
}
TD.bgLogo
{
	background-image: url(images/logo.gif);
	background-color: #2182bd;
}
TD.bgLogoRight
{
	background-image: url(images/bgLogo.gif);
	background-color: #2182bd;
}
TD.bgMenuTop
{
	background-image: url(images/bgMenuTop.gif);
	width: 100%;
}
TD.bgMenu
{
	background-image: url(images/bgMenu.gif);
	background-color: #e9eff4;
}
TD.bgBottom
{
	font-size: 7pt;
	background-image: url(images/bgBottom.gif);
	width: 100%;
	color: #115e94;
}
TD.bgRegister2
{
	background-image: url(images/bgRegister2.gif);
	background-repeat: no-repeat;
}
DIV.taMenu
{
	background: url(images/taMenuBorder.gif) #ffffff repeat-x 50% bottom;
	float: left;
	width: 100%;
}
DIV.taMenu UL
{
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
	list-style-type: none;
}
DIV.taMenu LI
{
	padding-right: 0px;
	display: inline;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
}
DIV.taMenu A
{
	font-weight: bold;
	font-size: x-small;
	background: url(images/taMenuRight.gif) no-repeat right top;
	float: left;
	border-bottom: #84b0c7 1px solid;
	text-decoration: none;
}
DIV.taMenu A:hover
{
	background-position: 100% -150px;
}
DIV.taMenu A:link
{
	color: #115e94;
}
DIV.taMenu A:visited
{
	color: #115e94;
}
DIV.taMenu A:active
{
	color: #115e94;
}
DIV.taMenu A:hover
{
	color: #115e94;
}
DIV.taMenu SPAN
{
	padding-right: 9px;
	display: block;
	padding-left: 9px;
	background: url(images/taMenuLeft.gif) no-repeat left top;
	float: left;
	padding-bottom: 5px;
	padding-top: 5px;
	white-space: nowrap;
}
DIV.taMenu SPAN
{
	float: none;
}
DIV.taMenu A:hover SPAN
{
	background-position: 0% -150px;
}
DIV.taMenu LI#current A
{
	border-top-width: 0px;
	background-position: 100% -150px;
	border-left-width: 0px;
	border-bottom-width: 0px;
	border-right-width: 0px;
}
DIV.taMenu LI#current SPAN
{
	background-position: 0% -150px;
	padding-bottom: 6px;
}
DIV.breadCrumb
{
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 0px;
	padding-top: 0px;
}
DIV.breadCrumb UL
{
	padding-right: 0px;
	display: inline;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
	list-style-type: none;
}
DIV.breadCrumb LI
{
	padding-right: 0px;
	display: inline;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
}
DIV.breadCrumb LI#current
{
	white-space: nowrap;
}
DIV.breadCrumb A
{
	font-weight: bold;
	white-space: nowrap;
}
DIV.breadCrumb IMG
{
	display: inline;
	background: url(images/markerOrange.gif) #ffffff no-repeat right bottom;
	width: 5px;
	margin-right: 5px;
	height: 10px;
}
TD.column
{
	background-color: #e5eef3;
}
SPAN.taBranch
{
	margin-left: 10px;
}
TD.boxTopLeft
{
	font-size: 1px;
	background-image: url(images/boxTL.gif);
	width: 10px;
	height: 10px;
}
TD.bTl
{
	font-size: 1px;
	background-image: url(images/boxTL.gif);
	width: 10px;
	height: 10px;
}
TD.boxTop
{
	background-image: url(images/boxTop.gif);
	width: 100%;
	height: 10px;
}
TD.bT
{
	background-image: url(images/boxTop.gif);
	width: 100%;
	height: 10px;
}
TD.boxTopRight
{
	background-image: url(images/boxTR.gif);
	width: 10px;
	height: 10px;
}
TD.bTr
{
	background-image: url(images/boxTR.gif);
	width: 10px;
	height: 10px;
}
TD.boxLeft
{
	background-image: url(images/boxLeft.gif);
	width: 10px;
}
TD.bL
{
	background-image: url(images/boxLeft.gif);
	width: 10px;
}
TD.boxMain
{
	width: 100%;
	background-color: #ffffff;
}
TD.bM
{
	width: 100%;
	background-color: #ffffff;
}
TD.boxRight
{
	font-size: 1px;
	background-image: url(images/boxRight.gif);
	width: 10px;
}
TD.bRR
{
	font-size: 1px;
	background-image: url(images/boxRight.gif);
	width: 10px;
}
TD.boxBottomLeft
{
	background-image: url(images/boxBL.gif);
	width: 10px;
	height: 10px;
}
TD.bBl
{
	background-image: url(images/boxBL.gif);
	width: 10px;
	height: 10px;
}
TD.boxBottomRight
{
	font-size: 1px;
	background-image: url(images/boxBR.gif);
	width: 10px;
	height: 10px;
}
TD.bBr
{
	font-size: 1px;
	background-image: url(images/boxBR.gif);
	width: 10px;
	height: 10px;
}
TD.boxBottom
{
	background-image: url(images/boxBottom.gif);
	width: 100%;
	height: 10px;
}
TD.bB
{
	background-image: url(images/boxBottom.gif);
	width: 100%;
	height: 10px;
}
.boxTitle
{
	font-weight: bold;
	font-size: smaller;
	padding-bottom: 4px;
}
.boxFooter
{
	padding-right: 0px;
	padding-left: 0px;
	font-weight: bold;
	padding-bottom: 3px;
	padding-top: 7px;
	white-space: nowrap;
	text-align: center;
}
IMG.markerArrow
{
	padding-right: 5px;
	display: inline;
	padding-left: 5px;
	padding-bottom: 5px;
	width: 27px;
	padding-top: 5px;
	height: 11px;
}
IMG.markerWide
{
	padding-right: 0px;
	display: inline;
	padding-left: 1px;
	padding-bottom: 0px;
	width: 5px;
	padding-top: 0px;
	height: 10px;
}
IMG.marker
{
	padding-right: 2px;
	display: inline;
	padding-left: 4px;
	padding-bottom: 2px;
	width: 3px;
	padding-top: 0px;
	height: 5px;
}
IMG.inline
{
	padding-right: 0px;
	display: inline;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
}
IMG.sortArrow
{
	display: inline;
}
#bannerAd
{
	padding-right: 3px;
	padding-left: 3px;
	padding-bottom: 3px;
	margin: 3px;
	padding-top: 3px;
	text-align: center;
}
TD.errorMessage
{
	padding-right: 5px;
	padding-left: 5px;
	font-weight: bold;
	padding-bottom: 0px;
	color: #ff0000;
	padding-top: 0px;
}
TD.item
{
	font-size: small;
	vertical-align: top;
	background-color: #e5eef3;
}
.sectionHeader
{
	font-weight: bold;
	font-size: 12pt;
	margin-bottom: 4px;
	color: #ff9500;
	font-family: Arial;
}
.pageHeader
{
	font-weight: bold;
	font-size: 12pt;
	margin-bottom: 4px;
	color: #ff9500;
	font-family: Arial;
}
.pageHeader A:link
{
	color: #ff9500;
}
.pageHeader A:visited
{
	color: #ff9500;
}
.pageHeader A:active
{
	color: #ff9500;
}
.pageHeader A:hover
{
	color: #ff9500;
}
.sectionHeader A:link
{
	color: #ff9500;
}
.sectionHeader A:visited
{
	color: #ff9500;
}
.sectionHeader A:active
{
	color: #ff9500;
}
.sectionHeader A:hover
{
	color: #ff9500;
}
TD.sectionTitle
{
	font-weight: bold;
	font-size: 10pt;
}
.description
{
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 0px;
	padding-top: 0px;
}
TD.name
{
	font-weight: bold;
	white-space: nowrap;
	text-align: right;
}
TD.value
{
	padding-left: 5px;
}
DIV.subtopicNavigation
{
	width: 100%;
}
DIV.subtopicNavigation UL
{
	padding-right: 0px;
	display: none;
	padding-left: 10px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
	list-style-type: none;
}
DIV.subtopicNavigation UL.expanded
{
	display: block;
}
DIV.subtopicNavigation LI
{
	padding-right: 0px;
	padding-left: 10px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
}
DIV.subtopicNavigation LI.parent
{
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
}
DIV.subtopicNavigation LI IMG
{
	display: inline;
}
DIV.subtopicNavigation A#path
{
	font-weight: bold;
}
DIV.subtopicNavigation A#current
{
	font-weight: bold;
	color: #ff9500;
}
TD.taQuestionTitle
{
	font-weight: bold;
	font-size: 12pt;
}
TD.taQuestionTitle A:link
{
	text-decoration: underline;
}
TD.taQuestionTitle A:visited
{
	text-decoration: underline;
}
TD.taQuestionTitle A:active
{
	text-decoration: underline;
}
TD.taQuestionTitle A:hover
{
	text-decoration: underline;
}
TD.taNavigationLinks
{
	font-size: 9pt;
	white-space: nowrap;
}
TD.itemEven
{
	padding-right: 2px;
	padding-left: 2px;
	padding-bottom: 2px;
	padding-top: 2px;
	background-color: #e5eef3;
}
TD.itemOdd
{
	padding-right: 2px;
	padding-left: 2px;
	padding-bottom: 2px;
	padding-top: 2px;
}
TD.itemAdd
{
	padding-right: 2px;
	padding-left: 2px;
	padding-bottom: 2px;
	padding-top: 2px;
	white-space: nowrap;
	background-color: #cedee8;
}
A.currentTA
{
	color: #ff9500;
}
TD.questionHeader
{
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 2px;
	padding-top: 2px;
	background-color: #e5eef3;
}
.questionBody
{
}
.questionBody A:visited
{
	color: #996699;
}
TD.answerHeader
{
}
TD.proposedHeader
{
}
TD.acceptedHeader
{
	color: #33bb00;
}
TD.assistedHeader
{
	color: #66bb66;
}
TD.adminHeader
{
	color: #ff9500;
}
TD.adminHeader A:link
{
	color: #ff9500;
}
TD.adminHeader A:visited
{
	color: #ff9500;
}
TD.adminHeader A:active
{
	color: #ff9500;
}
TD.adminHeader A:hover
{
	color: #ff9500;
}
TD.deletedHeader
{
	color: #ff0000;
}
TD.askerHeader
{
	color: #000000;
}
TD.yourHeader
{
	color: #808080;
}
TD.memberProfile
{
	font-weight: bold;
	font-size: 12pt;
	font-family: Arial;
}
TD.expertCertification
{
	font-size: x-small;
	color: #000000;
}
.searchTerm
{
	color: #ff9500;
}
.searchResultInfo
{
	color: #808080;
}
.moreSolutions
{
	background: #e5eef3;
	float: right;
}
TD.logoLeft
{
	font-size: 11px;
	background: url(images/logoTopLeft.gif) #fff no-repeat;
	vertical-align: bottom;
	width: 1%;
	font-family: Arial;
	height: 60px;
}
TD.bgLogoRight
{
	background: url(images/bgLogoR.gif) #fff repeat-x left top;
	vertical-align: top;
	width: 98%;
	text-align: left;
}
TD.logoRight
{
	font-weight: bold;
	font-size: 12px;
	background: url(images/logoR.gif) no-repeat left top;
	vertical-align: top;
	width: 100%;
	color: #ffffff;
	padding-top: 5px;
	white-space: nowrap;
	text-align: right;
}
TD.logoRight UL
{
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
	list-style-type: none;
}
TD.logoRight UL LI
{
	padding-right: 0px;
	display: inline;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
}
TD.logoRightFade
{
	vertical-align: top;
	width: 1%;
}
TD.memberLinks
{
	font-size: x-small;
	width: 100%;
	white-space: nowrap;
	text-align: right;
}
TD.memberLinks UL
{
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
	list-style-type: none;
}
TD.memberLinks UL LI
{
	padding-right: 5px;
	display: inline;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
}
TD.memberLinks UL LI.last
{
	padding-right: 0px;
}
TD.memberLinks UL LI A
{
	padding-right: 10px;
	padding-left: 3px;
	padding-bottom: 2px;
	border-left: #d9d9d9 1px solid;
	padding-top: 0px;
	border-bottom: #dddddd 1px solid;
}
TD.memberLinks UL LI A:hover
{
	border-left: #000000 1px solid;
	border-bottom: #000000 1px solid;
}
TD.taMenu
{
	vertical-align: bottom;
	padding-top: 7px;
	white-space: nowrap;
}
A.siteLink:link
{
	color: #ffffff;
	text-decoration: none;
}
A.siteLink:visited
{
	color: #ffffff;
	text-decoration: none;
}
A.siteLink:active
{
	color: #ffffff;
	text-decoration: none;
}
A.siteLink:hover
{
	color: #ffffff;
	text-decoration: underline;
}
#advancedLinksColumn
{
	white-space: nowrap;
}
#pageLinksColumn
{
	white-space: nowrap;
}
#memberLinksColumn
{
	white-space: nowrap;
}
#advancedLinksColumn UL
{
	padding-right: 2px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
	list-style-type: none;
}
#pageLinksColumn UL
{
	padding-right: 2px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
	list-style-type: none;
}
#memberLinksColumn UL
{
	padding-right: 2px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
	list-style-type: none;
}
#advancedLinksColumn UL LI
{
	padding-right: 2px;
	padding-left: 2px;
	padding-bottom: 2px;
	padding-top: 2px;
	border-bottom: #ffffff 1px solid;
}
#pageLinksColumn UL LI
{
	padding-right: 2px;
	padding-left: 2px;
	padding-bottom: 2px;
	padding-top: 2px;
	border-bottom: #ffffff 1px solid;
}
#memberLinksColumn UL LI
{
	padding-right: 2px;
	padding-left: 2px;
	padding-bottom: 2px;
	padding-top: 2px;
	border-bottom: #ffffff 1px solid;
}
