<ng-template #autoLogOut>
  <div class="modal-header" style="    background-color: #ffe4d2;" (click)="modalRef2.hide()">
    <h5 class="modal-title pull-left"> {{timerValue}}</h5>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef2.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="background-color:#ffe4d2;" (click)="modalRef2.hide()">
    Click anywhere to continue working.
  </div>
</ng-template>

<div style="display: none; position: fixed; bottom: 59px; right: -4px; text-orientation: sideways; writing-mode: vertical-lr; color: lightgray; font-family: monospace; ">
  {{parent}}
</div>
<div style="display:none;position:fixed;bottom:34px; right:2px;color: lightgray;font-family: monospace;">
  {{seconds}}
</div>
