<div>
  <div class="row">
    <div class="col-sm">
      <label>Organization Type:</label>
      <ng-select [(ngModel)]="model.OrganizationTypeId" id="OrganizationTypeId" name="OrganizationTypeId"
                 [ngModelOptions]="{standalone: true}"
                 [items]="organizationTypeList" bindLabel="label"
                 bindValue="value" [selectOnTab]="true" (change)="addtoParameterList()"></ng-select>
    </div>
  </div>
  <!-- hidden field is need to feed back to parent -->
  <input type="hidden" id="customParameterList" />
</div>
