<?xml version="1.0" encoding="utf-8"?>
<loggingDistributorConfiguration>
  <xmlSerializerSection type="Microsoft.Practices.EnterpriseLibrary.Logging.Distributor.Configuration.DistributorSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null">
    <enterpriseLibrary.loggingDistributorSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" defaultCategory="General" defaultFormatter="Text Formatter" xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/loggingdistributor">
      <sinks>
        <sink xsi:type="CustomSinkData" name="Custom Database Trace Sink" type="Statline.Logging.Sinks.Database.CustomDatabaseSink, Statline, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
          <extensions name="DatabaseInstance" value="Error Instance" />
          <extensions name="StoredProcName" value="WriteTrace" />
        </sink>
        <sink xsi:type="DatabaseSinkData" name="Database Log Sink" databaseInstanceName="Error" storedProcName="WriteLog" />
        <sink xsi:type="DatabaseSinkData" name="Database Trace Sink" databaseInstanceName="Error" storedProcName="WriteTrace" />
        <sink xsi:type="EventLogSinkData" name="Event Log Sink" eventLogName="Application" eventSourceName="Enterprise Library Logging" />
        <sink xsi:type="FlatFileSinkData" name="Flat File Sink" fileName="trace.log" header="----------------------------------------" footer="----------------------------------------" />
        <sink xsi:type="EmailSinkData" name="Email Sink" toAddress="jhawkins@statline.org" fromAddress="StatFaxService@statline.org" subjectLineStarter="---------&gt;" subjectLineEnder="&lt;-------" smtpServer="st-exchange2007" />
        <sink xsi:type="EmailSinkData" name="Email OPS Sink" toAddress="jhawkins@statline.org" fromAddress="StatFaxService@statline.org" subjectLineStarter="---------&gt;" subjectLineEnder="&lt;-------" smtpServer="st-exchange2007" />
      </sinks>
      <categories>
        <category name="Application">
          <destinations>
            <destination name="Database Trace Destination" sink="Database Trace Sink" format="Text Formatter" />
          </destinations>
        </category>
        <category name="DBTrace">
          <destinations>
            <destination name="Database Trace Destination" sink="Database Trace Sink" format="Text Formatter" />
          </destinations>
        </category>
        <category name="General">
          <destinations>
            <destination name="Database Log Destination" sink="Database Log Sink" format="Text Formatter" />
          </destinations>
        </category>
        <category name="ImportMailError">
          <destinations>
            <destination name="Destination" sink="Email OPS Sink" format="Text Formatter" />/
          </destinations>
        </category>
        <category name="Notify">
          <destinations>
            <destination name="Destination" sink="Email Sink" format="Text Formatter" />
          </destinations>
        </category>
      </categories>
      <formatters>
        <formatter xsi:type="TextFormatterData" name="Text Formatter">
          <template><![CDATA[Timestamp: {timestamp}
Message: {message}
Category: {category}
Priority: {priority}
EventId: {eventid}
Severity: {severity}
Title:{title}
Machine: {machine}
Application Domain: {appDomain}
Process Id: {processId}
Process Name: {processName}
Win32 Thread Id: {win32ThreadId}
Thread Name: {threadName}
Extended Properties: {dictionary({key} - {value}
)}]]></template>
        </formatter>
      </formatters>
    </enterpriseLibrary.loggingDistributorSettings>
  </xmlSerializerSection>
</loggingDistributorConfiguration>