<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configBuilders>
    <builders>
      <!-- Docs are here https://docs.microsoft.com/en-us/aspnet/config-builder -->
      <add name="KeyVaultAutoImportSecrets" vaultName="kv-StatTrac-Prod" xdt:Transform="SetAttributes(vaultName)" xdt:Locator="Match(name)" />
    </builders>
  </configBuilders>
  <appSettings file="Local.Config" configBuilders="KeyVaultAutoImportSecrets">
    <add key="Email.UserName" value="importoffer@mtf.org" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key="Email.Password" value="importofferstatline" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key="ApplicationInsights.ConnectionString" value="InstrumentationKey=43d0ffba-2fec-439f-a78b-9e61d6724a2e;IngestionEndpoint=https://centralus-0.in.applicationinsights.azure.com/;LiveEndpoint=https://centralus.livediagnostics.monitor.azure.com/" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings>
    <add name="Logging" connectionString="Data Source=10.14.0.140;Initial Catalog=Logging;User ID=stReportlogUser;Password=P0voXGPoYAgXshcmteg3;" xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)" />
    <add name="Transaction" connectionString="Data Source=10.14.0.139;Initial Catalog=_ReferralProd;User ID=StSqlAutoImportUser;" xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)" />
  </connectionStrings>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="false"
    defaultCategory="Application" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add name="EmailOPSListener"
        toAddress="TriageLeadershipTeam@statline.org;it_support@mtf.org;"
        xdt:Locator="Match(name)"
        xdt:Transform="SetAttributes(toAddress)" />
    </listeners>
    <formatters>
      <add
        template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}"
        name="Text Formatter"
        xdt:Transform="SetAttributes(template)" xdt:Locator="Match(name)" />
    </formatters>
  </loggingConfiguration>
</configuration>