<?xml version="1.0" encoding="utf-8"?>
<securityConfiguration>
  <xmlSerializerSection type="Microsoft.Practices.EnterpriseLibrary.Security.Configuration.SecuritySettings, Microsoft.Practices.EnterpriseLibrary.Security, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null">
    <enterpriseLibrary.securitySettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" defaultAuthorizationInstance="RuleProvider" defaultAuthenticationInstance="Database Provider" defaultRolesInstance="Custom Roles Provider" defaultProfileInstance="" defaultSecurityCacheInstance="" xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/security">
      <rolesProviders>
        <rolesProvider xsi:type="CustomRolesProviderData" name="Custom Roles Provider" type="Statline.StatTrac.Web.Security.DBRolesProvider, Statline.StatTrac.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
          <extensions>
            <extension name="Database" value="Reporting" />
          </extensions>
        </rolesProvider>
      </rolesProviders>
      <authorizationProviders>
        <authorizationProvider xsi:type="AuthorizationRuleProviderData" name="RuleProvider">
          <rules>
            <rule name="Administrator" expression="R:Admininistrator" />
            <rule name="GeneralAdministration" expression="R:Administrator OR R:ClientAdmin OR R:ClientServices" />
            <rule name="ReportAccessGroup" expression="R:Administrator OR R:ClientAdmin OR R:ClientServices" />
            <rule name="ReportAccessGroupConfigure" expression="R:Administrator OR R:ClientServices" />
            <rule name="Role" expression="R:Administrator OR R:ClientAdmin OR R:ClientServices" />
            <rule name="RoleConfigure" expression="R:Administrator OR R:ClientAdmin OR R:ClientServices" />
            <rule name="UserConfigure" expression="R:Administrator OR R:ClientAdmin OR R:ClientServices" />
            <rule name="User" expression="R:Administrator OR R:User OR R:AdminUser OR R:ClientUser" />
            <rule name="BlockEventLog" expression="R:BlockEventLog AND (NOT R:ClientUser) AND (NOT R:Administrator) AND (NOT R:ClientAdmin) AND (NOT R:ClientServices)" />
            <rule name="Update" expression="R:Administrator OR R:&quot;Update Referral&quot; OR R:&quot;Update Event Log&quot; OR R:&quot;Update Schedule Shift&quot; OR R:&quot;Create Schedule Shift&quot; OR R:&quot;Delete Schedule Shift&quot; OR R:&quot;Referral Facility Compliance&quot;" />
            <rule name="ReferralUpdate" expression="R:Administrator OR R:&quot;Update Referral&quot;" />
            <rule name="EventLogUpdate" expression="R:Administrator OR R:&quot;Update Event Log&quot;" />
            <rule name="ScheduleSearch" expression="R:Administrator OR R:&quot;Update Schedule Shift&quot; OR R:&quot;Create Schedule Shift&quot; OR R:&quot;Delete Schedule Shift&quot;" />
            <rule name="ScheduleShiftUpdate" expression="R:Administrator OR R:&quot;Update Schedule Shift&quot; OR R:&quot;Delete Schedule Shift&quot;" />
            <rule name="ScheduleShiftDelete" expression="R:Administrator OR R:&quot;Delete Schedule Shift&quot;" />
            <rule name="ScheduleShiftCreate" expression="R:Administrator OR R:&quot;Create Schedule Shift&quot;" />
            <rule name="ReferralFacilityCompliance" expression="R:Administrator OR R:&quot;Referral Facility Compliance&quot;" />
            <rule name="QACreate" expression="R:Administrator" />
            <rule name="QAUpdate" expression="R:Administrator" />
          </rules>
        </authorizationProvider>
      </authorizationProviders>
      <authenticationProviders>
        <authenticationProvider xsi:type="DbAuthenticationProviderData" name="Database Provider" database="Reporting" hashProvider="Custom Hash Provider" />
      </authenticationProviders>
      <profileProviders />
      <securityCacheProviders />
    </enterpriseLibrary.securitySettings>
  </xmlSerializerSection>
</securityConfiguration>