.igpnl_StatlineReportsControl
{
	border:solid 1px #B4B4B4;
}


.igpnl_StatlineReportsPanel
{
	background-color:#F0F0F0;
}


.igpnl_StatlineReportsHeaderExpanded
{
	background-color:#C3C3C3;
	font-size:xx-small;
	font-family: Verdana;
	padding-top:3px;
	padding-bottom:3px;
	color:Black;
}


.igpnl_StatlineReportsHeaderCollapsed
{
}


.igpnl_StatlineReportsHeaderHover
{
	background-color:#D2D2D2;
}


.igpnl_StatlineReportsGroupBoxControl
{
	border:solid 1px #B4B4B4;
}


