<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add key="ApiUser" value="ApiAdmin"  xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="ApiPassword" value="{50ADAB2A-63C1-4919-B25F-87E213247FDD86DCB549-AE5A-45CC-B8C3-6C0124A21CC04AD9BC1D-ED75-4781-91F7-AD641112C1DB}" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="Dla.CertificateFile" value="~\bin\StatLine.prod.p12" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key="Dla.CertificatePassword" value="st@tl1n3" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key="Dla.AppId" value="T6s03RcFx65KmIa5os5SWw" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key="Dla.SearchUrl" value="https://www.registerme.org/api/registrants/search" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key="Dla.GetUrl" value="https://www.registerme.org/api/registrants/" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key="Dla.Token" value="https://www.registerme.org/api/token" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <connectionStrings>
    <!-- st-prodregsql -->
    <add name="RegistryConnection" connectionString="data source=192.168.48.120;initial catalog=DMV_Common;User ID=streportadmin;Password=report4dmin!;MultipleActiveResultSets=True;App=EntityFramework;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)"  />
    <!-- stsqloltp -->
    <add name="ReferralConnection" connectionString="data source=10.30.2.68;initial catalog=_ReferralProd;User ID=streportadmin;Password=report4dmin!;MultipleActiveResultSets=True;App=EntityFramework;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)" />
    <!-- sqlrpt -->
    <add name="Logging" connectionString="server=10.30.2.70;database=Logging;User ID=streportadmin;Password=report4dmin!;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)"   />
  </connectionStrings>
</configuration>