<?xml version="1.0" encoding="utf-8"?>
<dataConfiguration>
  <xmlSerializerSection type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null">
    <enterpriseLibrary.databaseSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" defaultInstance="Reporting" xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/data">
      <databaseTypes>
        <databaseType name="Sql Server" type="Microsoft.Practices.EnterpriseLibrary.Data.Sql.SqlDatabase, Microsoft.Practices.EnterpriseLibrary.Data, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null" />
      </databaseTypes>
      <instances>
        <instance name="Error" type="Sql Server" connectionString="Error Connection String" />
        <instance name="Reporting" type="Sql Server" connectionString="Report Connection String" />
        <instance name="Transaction" type="Sql Server" connectionString="Transaction Connection String" />
        <instance name="DataWarehouse" type="Sql Server" connectionString="DataWarehouse Connection String" />
        <instance name="CO" type="Sql Server" connectionString="DMV_CO Connection String" />
        <instance name="WY" type="Sql Server" connectionString="DMV_WY Connection String" />
        <instance name="CT" type="Sql Server" connectionString="DMV_CT Connection String" />
        <instance name="NH" type="Sql Server" connectionString="DMV_NH Connection String" />
        <instance name="MA" type="Sql Server" connectionString="DMV_MA Connection String" />
        <instance name="ME" type="Sql Server" connectionString="DMV_ME Connection String" />
        <instance name="RI" type="Sql Server" connectionString="DMV_RI Connection String" />
        <instance name="VT" type="Sql Server" connectionString="DMV_VT Connection String" />
        <instance name="NV" type="Sql Server" connectionString="DMV_NV Connection String" />
        <instance name="NE" type="Sql Server" connectionString="DMV_NE Connection String" />
        <instance name="HI" type="Sql Server" connectionString="DMV_HI Connection String" />
        <instance name="DMV_Common" type="Sql Server" connectionString="DMV_Common Connection String" />
      </instances>
      <connectionStrings>
        <connectionString name="DataWarehouse Connection String">
          <parameters>
            <parameter name="database" value="_ReferralDev_DataWarehouse" isSensitive="false" />
            <parameter name="Integrated Security" value="False" isSensitive="false" />
            <parameter name="password" value="stattrac" isSensitive="true" />
            <parameter name="server" value="st-devsql" isSensitive="false" />
            <parameter name="user" value="streportadmin" isSensitive="false" />
          </parameters>
        </connectionString>
        <connectionString name="Error Connection String">
          <parameters>
            <parameter name="database" value="_ErrorProd" isSensitive="false" />
            <parameter name="Integrated Security" value="False" isSensitive="false" />
            <parameter name="password" value="stattrac" isSensitive="true" />
            <parameter name="server" value="st-devsql" isSensitive="false" />
            <parameter name="user" value="streportadmin" isSensitive="false" />
          </parameters>
        </connectionString>
        <connectionString name="Report Connection String">
          <parameters>
            <parameter name="database" value="ReferralTest" isSensitive="false" />
            <parameter name="Integrated Security" value="false" isSensitive="false" />
            <parameter name="password" value="stattrac" isSensitive="true" />
            <parameter name="server" value="st-devsql" isSensitive="false" />
            <parameter name="user" value="streportadmin" isSensitive="false" />
          </parameters>
        </connectionString>
        <connectionString name="Transaction Connection String">
          <parameters>
            <parameter name="database" value="ReferralTest" isSensitive="false" />
            <parameter name="Integrated Security" value="False" isSensitive="false" />
            <parameter name="password" value="stattrac" isSensitive="true" />
            <parameter name="server" value="st-devsql" isSensitive="false" />
            <parameter name="user" value="streportadmin" isSensitive="false" />
          </parameters>
        </connectionString>
        <connectionString name="DMV_CO Connection String">
          <parameters>
            <parameter name="database" value="DMV_CO" isSensitive="false" />
            <parameter name="Integrated Security" value="false" isSensitive="false" />
            <parameter name="password" value="stattrac" isSensitive="true" />
            <parameter name="server" value="st-TestRegSql" isSensitive="false" />
            <parameter name="user" value="streportadmin" isSensitive="false" />
          </parameters>
        </connectionString>
        <connectionString name="DMV_WY Connection String">
          <parameters>
            <parameter name="database" value="DMV_WY" isSensitive="false" />
            <parameter name="Integrated Security" value="false" isSensitive="false" />
            <parameter name="password" value="stattrac" isSensitive="true" />
            <parameter name="server" value="st-TestRegSql" isSensitive="false" />
            <parameter name="user" value="streportadmin" isSensitive="false" />
          </parameters>
        </connectionString>
        <connectionString name="DMV_CT Connection String">
          <parameters>
            <parameter name="database" value="DMV_CT" isSensitive="false" />
            <parameter name="Integrated Security" value="false" isSensitive="false" />
            <parameter name="password" value="stattrac" isSensitive="true" />
            <parameter name="server" value="st-TestRegSql" isSensitive="false" />
            <parameter name="user" value="streportadmin" isSensitive="false" />
          </parameters>
        </connectionString>
        <connectionString name="DMV_MA Connection String">
          <parameters>
            <parameter name="database" value="DMV_MA" isSensitive="false" />
            <parameter name="Integrated Security" value="false" isSensitive="false" />
            <parameter name="password" value="stattrac" isSensitive="true" />
            <parameter name="server" value="st-TestRegSql" isSensitive="false" />
            <parameter name="user" value="streportadmin" isSensitive="false" />
          </parameters>
        </connectionString>
        <connectionString name="DMV_ME Connection String">
          <parameters>
            <parameter name="database" value="DMV_ME" isSensitive="false" />
            <parameter name="Integrated Security" value="false" isSensitive="false" />
            <parameter name="password" value="stattrac" isSensitive="true" />
            <parameter name="server" value="st-TestRegSql" isSensitive="false" />
            <parameter name="user" value="streportadmin" isSensitive="false" />
          </parameters>
        </connectionString>
        <connectionString name="DMV_NH Connection String">
          <parameters>
            <parameter name="database" value="DMV_NH" isSensitive="false" />
            <parameter name="Integrated Security" value="false" isSensitive="false" />
            <parameter name="password" value="stattrac" isSensitive="true" />
            <parameter name="server" value="st-TestRegSql" isSensitive="false" />
            <parameter name="user" value="streportadmin" isSensitive="false" />
          </parameters>
        </connectionString>
        <connectionString name="DMV_RI Connection String">
          <parameters>
            <parameter name="database" value="DMV_RI" isSensitive="false" />
            <parameter name="Integrated Security" value="false" isSensitive="false" />
            <parameter name="password" value="stattrac" isSensitive="true" />
            <parameter name="server" value="st-TestRegSql" isSensitive="false" />
            <parameter name="user" value="streportadmin" isSensitive="false" />
          </parameters>
        </connectionString>
        <connectionString name="DMV_VT Connection String">
          <parameters>
            <parameter name="database" value="DMV_VT" isSensitive="false" />
            <parameter name="Integrated Security" value="false" isSensitive="false" />
            <parameter name="password" value="stattrac" isSensitive="true" />
            <parameter name="server" value="st-TestRegSql" isSensitive="false" />
            <parameter name="user" value="streportadmin" isSensitive="false" />
          </parameters>
        </connectionString>
        <connectionString name="DMV_NV Connection String">
          <parameters>
            <parameter name="database" value="DMV_NV" isSensitive="false" />
            <parameter name="Integrated Security" value="false" isSensitive="false" />
            <parameter name="password" value="stattrac" isSensitive="true" />
            <parameter name="server" value="st-TestRegSql" isSensitive="false" />
            <parameter name="user" value="streportadmin" isSensitive="false" />
          </parameters>
        </connectionString>
        <connectionString name="DMV_NE Connection String">
          <parameters>
            <parameter name="database" value="DMV_NE" isSensitive="false" />
            <parameter name="Integrated Security" value="false" isSensitive="false" />
            <parameter name="password" value="stattrac" isSensitive="true" />
            <parameter name="server" value="st-TestRegSql" isSensitive="false" />
            <parameter name="user" value="streportadmin" isSensitive="false" />
          </parameters>
        </connectionString>
        <connectionString name="DMV_Common Connection String">
          <parameters>
            <parameter name="database" value="DMV_Common" isSensitive="false" />
            <parameter name="Integrated Security" value="false" isSensitive="false" />
            <parameter name="password" value="stattrac" isSensitive="true" />
            <parameter name="server" value="st-TestRegSql" isSensitive="false" />
            <parameter name="user" value="streportadmin" isSensitive="false" />
          </parameters>
        </connectionString>
        <connectionString name="DMV_HI Connection String">
          <parameters>
            <parameter name="database" value="DMV_HI" isSensitive="false" />
            <parameter name="Integrated Security" value="false" isSensitive="false" />
            <parameter name="password" value="stattrac" isSensitive="true" />
            <parameter name="server" value="st-TestRegSql" isSensitive="false" />
            <parameter name="user" value="streportadmin" isSensitive="false" />
          </parameters>
        </connectionString>
      </connectionStrings>
    </enterpriseLibrary.databaseSettings>
  </xmlSerializerSection>
</dataConfiguration>