<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="securityConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Security.Configuration.SecuritySettings, Microsoft.Practices.EnterpriseLibrary.Security, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="exceptionManagement" type="Microsoft.ApplicationBlocks.ExceptionManagement.ExceptionManagerSectionHandler,Microsoft.ApplicationBlocks.ExceptionManagement" />
  </configSections>
  <securityConfiguration>
    <authorizationProviders>
      <add type="Microsoft.Practices.EnterpriseLibrary.Security.AuthorizationRuleProvider, Microsoft.Practices.EnterpriseLibrary.Security, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Authorization Rule Provider">
        <rules>
          <add name="Administration" expression="R:Administrator" />
          <add name="Enrollment" expression="R:Administrator OR R:&quot;NEOB: Read-Only Registry Site - Permission&quot; OR R:&quot;NEOB: Update/Delete Registry Site - Permission&quot;" />
          <add name="DynamicEnrollment" expression="R:Administrator OR R:&quot;Dynamic: Read-Only Registry Site - Permission&quot;OR R:&quot;Dynamic: Update/Delete Registry Site - Permission&quot;" />
          <add name="Search" expression="R:Administrator OR R:&quot;NEOB: Read-Only Registry Site - Permission&quot; OR R:&quot;NEOB: Update/Delete Registry Site - Permission&quot; OR R:&quot;Dynamic: Read-Only Registry Site - Permission&quot;OR R:&quot;Dynamic: Update/Delete Registry Site - Permission&quot;" />
          <add name="RegistryUpdate" expression="R:Administrator OR R:&quot;NEOB: Update/Delete Registry Site - Permission&quot; OR R:&quot;Dynamic: Update/Delete Registry Site - Permission&quot;" />
          <add name="MaintainCategory" expression="R:Administrator OR R:&quot;NEOB: Update/Delete Registry Site - Permission&quot; OR R:&quot;Dynamic: Update/Delete Registry Site - Permission&quot;" />
        </rules>
      </add>
    </authorizationProviders>
  </securityConfiguration>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="Application" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add name="Database Log Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.Database.FormattedDatabaseTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Database.Configuration.FormattedDatabaseTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" databaseInstanceName="Error" writeLogStoredProcName="WriteLog" addCategoryStoredProcName="AddCategory" formatter="Text Formatter" traceOutputOptions="None" />
      <add name="Database Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.Database.FormattedDatabaseTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Database.Configuration.FormattedDatabaseTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" databaseInstanceName="Error" writeLogStoredProcName="WriteLog" addCategoryStoredProcName="AddCategory" formatter="Text Formatter" traceOutputOptions="None" />
      <add name="EventLogData" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" source="Enterprise Library Logging" log="Application" formatter="Text Formatter" />
      <add name="FlatFileData" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="trace.log" formatter="Text Formatter" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}" name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="Application">
        <listeners>
          <add name="Database Trace Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="DBTrace">
        <listeners>
          <add name="Database Trace Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Database Log Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Database Trace Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <connectionStrings>
    <!--testsql-->
    <add name="Error" connectionString="Data Source=10.30.2.74;Initial Catalog=Logging;User ID=streportadmin;Password=report4dmin!;"
      providerName="System.Data.SqlClient" />
    <!--testsql-->
    <add name="Reporting" connectionString="Data Source=10.30.2.74;Initial Catalog=ReferralTest;User ID=streportadmin;Password=report4dmin!;"
      providerName="System.Data.SqlClient" />
    <!--testsql-->
    <add name="Transaction" connectionString="Data Source=10.30.2.74;Initial Catalog=ReferralTest;User ID=streportadmin;Password=report4dmin!;"
      providerName="System.Data.SqlClient" />
    <!--testsql-->
    <add name="DataWarehouse" connectionString="Data Source=10.30.2.74;Initial Catalog=_ReferralProd_DataWarehouse;User ID=streportadmin;Password=report4dmin!;"
      providerName="System.Data.SqlClient" />
    <!--st-testregsql-->
    <add name="CO" connectionString="Data Source=192.168.48.119;Initial Catalog=DMV_CO;User ID=streportadmin;Password=report4dmin!;"
      providerName="System.Data.SqlClient" />
    <!--st-testregsql-->
    <add name="WY" connectionString="Data Source=192.168.48.119;Initial Catalog=DMV_WY;User ID=streportadmin;Password=report4dmin!;"
      providerName="System.Data.SqlClient" />
    <!--st-testregsql-->
    <add name="CT" connectionString="Data Source=192.168.48.119;Initial Catalog=DMV_CT;User ID=streportadmin;Password=report4dmin!;"
      providerName="System.Data.SqlClient" />
    <!--st-testregsql--><add name="MA" connectionString="Data Source=192.168.48.119;Initial Catalog=DMV_MA;User ID=streportadmin;Password=report4dmin!;"
      providerName="System.Data.SqlClient" />
    <!--st-testregsql-->
    <add name="ME" connectionString="Data Source=192.168.48.119;Initial Catalog=DMV_ME;User ID=streportadmin;Password=report4dmin!;"
      providerName="System.Data.SqlClient" />
    <!--st-testregsql-->
    <add name="NH" connectionString="Data Source=192.168.48.119;Initial Catalog=DMV_NH;User ID=streportadmin;Password=report4dmin!;"
      providerName="System.Data.SqlClient" />
    <!--st-testregsql-->
    <add name="RI" connectionString="Data Source=192.168.48.119;Initial Catalog=DMV_RI;User ID=streportadmin;Password=report4dmin!;"
      providerName="System.Data.SqlClient" />
    <!--st-testregsql-->
    <add name="VT" connectionString="Data Source=192.168.48.119;Initial Catalog=DMV_VT;User ID=streportadmin;Password=report4dmin!;"
      providerName="System.Data.SqlClient" />
    <!--st-testregsql-->
    <add name="NV" connectionString="Data Source=192.168.48.119;Initial Catalog=DMV_NV;User ID=streportadmin;Password=report4dmin!;"
      providerName="System.Data.SqlClient" />
    <!--st-testregsql-->
    <add name="NE" connectionString="Data Source=192.168.48.119;Initial Catalog=DMV_NE;User ID=streportadmin;Password=report4dmin!;"
      providerName="System.Data.SqlClient" />
    <!--st-testregsql-->
    <add name="HI" connectionString="Data Source=192.168.48.119;Initial Catalog=DMV_HI;User ID=streportadmin;Password=report4dmin!;"
      providerName="System.Data.SqlClient" />
    <!--st-testregsql-->
    <add name="DMV_Common" connectionString="Data Source=192.168.48.119;Initial Catalog=DMV_Common;User ID=streportadmin;Password=report4dmin!;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings file="Local.Config">
    <add key="Application.Name" value="Statline Registry" />
    <add key="Application.CookieName" value="StatlineRegistryCookie" />
    <add key="Application.CookieDomain" value="" />
    <add key="Application.Title" value="Donor Registry Portal Maintained by" />
    <add key="Application.Enabled" value="true" />
    <add key="Live.Mode" value="false" />
    <add key="DataBase.CommandTimeOut" value="240" />
    <add key="Mail.Server" value="smtp.office365.com" />
    <add key="Email.UserName" value="statservices@statline.org" />
    <add key="Email.Password" value="Stat0615Mail" />
    <add key="Email.Port" value="587" />
    <add key="MasterPages.Policy" value="~/Framework/Templates/BasicView.ascx" />
    <add key="Navigation.MenuFileName" value="~/Framework/Navigation/Data/BasicMenuData.xml" />
    <add key="ErrorDBConnectionString" value="ZltYIVJDrm1rWCrlLU8Qfkrpg5x7Krza2ySWQMvDgskup92vHHKoLHiT8tOuErPgpHtVsLIAtaiVsQhADLqlwnb5aC9k/OjbivTd2oeiZVk=//////d57VWZQ7XE819xyoqnbW2A==" />
    <add key="PK" value="AQIDBAUGBwgJEBESExQVFg==" />
    <add key="Developer.Emails" value="bret.knoll@statline.org;mmaitan@statline.org" />
    <add key="Maintenance.Flag" value="false" />
    <add key="Maintenance.Message" value="Statline Report is down for routine maintenance.&lt;br&gt;Please try again later." />
    <add key="ReportingServices.Url" value="http://192.168.48.68/ReportServer" />
    <add key="Statline.Registry.Web.UI.ReportService.ReportingService" value="http://192.168.48.68/ReportServer/ReportService.asmx" />
    <add key="StatlineAllReferrals" value="Statline- All Referrals (Triage &amp; FS)" />
    <add key="IDology.Username" value="statline" />
    <add key="IDology.Password" value="2LtqBJVy8meqhu1m1dmSDA==//////6GNSLaHVSU9oCLP8VkzYFA==" />
    <add key="IDology.WebServiceRequestURL" value="https://web.idologylive.com/api/idiq.svc" />
    <add key="IDology.WebServiceQuestionsURL" value="https://web.idologylive.com/api/idliveq-answers.svc" />
    <add key="IDology.WebServiceChallengeURL" value="https://web.idologylive.com/api/idliveq-challenge.svc" />
    <add key="IDology.WebServiceChallengeAnswersURL" value="https://web.idologylive.com/api/idliveq-challenge-answers.svc" />
    <add key="IDology.RequestTypeNew" value="New" />
    <add key="IDology.RequestTypeQuestion" value="Question" />
    <add key="IDology.RequestTypeChallenge" value="Challenge" />
    <add key="IDology.RequestTypeChallengeQuestion" value="ChallengeQuestion" />
    <add key="IDology.CustomerServicePhoneNumber" value="(866-520-1234)" />
    <add key="MenuName.HomeMenu" value="RegistrySearch" />
    <add key="Routes.Enrollment" value="Register/{Owner}/{language}" />
  </appSettings>
  <exceptionManagement mode="on">
    <publisher assembly="Statline" type="Statline.Diagnostic.ErrorProdExceptionPublisher" />
  </exceptionManagement>
  <runtime>
    <NetFx40_LegacySecurityPolicy enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Interception" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Data" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Configuration" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.19.4.11002" newVersion="3.19.4.11002" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory.Platform" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.19.4.11002" newVersion="3.19.4.11002" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.414.0" newVersion="5.0.414.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Caching" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.414.0" newVersion="5.0.414.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
  <system.web>
    <httpHandlers>
      <!-- <remove verb="*" path="*.asmx"/> -->
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
    </httpHandlers>
    <customErrors mode="Off" defaultRedirect="GeneralError.aspx" />
    <authentication mode="Forms">
      <forms name="statline" loginUrl="Login.aspx" timeout="60" path="/" protection="All" />
    </authentication>
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.6.2">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <trace enabled="false" requestLimit="100" pageOutput="true" traceMode="SortByTime" localOnly="true" />
    <sessionState mode="InProc" sqlConnectionString="" cookieless="false" timeout="60" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <httpRuntime executionTimeout="600" />
    <authorization>
      <deny users="?" />
      <allow users="*" />
    </authorization>
    <xhtmlConformance mode="Legacy" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <location path="Register">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="CustomErrors">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="LoginFailure.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <defaultDocument>
      <files>
        <add value="DonorEnroll.shml" />
      </files>
    </defaultDocument>
    <modules>
      <remove name="Session" />
      <add name="Session" type="System.Web.SessionState.SessionStateModule" preCondition="" />
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated" />
      <add name="StatlineSLS" path="*.sls" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\SysWow64\inetsrv\asp.dll" resourceType="Unspecified" requireAccess="Script" preCondition="bitness32" />
      <add name="StatlineSHM" path="*.shm" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\SysWOW64\inetsrv\asp.dll" resourceType="Unspecified" preCondition="bitness32" />
      <add name="StatlineSHML" path="*.shml" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\SysWOW64\inetsrv\asp.dll" resourceType="Unspecified" preCondition="bitness32" />
    </handlers>
    <httpErrors>
      <remove statusCode="403" subStatusCode="-1" />
      <error statusCode="403" prefixLanguageFilePath="" path="/CustomErrors/HttpsRedirect.aspx" responseMode="ExecuteURL" />
    </httpErrors>
    <tracing>
      <traceFailedRequests>
        <add path="*">
          <traceAreas>
            <add provider="ASP" verbosity="Verbose" />
            <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
            <add provider="ISAPI Extension" verbosity="Verbose" />
            <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI" verbosity="Verbose" />
          </traceAreas>
          <failureDefinitions statusCodes="500" />
        </add>
      </traceFailedRequests>
    </tracing>
  </system.webServer>
</configuration>