SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[spi_Audit_Secondary2]') and OBJECTPROPERTY(id,
		N'IsProcedure') = 1)
drop procedure [dbo].[spi_Audit_Secondary2]
GO

create procedure "spi_Audit_Secondary2" 
	@c1 int,
	@c2 int,
	@c3 varchar(25),
	@c4 datetime,
	@c5 datetime,
	@c6 int,
	@c7 varchar(25),
	@c8 datetime,
	@c9 datetime,
	@c10 int,
	@c11 varchar(25),
	@c12 datetime,
	@c13 datetime,
	@c14 int,
	@c15 varchar(25),
	@c16 datetime,
	@c17 datetime,
	@c18 int,
	@c19 varchar(25),
	@c20 datetime,
	@c21 datetime,
	@c22 int,
	@c23 varchar(25),
	@c24 varchar(25),
	@c25 varchar(25),
	@c26 int,
	@c27 varchar(25),
	@c28 varchar(25),
	@c29 varchar(25),
	@c30 int,
	@c31 varchar(25),
	@c32 varchar(25),
	@c33 varchar(25),
	@c34 int,
	@c35 varchar(25),
	@c36 varchar(25),
	@c37 varchar(25),
	@c38 int,
	@c39 varchar(25),
	@c40 varchar(25),
	@c41 varchar(25),
	@c42 int,
	@c43 varchar(25),
	@c44 varchar(25),
	@c45 varchar(25),
	@c46 int,
	@c47 varchar(25),
	@c48 varchar(25),
	@c49 varchar(25),
	@c50 int,
	@c51 varchar(25),
	@c52 varchar(25),
	@c53 varchar(25),
	@c54 int,
	@c55 varchar(25),
	@c56 varchar(25),
	@c57 varchar(25),
	@c58 smalldatetime,
	@c59 varchar(25),
	@c60 varchar(25),
	@c61 smalldatetime,
	@c62 varchar(25),
	@c63 varchar(25),
	@c64 smalldatetime,
	@c65 varchar(25),
	@c66 varchar(25),
	@c67 varchar(25),
	@c68 smalldatetime,
	@c69 varchar(10),
	@c70 varchar(25),
	@c71 smalldatetime,
	@c72 varchar(10),
	@c73 varchar(25),
	@c74 smalldatetime,
	@c75 varchar(10),
	@c76 int,
	@c77 varchar(50),
	@c78 smalldatetime,
	@c79 varchar(25),
	@c80 int,
	@c81 varchar(50),
	@c82 smalldatetime,
	@c83 varchar(25),
	@c84 int,
	@c85 varchar(50),
	@c86 smalldatetime,
	@c87 varchar(25),
	@c88 int,
	@c89 smalldatetime,
	@c90 varchar(255),
	@c91 smalldatetime,
	@c92 varchar(255),
	@c93 smalldatetime,
	@c94 varchar(255),
	@c95 varchar(25),
	@c96 varchar(25),
	@c97 varchar(25),
	@c98 varchar(25),
	@c99 varchar(25),
	@c100 varchar(25),
	@c101 varchar(25),
	@c102 varchar(25),
	@c103 varchar(25),
	@c104 varchar(25),
	@c105 varchar(25),
	@c106 varchar(25),
	@c107 varchar(25),
	@c108 varchar(25),
	@c109 int,
	@c110 int,
	@c111 smalldatetime

AS
BEGIN


insert into 
	"Secondary2"
	( 
		"CallID",
		"SecondaryAntibiotic1Name",
		"SecondaryAntibiotic1Dose",
		"SecondaryAntibiotic1StartDate",
		"SecondaryAntibiotic1EndDate",
		"SecondaryAntibiotic2Name",
		"SecondaryAntibiotic2Dose",
		"SecondaryAntibiotic2StartDate",
		"SecondaryAntibiotic2EndDate",
		"SecondaryAntibiotic3Name",
		"SecondaryAntibiotic3Dose",
		"SecondaryAntibiotic3StartDate",
		"SecondaryAntibiotic3EndDate",
		"SecondaryAntibiotic4Name",
		"SecondaryAntibiotic4Dose",
		"SecondaryAntibiotic4StartDate",
		"SecondaryAntibiotic4EndDate",
		"SecondaryAntibiotic5Name",
		"SecondaryAntibiotic5Dose",
		"SecondaryAntibiotic5StartDate",
		"SecondaryAntibiotic5EndDate",
		"SecondaryBloodProductsReceived1Type",
		"SecondaryBloodProductsReceived1Units",
		"SecondaryBloodProductsReceived1TypeCC",
		"SecondaryBloodProductsReceived1TypeUnitGiven",
		"SecondaryBloodProductsReceived2Type",
		"SecondaryBloodProductsReceived2Units",
		"SecondaryBloodProductsReceived2TypeCC",
		"SecondaryBloodProductsReceived2TypeUnitGiven",
		"SecondaryBloodProductsReceived3Type",
		"SecondaryBloodProductsReceived3Units",
		"SecondaryBloodProductsReceived3TypeCC",
		"SecondaryBloodProductsReceived3TypeUnitGiven",
		"SecondaryColloidsInfused1Type",
		"SecondaryColloidsInfused1Units",
		"SecondaryColloidsInfused1CC",
		"SecondaryColloidsInfused1UnitGiven",
		"SecondaryColloidsInfused2Type",
		"SecondaryColloidsInfused2Units",
		"SecondaryColloidsInfused2CC",
		"SecondaryColloidsInfused2UnitGiven",
		"SecondaryColloidsInfused3Type",
		"SecondaryColloidsInfused3Units",
		"SecondaryColloidsInfused3CC",
		"SecondaryColloidsInfused3UnitGiven",
		"SecondaryCrystalloids1Type",
		"SecondaryCrystalloids1Units",
		"SecondaryCrystalloids1CC",
		"SecondaryCrystalloids1UnitGiven",
		"SecondaryCrystalloids2Type",
		"SecondaryCrystalloids2Units",
		"SecondaryCrystalloids2CC",
		"SecondaryCrystalloids2UnitGiven",
		"SecondaryCrystalloids3Type",
		"SecondaryCrystalloids3Units",
		"SecondaryCrystalloids3CC",
		"SecondaryCrystalloids3UnitGiven",
		"SecondaryWBC1Date",
		"SecondaryWBC1",
		"SecondaryWBC1Bands",
		"SecondaryWBC2Date",
		"SecondaryWBC2",
		"SecondaryWBC2Bands",
		"SecondaryWBC3Date",
		"SecondaryWBC3",
		"SecondaryWBC3Bands",
		"SecondaryLabTemp1",
		"SecondaryLabTemp1Date",
		"SecondaryLabTemp1Time",
		"SecondaryLabTemp2",
		"SecondaryLabTemp2Date",
		"SecondaryLabTemp2Time",
		"SecondaryLabTemp3",
		"SecondaryLabTemp3Date",
		"SecondaryLabTemp3Time",
		"SecondaryCulture1Type",
		"SecondaryCulture1Other",
		"SecondaryCulture1DrawnDate",
		"SecondaryCulture1Growth",
		"SecondaryCulture2Type",
		"SecondaryCulture2Other",
		"SecondaryCulture2DrawnDate",
		"SecondaryCulture2Growth",
		"SecondaryCulture3Type",
		"SecondaryCulture3Other",
		"SecondaryCulture3DrawnDate",
		"SecondaryCulture3Growth",
		"SecondaryCXRAvailable",
		"SecondaryCXR1Date",
		"SecondaryCXR1Finding",
		"SecondaryCXR2Date",
		"SecondaryCXR2Finding",
		"SecondaryCXR3Date",
		"SecondaryCXR3Finding",
		"SecondaryAntibiotic1NameOther",
		"SecondaryAntibiotic2NameOther",
		"SecondaryAntibiotic3NameOther",
		"SecondaryAntibiotic4NameOther",
		"SecondaryAntibiotic5NameOther",
		"SecondaryBloodProductsReceived1TypeOther",
		"SecondaryBloodProductsReceived2TypeOther"
 ,
		"SecondaryBloodProductsReceived3TypeOther",
		"SecondaryColloidsInfused1TypeOther",
		"SecondaryColloidsInfused2TypeOther",
		"SecondaryColloidsInfused3TypeOther",
		"SecondaryCrystalloids1TypeOther",
		"SecondaryCrystalloids2TypeOther",
		"SecondaryCrystalloids3TypeOther",
		"LastStatEmployeeID",
		"AuditLogTypeID",
		"LastModified"
 )

values 
	( 
		@c1,
		@c2,
		@c3,
		@c4,
		@c5,
		@c6,
		@c7,
		@c8,
		@c9,
		@c10,
		@c11,
		@c12,
		@c13,
		@c14,
		@c15,
		@c16,
		@c17,
		@c18,
		@c19,
		@c20,
		@c21,
		@c22,
		@c23,
		@c24,
		@c25,
		@c26,
		@c27,
		@c28,
		@c29,
		@c30,
		@c31,
		@c32,
		@c33,
		@c34,
		@c35,
		@c36,
		@c37,
		@c38,
		@c39,
		@c40,
		@c41,
		@c42,
		@c43,
		@c44,
		@c45,
		@c46,
		@c47,
		@c48,
		@c49,
		@c50,
		@c51,
		@c52,
		@c53,
		@c54,
		@c55,
		@c56,
		@c57,
		@c58,
		@c59,
		@c60,
		@c61,
		@c62,
		@c63,
		@c64,
		@c65,
		@c66,
		@c67,
		@c68,
		@c69,
		@c70,
		@c71,
		@c72,
		@c73,
		@c74,
		@c75,
		@c76,
		@c77,
		@c78,
		@c79,
		@c80,
		@c81,
		@c82,
		@c83,
		@c84,
		@c85,
		@c86,
		@c87,
		@c88,
		@c89,
		@c90,
		@c91,
		@c92,
		@c93,
		@c94,
		@c95,
		@c96,
		@c97,
		@c98,
		@c99,
		@c100,
		@c101,
		@c102,
		@c103,
		@c104,
		@c105,
		@c106,
		@c107,
		@c108,
		@c109,
		@c110,
		@c111
	)


END

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

