<?xml version="1.0"?>
<configuration>
  <system.web>
    <httpHandlers/>
    <authentication mode="Forms"/>
  </system.web>
  <location path="CustomErrors">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="statline.sls"/>
      </files>
    </defaultDocument>
    <handlers>
      <add name="StatlineSLS" path="*.sls" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\SysWow64\inetsrv\asp.dll" resourceType="Unspecified" requireAccess="Script" preCondition="bitness32"/>
      <add name="StatlineSHM" path="*.shm" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\SysWOW64\inetsrv\asp.dll" resourceType="Unspecified" preCondition="bitness32"/>
      <add name="StatlineSHML" path="*.shml" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\SysWOW64\inetsrv\asp.dll" resourceType="Unspecified" preCondition="bitness32"/>
      <add name="StatlineSLF" path="*.slf" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\SysWOW64\inetsrv\asp.dll" resourceType="Unspecified" preCondition="bitness32"/>
    </handlers>
    <httpErrors>
      <remove statusCode="403" subStatusCode="-1"/>
      <error statusCode="403" subStatusCode="-1" prefixLanguageFilePath="" path="/CustomErrors/HttpsRedirect.aspx" responseMode="ExecuteURL"/>
    </httpErrors>
  </system.webServer>
</configuration>