@{
    ViewData["Title"] = "Inactive Account";
}

<header>
    <h1 class="text-danger">Inactive Account</h1>
    <p>This account is not recognized. Please contact StatLine for assistance.</p>
</header>
