<div style="width:100%;margin-top:75px;">
  <div [hidden]="message == null || message == '' " class="timeOutMessage">{{message}}</div>
  <div class="card resetPasswordCard">
    <h2 style="text-align:center">Reset Password</h2>
    <form>
      <label [hidden]="resend">Enter your user name below and an email will be sent with your password to the email account we have on file. If you don’t receive an email please contact the Statline Help Desk at  866-344-7039. </label>
      <div class="form-group" style="margin-top:25px;" [style.text-align]="resend ? 'center' : 'left'">
        <label [hidden]="resend">User Name</label>
        <label [hidden]="!resend" class="passwordResetSent">
          Your Password has been sent. If you do not receive an email, please check your Junk folder. If you have any questions, please contact Help Desk @ 1-866-344-7039.<br />
        </label>

        <input [hidden]="resend" type="text" class="form-control" [(ngModel)]="username"
               [ngModelOptions]="{standalone: true}" id="username" name="username" aria-describedby="username"
               placeholder="User Name" required>
      </div>

      <div style="width:100%;text-align:center">
        <button [hidden]="resend" [disabled]="showSpinner || username==''" type="submit" class="btn btn-primary loginButton" (click)="reset();">
          Send Link
          <span *ngIf="showSpinner"><i class="fa fa-spinner fa-spin"></i></span>
        </button>
        <a class="backToLogin" [routerLink]="['/']">Back to Login</a>
      </div>
      <div class="form-error" style="font-size:1.1em" [hidden]="error=='' || passwordHasChanged">{{error}}</div>
    </form>
  </div>
</div>
